<div mat-dialog-content>
    <app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>
  
    <h1 mat-dialog-title style="font-weight: bold; text-align: center">Ajustes</h1>
  
    <div class="row">
      
      <div class="col-sm-1"></div>
      <div class="col-sm-10">

        <div class="row">
          <div class="col-sm-6">Subcomisión</div><div class="col-sm-6">{{DatosComision.subcomision}}</div>
          <ng-container *ngFor="let Datos of DatosImpuestos">
              <div class="col-sm-6" style="font-weight: bold;">{{Datos.nombre_impuesto}}</div><div class="col-sm-6">{{Datos.valor | number : '1.2-2'}}</div>
          </ng-container>
          <div class="col-sm-6">Comisión</div><div class="col-sm-6">{{DatosComision.comision}}</div>

          <div class="col-sm-12" style="padding: 10px;"></div>

          <div class="col-sm-12">
              <mat-form-field class="full-width">
                <input matInput placeholder="Ajuste" type="number" required [(ngModel)]="DatosComision.ajuste" #ajuste="ngModel" (keyup)="cambiarComisionFinal()">
              </mat-form-field>
          </div>

          <div class="col-sm-12">
              <mat-form-field class="full-width">
                <!-- <input matInput placeholder="Comisión a pagar" type="number" required [(ngModel)]="DatosComision.comision_final" #comision_final="ngModel"> -->
                <input matInput placeholder="Comisión a pagar" type="number" required [(ngModel)]="DatosComision.comision" #comision_final="ngModel">
              </mat-form-field>
          </div>

          <div class="col-sm-12">
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="fecha_pago" placeholder="Fecha pago comisión" [(ngModel)]="DatosComision.fecha_pago">
              <mat-datepicker-toggle matSuffix [for]="fecha_pago"></mat-datepicker-toggle>
              <mat-datepicker #fecha_pago></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-sm-12">
            <mat-form-field class="full-width"> 
              <mat-select placeholder="Forma de pago" [(ngModel)]="DatosComision.id_forma_pago" (selectionChange)="cambioFormaPago()">
                <mat-option *ngFor="let datos of Formulario.FormDatos['Forma_Pago']" [value]="datos.id">
                  {{datos.forma_pago}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-12">
            <mat-form-field class="full-width"> 
              <mat-select placeholder="Cuenta" [(ngModel)]="DatosComision.id_cuenta">
                <mat-option *ngFor="let datos of Formulario.FormDatos['Cuenta']" [value]="datos.id">
                  {{datos.cuenta}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


        </div>
  
      </div>
      <div class="col-sm-1"></div>
  
    </div>
  
      <button style="margin-bottom: 120px;" class="boton derecha" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarComision()">Pagar</button>
  
  </div>