<div class="contenido clientes">
	<!-- <h1 class="primario-mas-claro" en="fondo">Administracion/Pagos</h1> -->

	<app-datos-filtro 
		(clickColumnas)="columnas($event)"
		(keyupFiltro)="filtroTexto($event)"
		(clickEliminar)="filtroEliminar($event)"
		(changeSeleccionar)="filtroSeleccionar($event)"
		(clickExcel)="filtroExcel($event)"
		(aplicarFiltro)="filtroAplicar($event)"
		[columnas]="Columnas"
		[seleccionados]="Seleccionados"
		[agregar]="false">
	</app-datos-filtro>


    <div class="tabla">
    	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

			  <!-- Checkbox Column -->
			  <ng-container matColumnDef="select">
			    <th mat-header-cell *matHeaderCellDef>
			      <mat-checkbox (change)="$event ? masterToggle() : null; actualizarSeleccion()"
			                    [checked]="selection.hasValue() && isAllSelected()"
			                    [indeterminate]="selection.hasValue() && !isAllSelected()">
			      </mat-checkbox>
			    </th>
			    <td mat-cell *matCellDef="let row">
			      <mat-checkbox (click)="$event.stopPropagation()"
			                    (change)="$event ? selection.toggle(row) : null; actualizarSeleccion()"
			                    [checked]="selection.isSelected(row)">
			      </mat-checkbox>
			    </td>
			  </ng-container>

			  <ng-container *ngFor="let Columna of Columnas" matColumnDef="{{Columna.id}}">
			    <th [hidden]="Columna.ocultar" mat-header-cell *matHeaderCellDef> {{Columna.nombre}} </th>
			    <td [hidden]="Columna.ocultar" mat-cell *matCellDef="let element"> {{element[Columna.id]}} </td>
			  </ng-container>		  

			  <ng-container matColumnDef="archivo">
			    <th mat-header-cell *matHeaderCellDef> Archivo </th>
			    <td mat-cell *matCellDef="let element"> 
						<a *ngIf="element['archivo']" style="font-size: 10pt; color: #5298d6;" target="blank" href="http://misegurointernacional.com/ADMIN/archivos/Pagos/{{element['id']}}.{{element['archivo']}}">Ver archivo</a>
					</td>
			  </ng-container>			  

			  <ng-container matColumnDef="acciones">
			    <th mat-header-cell *matHeaderCellDef> Acciones </th>
			    <td mat-cell *matCellDef="let element" class="acciones"> 
						
						<div class="opciones" *ngIf="Opciones[element['id']]">
							<ul>
								<!-- <li><a [routerLink]="['/Asegurados', element['cliente_id'], 'Pagos']">Modificar</a></li> -->
								<li><a [routerLink]="['/Asegurados', element['cliente_id'], 'Pagos', element['cotizacion_id']]">Modificar</a></li>
								<li><a (click)="acreditar(element)">Acreditar</a></li>
								<li><a (click)="eliminar(element['id'])">Eliminar</a></li>
							</ul>
						</div>
						<i style="cursor: pointer;" class="fas fa-ellipsis-v" (click)="opcionCambio(element['id'])"></i>
			    </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
			</table>
    </div>

    <app-datos-pagina
    	(changePaginas)="cambioPagina($event)"
    	[total]="DatosCantidad">
    </app-datos-pagina>

</div>