<div class="row sin-margin">
    <div class="col-sm-6">
		<mat-form-field class="full-width">
	        <input matInput placeholder="Razón social" type="text" required
			    	minlength="4"  [(ngModel)]="Datos.razon_social" name="razon_social" #razon_social="ngModel">
	    </mat-form-field>

		<mat-form-field class="full-width">
	        <input matInput placeholder="RFC" type="text" required
			    	minlength="4"  [(ngModel)]="Datos.rfc" name="rfc" #rfc="ngModel">
	    </mat-form-field> 
    </div>

    <div class="col-sm-6">   
		<mat-form-field class="full-width">
	        <input matInput placeholder="Correo electrónico" type="text" required
			    	minlength="4"  [(ngModel)]="DatosFacturacion.fac_correo_electronico" name="correo_electronico" #correo_electronico="ngModel">
	    </mat-form-field>
		<mat-form-field class="full-width">
	        <input matInput placeholder="Teléfono" type="number" required
			    	[(ngModel)]="DatosFacturacion.fac_telefono" name="telefono" #telefonoF="ngModel">
	    </mat-form-field>
    </div>
</div>

<app-form-direccion [datos]="Datos" [facturacion]="Facturacion"></app-form-direccion>