<div class="contenido clientes">
	<h1 class="primario-mas-claro" en="fondo">Reclamos</h1>

	<div style="padding: 0px 40px;">
		<mat-tab-group [selectedIndex]='0'>
			<mat-tab label="Pendiente">
				<app-incidencias-pendiente></app-incidencias-pendiente>
			</mat-tab>

			<!-- ------------------------------------------------------------------------- -->
			<!-- ------------------------------------------------------------------------- -->
			<!-- PESTAÑA PAGADO -->
			<!-- ------------------------------------------------------------------------- -->
			<!-- ------------------------------------------------------------------------- -->
			<mat-tab label="Pagado">
				<app-incidencias-pagado></app-incidencias-pagado>
			</mat-tab>
		</mat-tab-group>
	</div>



</div>