<div class="contenido clientes">
	<h1 class="primario-mas-claro" en="fondo">Configuración/Usuarios</h1>

	<div style="padding: 0px 40px;">
		<mat-tab-group [selectedIndex]='0'>
      
			<mat-tab label="Usuarios">
				<app-usuarios></app-usuarios>
      </mat-tab>
      
			<mat-tab label="Agentes">
				<app-agentes-usuarios></app-agentes-usuarios>
      </mat-tab>
      
			<mat-tab label="Distribuidores">
				<app-distribuidores-usuarios></app-distribuidores-usuarios>
      </mat-tab>
      
			<!-- <mat-tab label="Tipos distribuidor">
				<app-tipos-distribuidor></app-tipos-distribuidor>
      </mat-tab> -->
      
		</mat-tab-group>
	</div>



</div>