<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>
	<div class="contenido">
		<div class="row">
			<div class="col-sm-9">
				<!-- <div class="row">
					<div class="col-sm-3">
						<button (click)="asegurar()" class="boton" mat-flat-button color="primary" type="submit">Asegurar</button>
						<-- <button (click)="guardar()" class="boton" mat-flat-button color="primary" type="submit">Guardar</button> --
					</div>
					<div class="col-sm-3">
						<!- <button (click)="asegurar()" class="boton" mat-flat-button color="primary" type="submit">Asegurar</button> ->
						<!- <button (click)="guardar()" class="boton" mat-flat-button color="primary" type="submit">Guardar</button> --
					</div>
					<div class="col-sm-6"></div>
					<-- <div class="col-sm-3 pointer" style="color: rgb(182, 182, 182);">
						<i *ngIf="!Progreso.CargandoGlobal" (click)="imprimir()" class="fas fa-print"></i>
						<i *ngIf="!Progreso.CargandoGlobal" (click)="descargar()" class="fas fa-file-pdf"></i>
						<i *ngIf="!Progreso.CargandoGlobal" (click)="correo()" class="fas fa-envelope"></i>
					</div> --
				</div> -->

				<div class="row area" style="border: 1px solid #1ac136; padding: 20px;">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6">
								<mat-form-field class="full-width"> 
									<mat-select placeholder="Tipo de seguro" [(ngModel)]="DatosCotizacion.id_tipo_seguro" (selectionChange)="obtenerTiposPoliza()">
										<mat-option *ngFor="let tipo of Formulario.FormDatos['Tipo_Seguro']" [value]="tipo.id">
											{{tipo.tipo_seguro}}
										</mat-option>
										</mat-select>
									</mat-form-field>
									
								<mat-form-field class="full-width"> 
									<mat-select placeholder="Origen" [(ngModel)]="DatosCotizacion.origen" (selectionChange)="obtenerTiposPoliza()">
										<mat-option *ngFor="let pais of Formulario.FormDatos['Pais']" [value]="pais.id">
											{{pais.pais}}
										</mat-option>
										</mat-select>
								</mat-form-field>

								<!-- <mat-form-field class="full-width">
									<input matInput placeholder="C.P. origen" type="number" (keyup)="origenCP()"
											minlength="5"  [(ngModel)]="DatosCotizacion.origen_cp" #Nombre="ngModel">
								</mat-form-field> -->
								
								<!-- <mat-form-field class="full-width">
									<input matInput placeholder="Ciudad de origen" type="text"
											minlength="5"  [(ngModel)]="DatosCotizacion.origen_ciudad" #Nombre="ngModel">
								</mat-form-field> -->
							
								<mat-form-field class="full-width"> 
									<mat-select placeholder="Destino" [(ngModel)]="DatosCotizacion.destino" (selectionChange)="obtenerTiposPoliza()">
										<mat-option *ngFor="let pais of Formulario.FormDatos['Pais']" [value]="pais.id">
											{{pais.pais}}
										</mat-option>
									</mat-select>
								</mat-form-field>

								<mat-form-field class="full-width">
									<input matInput placeholder="C.P. destino" type="number" [disabled]="true"
											minlength="5"  [(ngModel)]="DatosCotizacion.destino_cp" #Nombre="ngModel">
								</mat-form-field>

								<div class="row">
									<div class="col-sm-4" style="border: none;">Sexo</div>
									<div class="col-sm-8" style="border: none;">
										<mat-radio-group [(ngModel)]="DatosCliente.sexo">
											<mat-radio-button value="Femenino">Femenino</mat-radio-button>
											<mat-radio-button value="Masculino">Masculino</mat-radio-button>
										</mat-radio-group>
									</div>
								</div>
								
								<!-- <mat-form-field class="full-width">
									<input matInput placeholder="Ciudad de destino" type="text"
											minlength="5"  [(ngModel)]="DatosCotizacion.destino_ciudad" #Nombre="ngModel">
								</mat-form-field> -->
							</div>
							<div class="col-sm-6">		
								<mat-form-field class="full-width">
									<!-- <input matInput [matDatepicker]="salida" placeholder="Salida" [(ngModel)]="DatosCotizacion.salida" -->
									<input matInput [matDatepicker]="salida" placeholder="Salida" [(ngModel)]="DatosExtra.salida"
										(dateChange)="fechaCambio('change', $event)">
									<mat-datepicker-toggle matSuffix [for]="salida"></mat-datepicker-toggle>
									<mat-datepicker #salida></mat-datepicker>
								</mat-form-field>
									
								<mat-form-field class="full-width">
									<!-- <input matInput [matDatepicker]="regreso" placeholder="Regreso" [(ngModel)]="DatosCotizacion.regreso" -->
									<input matInput [matDatepicker]="regreso" placeholder="Regreso" [(ngModel)]="DatosExtra.regreso"
										(dateChange)="fechaCambio('change', $event)">
									<mat-datepicker-toggle matSuffix [for]="regreso"></mat-datepicker-toggle>
									<mat-datepicker #regreso></mat-datepicker>
								</mat-form-field>
									
								<mat-form-field class="full-width"> 
									<mat-select placeholder="Tipo de Póliza" [(ngModel)]="DatosCotizacion.id_tipo_poliza"
										(selectionChange)="cambioTipoPoliza()">
									<mat-option *ngFor="let tipo of Formulario.FormDatos['Tipo_Poliza']" [value]="tipo.id">
										{{tipo.tipo_poliza}}
									</mat-option>
									</mat-select>
								</mat-form-field>

								<mat-form-field class="full-width">
									<input matInput [matDatepicker]="nacimiento" placeholder="Fecha de nacimiento" [(ngModel)]="DatosExtra.fecha_nacimiento">
									<mat-datepicker-toggle matSuffix [for]="nacimiento"></mat-datepicker-toggle>
									<mat-datepicker #nacimiento></mat-datepicker>
								</mat-form-field>	
								
								<mat-form-field class="full-width">
									<input matInput placeholder="Universidad" type="text"
											minlength="1"  [(ngModel)]="DatosCliente.universidad" #Universidad="ngModel">
								</mat-form-field>
										
							</div>
							<div class="col-12" style="padding: 0;">
								<app-form-direccion [datos]="DatosCliente"></app-form-direccion>
							</div>
						</div>
					</div>
					<!-- <div class="col-sm-6 cotizacion">
						<h2>Características del seguro</h2>
						<ul>
							<li>Seguro diseñado exclusivamente para viajero internacional.</li>
							<li>Oficinas en el extranjero para atención inmediata</li>
							<li>Cumple con los requisitos de embajadas y universidades para cobertura internacional.</li>
							<li>Facilidad de activación y uso.</li>
							<li>Atención telefónica 24 horas en español/inglés 365 días del año.</li>
							<li>Edad limite 6-69 años.</li>
							<li>Contratación por días, semanas o meses.</li>
							<li>Deducible de $100 US o 100 Euros.</li>
							<li>No hay coaseguro.</li>
							<li>Pago del 100% de los gastos incurridos según la póliza.</li>
							<li>Pago directo a hospitales y médicos.</li>
							<li>Elección de cualquier hospital y médico las 24 horas</li>
							<li>Cobertura a nivel mundial sin restricción de país (permite movivilidad).</li>
							<li>Central de emergencia con llamada por cobrar en hospitalización.</li>
							<b>Mayores de 69 y menos de 6 años, se pueden asegurar con un precio especial.</b>
						</ul>
					</div>
					<div class="col-sm-6 cotizacion">
						<h2>Ventaja de nuestro seguro</h2>
						<ul>
							<li>Impresión y envío de copia electrónicamente de la Póliza del Asegurado.</li>
							<li>Cobertura por deportes extremos.</li>
							<li>Pago de reembolsos inmediatos (si se entrega la documentación necesaria).</li>
							<li>Reembolso por cancelación de seguro.</li>
							<li>Asesoría y representación legal en caso de ser necesario.</li>
							<li>Cobertura dental de emergenia.</li>
							<li>Indemnización por demora o pérdida del equipaje.</li>
							<li>Reptatritación de restos</li>
							<li>Evaluación médica o sanitaria,</li>
							<li>Indemnización en dólares US, euros o pesos mexicanos según lo desee el aasegurado.</li>
						</ul>

						<br><br>

						<h2>5 Seguros en 1</h2>
						<ul>
							<li>Seguro de Gastos Médicos (mayores y menores)</li>
							<li>Seguro de Accidentes</li>
							<li>Seguro de Asistencia en viajes</li>
							<li>Seguro de Euipaje</li>
							<li>Seguro de Responsabilidad civil y daño a terceros</li>
						</ul>
					</div> -->
				</div>
			</div>
			<div class="col-sm-3">				
				<!-- <div class="col-sm-6">							 -->
				<div class="" style="    
					text-align: center;
					padding: 5px;
					border: 1px solid rgb(182, 182, 182);
					margin-bottom: 10px;">							
					<h2>TOTAL</h2>
					<p>${{Datos.precioMXN}} MXN</p>
					<p>${{Datos.precioUSD}} USD</p>

					<p>Tipo de cambio ${{Datos.tipo_cambio}}</p>
				</div>
				<mat-form-field class="full-width" *ngIf="!Agente">
					<mat-select placeholder="Tipo de distribuidor" [(ngModel)]="DatosAsignar.tipo_distribuidor_id" #tipoDistribuidorFORM="ngModel" required
						(selectionChange)="cambioAsignarSeguro('Tipo_Distribuidor')">
						<mat-option *ngFor="let tipo of Formulario.FormDatos['Tipo_Distribuidor']" [value]="tipo.id">
							{{tipo.tipo_distribuidor}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			
				<mat-form-field class="full-width" *ngIf="!Agente">
					<mat-select placeholder="Distribuidor" [(ngModel)]="DatosAsignar.distribuidor_id" #distribuidorFORM="ngModel" required
						(selectionChange)="cambioAsignarSeguro('Distribuidor')">
						<mat-option *ngFor="let tipo of Formulario.FormDatos['Distribuidor']" [value]="tipo.id">
							{{tipo.distribuidor}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			
				<mat-form-field class="full-width">
					<mat-select placeholder="Agente" [(ngModel)]="DatosAsignar.agente_id" #agenteFORM="ngModel" required
					(selectionChange)="cambioAsignarSeguro('Agente')">
						<mat-option *ngFor="let tipo of Formulario.FormDatos['Agente']" [value]="tipo.id">
							{{tipo.agente}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			
				<mat-form-field class="full-width">
					<mat-select placeholder="Sub Agente" [(ngModel)]="DatosAsignar.subagente_id" #subAgenteFORM="ngModel" required>
						<mat-option *ngFor="let tipo of Formulario.FormDatos['Subagente']" [value]="tipo.id">
							{{tipo.nombre_completo}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<p *ngIf="PrimerAsegurar" style="font-weight: bold;
				text-align: center;
				border: 1px solid #7cb342;
				padding: 2px;">Aún hay campos vacíos pero pueden ser llenados despues. Presiona "Asegurar" para continuar.</p>
				<button (click)="asegurar()" class="boton" mat-flat-button color="primary" type="submit">Asegurar</button>
				<!-- <button *ngIf="PrimerAsegurar" (click)="SinDatos = true; asegurar()" class="boton" mat-flat-button color="primary" type="submit" style="margin-top: 10px;">Llenar después</button> -->

			</div>
		</div>



		<!-- <div class="container">
			<div class="row" style="padding: 0;">
				<div class="col-sm-10"></div>
				<div class="col-sm-2" style="padding: 0;">
					<a (click)="documento()"><i class="fas fa-print"></i></a>
					<a (click)="documento(true)"><i class="fas fa-file-download"></i></a>
					<a *ngIf="!emailCargando" (click)="email()"><i class="far fa-envelope"></i></a>
					<mat-spinner
						[color]="primary"
						*ngIf="emailCargando"
						class="carga">
					</mat-spinner>
				</div>
			</div>
			<div id="area-impresion">
			<div class="row cerrado">
				<div class="col-sm-3"><img src="../../assets/img/logo.png"></div>
				<div class="col-sm-6">
					<table>
						<tr>
							<td class="bold">Cotización para</td>
							<td>{{Datos.cliente_nombre_completo}}</td>
						</tr>
						<tr>
							<td class="bold">Correo electrónico:</td>
							<td>{{Datos.cliente_correo_electronico}}</td>
						</tr>
						<tr>
							<td class="bold">Cotizado por</td>
							<td>{{Datos.subagente_nombre_completo}}</td>
						</tr>
						<tr>
							<td class="bold">Email:</td>
							<td>{{Datos.subagente_correo_electronico}}</td>
						</tr>
						<tr>
							<td class="bold">Agente</td>
							<td>{{Datos.agente}}</td>
						</tr>
					</table>		
				</div>
				<div class="col-sm-3">
					<p style="margin-top: 100px;"><label>Cotización realizada el</label> {{Datos.fecha_hecha}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 cerrado">
					{{Datos.tipo_seguro}}<br>
					{{Datos.tipo_poliza}}<br>
					{{Datos.pais_origen}}<br>
					{{Datos.pais_destino}}<br>
					{{Datos.salida}}<br>
					{{Datos.regreso}}
				</div>
				<div class="col-sm-8 cerrado">
					{{Datos.descripcion}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 cerrado">
					{{Datos.notas}}

					<p style="font-size: 10pt; margin-top: 160px;">Los precios son estimados y son sujetos a cambios sin previo aviso debido a los tipos de seguro y fluctuaciones del tipo de cambio</p>
				</div>
				<div class="col-sm-2 cerrado">
					<h2>TOTAL</h2>

					<p>${{Datos.precioMXN}} MXN</p>
					<p>${{Datos.precioUSD}} USD</p>
					<p>Tipo de cambio ${{Datos.tipo_cambio}}</p>
				</div>
			</div>
			</div>
			<div class="row">
				<div class="col-sm-10"></div>
				<div class="col-sm-2" style="padding: 0;">
					<button (click)="asegurar()" mat-flat-button color="accent" type="submit"  class="full-width" disabled="false">Asegurar</button>
				</div>
			</div>
		</div> -->
		<!-- <app-regresar></app-regresar> -->
	</div>
</div>