label{
	font-weight: bold;
}

.bold{
	font-weight: bold;
}

table{
	margin-top: 10px;
	margin-left: 40px;
}

td{
	padding-right: 30px;
}

.row{
	/*border: 1px solid #404040;*/
	margin-bottom: 20px;
}

.cerrado{
	border: 1px solid #404040;
}

button{
	 height: 50px;
	 font-size: 16pt;
	 color: white !important;
}

i{
	font-size: 22pt;
	margin: 0 10px;
	float: right;
}
a{
	color: black;
	cursor: pointer;
}
a:hover{
	color: #4B4B4B;
}