<div class="contenido">
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4 pointer acciones" style="color: rgb(182, 182, 182); text-align: center;">
		<i *ngIf="!Progreso.CargandoGlobal" (click)="imprimir()" class="fas fa-print"></i>
		<i *ngIf="!Progreso.CargandoGlobal" (click)="descargar()" class="fas fa-file-pdf"></i>
		<i *ngIf="!Progreso.CargandoGlobal" (click)="correo()" class="fas fa-envelope"></i>
	</div>
	<div class="col-sm-4"></div>
</div>
<div class="row area" style="padding-top: 40px;">
    <div class="col-sm-4">
        <!-- <img src="../../assets/img/logo.png"> -->
        <img src="https://misegurointernacional.com/ADMIN/assets/img/logo.png">
    </div>
    <div class="col-sm-4 cotizacion">
      <table>
        <tr>
          <td class="bold">Cotización para</td>
          <td>{{Datos.cliente_nombre_completo}}</td>
        </tr>
        <tr>
          <td class="bold">Correo electrónico:</td>
          <td>{{Datos.cliente_correo_electronico}}</td>
        </tr>
        <tr>
          <td class="bold">Cotizado por</td>
          <td>{{Datos.subagente_nombre_completo}}</td>
        </tr>
        <tr>
          <td class="bold">Email:</td>
          <td>{{Datos.subagente_correo_electronico}}</td>
        </tr>
        <tr>
          <td class="bold">Agente</td>
          <td>{{Datos.agente}}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-4 cotizacion">		
		<table style="margin-top: 100px;">
			<tr>
				<td class="bold">Cotización realizada el</td>
				<td>{{Datos.fecha_hecha}}</td>
			</tr>
		</table>
      <!-- <p style="margin-top: 100px;"><label>Cotización realizada el</label> {{Datos.fecha_hecha}}</p> -->
    </div>

	<hr>

    <div class="col-sm-6 cotizacion">
      <h2>Características del seguro</h2>
      <!-- <hr> -->
      <ul>
        <li>Seguro diseñado exclusivamente para viajero internacional.</li>
        <li>Oficinas en el extranjero para atención inmediata</li>
        <li>Cumple con los requisitos de embajadas y universidades para cobertura internacional.</li>
        <li>Facilidad de activación y uso.</li>
        <li>Atención telefónica 24 horas en español/inglés 365 días del año.</li>
        <li>Edad limite 6-69 años.</li>
        <li>Contratación por días, semanas o meses.</li>
        <li>Deducible de $100 US o 100 Euros.</li>
        <li>No hay coaseguro.</li>
        <li>Pago del 100% de los gastos incurridos según la póliza.</li>
        <li>Pago directo a hospitales y médicos.</li>
        <li>Elección de cualquier hospital y médico las 24 horas</li>
        <li>Cobertura a nivel mundial sin restricción de país (permite movivilidad).</li>
        <li>Central de emergencia con llamada por cobrar en hospitalización.</li>
        <b>Mayores de 69 y menos de 6 años, se pueden asegurar con un precio especial.</b>
      </ul>
    </div>
    <div class="col-sm-6 cotizacion">
      <h2>Ventaja de nuestro seguro</h2>
      <ul>
        <li>Impresión y envío de copia electrónicamente de la Póliza del Asegurado.</li>
        <li>Cobertura por deportes extremos.</li>
        <li>Pago de reembolsos inmediatos (si se entrega la documentación necesaria).</li>
        <li>Reembolso por cancelación de seguro.</li>
        <li>Asesoría y representación legal en caso de ser necesario.</li>
        <li>Cobertura dental de emergenia.</li>
        <li>Indemnización por demora o pérdida del equipaje.</li>
        <li>Reptatritación de restos</li>
        <li>Evaluación médica o sanitaria,</li>
        <li>Indemnización en dólares US, euros o pesos mexicanos según lo desee el aasegurado.</li>
      </ul>

      <br><br>

      <h2>5 Seguros en 1</h2>
      <ul>
        <li>Seguro de Gastos Médicos (mayores y menores)</li>
        <li>Seguro de Accidentes</li>
        <li>Seguro de Asistencia en viajes</li>
        <li>Seguro de Euipaje</li>
        <li>Seguro de Responsabilidad civil y daño a terceros</li>
      </ul>
    </div>
    <hr>
    <div class="col-sm-4 cotizacion bold">
      <p><label>Tipo de póliza</label> {{Datos.tipo_poliza}}</p>
      <p><label>Cobertura</label> {{Datos.tipo_seguro}}</p>
      <p><label>Origen</label> {{Datos.pais_origen}}</p>
      <p><label>Destino</label> {{Datos.pais_destino}}</p>
      <p><label>Salida</label> {{Datos.salida}}</p>
      <p><label>Regreso</label> {{Datos.regreso}}</p>
    </div>
    <div class="col-sm-8 cotizacion bold">
      <p></p><p></p>

      <p>TOTAL</p>
      <p>${{Datos.precioMXN}} MXN</p>
      <p>${{Datos.precioUSD}} USD</p>
      <p>Tipo de Cambio ${{Datos.tipo_cambio}}</p>
    </div>
    <div class="col-sm-12 cotizacion bold">
      <p style="font-size: 8pt;">Los precios son estimados y están sujetos a cambios sin previo aviso debido a los tipos de seguro y 
        fluctuaciones del tipo de cambio
      </p>
    </div>
  </div>
</div>