html, body {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  /*margin-bottom: 40px;*/
}

div.pie{
	width: 100%;
	position: fixed;
	bottom: 0;
	/*width: 100%;*/
	height: 110px;
	color: white;
	padding-top: 40px;
	/* position: relative; */
}
i{
	font-size: 18pt;
	margin: auto 13px;
}