<div style="padding-top: 100px; margin-top:100px;">
	<div class="pie secundario-fuerte" en="fondo" style="z-index: 100;">
		<div class="row sin-margin">
			<div class="col-sm-1"></div>
			<div class="col-sm-8">All Rights Reserved @ 2016 Mi Seguro</div>
			<div class="col-sm-3">
				<i class="fab fa-facebook-square"></i>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-snapchat-ghost"></i>
				<i class="fab fa-twitter"></i>
				<i class="fab fa-youtube"></i>
			</div>
		</div>
	</div>
</div>
