<div mat-dialog-content>
    <app-cerrar-ventana (clickCerrar)="cerrar(false)"></app-cerrar-ventana>
  
    <h1 mat-dialog-title style="font-weight: bold; text-align: center">Conciliar</h1>
  
    <div class="row">
      
      <div class="col-sm-1"></div>
      <div class="col-sm-10">

        <div class="row">

          <div class="col-sm-12">
              <mat-form-field class="full-width">
                <input matInput placeholder="No. Factura" type="text" required [(ngModel)]="DatosConciliar.factura_numero" #ajuste="ngModel">
              </mat-form-field>
          </div>

          <div class="col-sm-12">
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="fecha" placeholder="Fecha" [(ngModel)]="DatosConciliar.factura_fecha">
              <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
              <mat-datepicker #fecha></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-sm-12">
              <mat-form-field class="full-width">
                <input matInput placeholder="Monto de factura" type="number" required [(ngModel)]="DatosConciliar.factura_monto" #comision_final="ngModel">
              </mat-form-field>
          </div>

          <div class="col-sm-12">
                <div style="font-style: italic;">{{Archivo.Nombre}}</div>
                <label class="subir-archivo" style="width: 100%;">
                  <i class="fas fa-file-upload"></i>
                <input type="file" value="" hidden name="foto"style="display: none;" (change)="cambioArchivo($event)">
                Archivo
            </label>
          </div>

        </div>
  
      </div>
      <div class="col-sm-1"></div>
  
    </div>
  
      <button style="margin-bottom: 10px;" class="boton derecha" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarConciliar()">Aceptar</button>
  
  </div>