div.inicio.fondo{
	width: 100%;
	height: 100vh;
	background-image: url('../../assets/img/fondo.jpg');
	background-repeat: no-repeat;
	/*background-size: 100% 100vh;*/
	background-size: cover;
	background-position: center top;
}
div.row{
	/*background-color: black;*/
	height: 100vh;
}
div.logo img{
	margin-top: 20px;
}

div.caja{
	padding: 0 60px;
}

h1{
	margin: 0;
	font-weight: bold;
}

form{
	margin-top: 15px;
}
input{
	font-size: 22pt;
	/*background-color: rgba(255, 255, 255, 0.5); */
	border-radius: 5px; 
	padding: 2px 3px;
}

a{
	text-decoration: none;
	color: black;
	margin-top: 20px;
	padding: 20px;
	font-weight: bold;
}
a:hover{
	color: #313131;
}