<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

	<h1 mat-dialog-title style="font-weight: bold; text-align: center">Agregar factura</h1>

	<div class="row">
		
		<div class="col-sm-1"></div>
		<div class="col-sm-10">

			<div class="row">
				<div class="col-sm-6">
					<mat-form-field class="full-width">
						<input matInput [matDatepicker]="fecha" placeholder="Fecha" [(ngModel)]="DatosFacturaIncidente.fecha">
						<mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
						<mat-datepicker #fecha></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-sm-6"></div>

				<div class="col-sm-6">			
					<mat-form-field class="full-width">
						<input matInput placeholder="Cantidad" type="number" required [(ngModel)]="DatosFacturaIncidente.cantidad" #cantidad="ngModel">
					</mat-form-field>
				</div>
				<div class="col-sm-6">
					<mat-form-field class="full-width"> 
				    	<mat-select placeholder="Moneda" [(ngModel)]="DatosFacturaIncidente.moneda" [(value)]="DatosFacturaIncidente.moneda">
						    <mat-option value="MXN">MXN</mat-option>
						    <mat-option value="USD">USD</mat-option>
				  		</mat-select>
				  	</mat-form-field>
				</div>

				<div class="col-sm-12">
					<mat-form-field class="full-width">
				    	<textarea matInput placeholder="Comentarios" [(ngModel)]="DatosFacturaIncidente.comentario" #comentario="ngModel"></textarea>
					</mat-form-field>
				</div>

				<div class="col-sm-6">
	        		<div style="font-style: italic;" *ngIf="Archivo.Archivo">{{Archivo.Archivo.filename}}</div>
	        		<label class="subir-archivo">
	        			<i class="fas fa-file-upload"></i>
					    <input type="file" value="" hidden name="foto"style="display: none;" (change)="cambioArchivo($event)">
					    Archivo
					</label>
				</div>

			</div>

		</div>
		<div class="col-sm-1"></div>
	</div>

		<button style="margin-bottom: 120px; margin-top: 20px;" class="boton derecha" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarFactura()">Guardar</button>

</div>