<div class="contenido clientes">
	<h1 class="primario-mas-claro" en="fondo">Administración/Reportes</h1>

	<div style="padding: 0px 40px;">
		<mat-tab-group [selectedIndex]='0'>
			<mat-tab label="Ventas">
				<app-margen></app-margen>
      </mat-tab>
      
			<mat-tab label="Ingresos">
				<app-margen-ingresos></app-margen-ingresos>
			</mat-tab>
      
			<mat-tab label="Comisiones">
				<!-- <app-margen-egresos></app-margen-egresos> -->
				<app-comision-pendiente></app-comision-pendiente>
			</mat-tab>
		</mat-tab-group>
	</div>



</div>