<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>
<div mat-dialog-content>
<div class="contenido clientes container">
	<h1 class="primario-mas-claro" en="fondo">Distribuidores</h1>

	<div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
			<mat-form-field class="full-width">
		        <mat-select placeholder="Tipo de distribuidor" [(ngModel)]="Datos.id_tipo_distribuidor" #tipoDistribuidor="ngModel" required>
		            <mat-option *ngFor="let tipo of direccion.FormDatos['Tipo_Distribuidor']" [value]="tipo.id">
		              {{tipo.tipo_distribuidor}}
		            </mat-option>
		        </mat-select>
		    </mat-form-field>

			<mat-form-field class="full-width">
		        <input matInput placeholder="Distribuidor" type="text" required
				    	minlength="4"  [(ngModel)]="Datos.distribuidor" name="distribuidor" #distribuidor="ngModel">
		    </mat-form-field>

			<mat-form-field class="full-width">
		        <input matInput placeholder="Correo electrónico" type="text" required
				    	minlength="4"  [(ngModel)]="Datos.correo_electronico" name="email" #email="ngModel">
		    </mat-form-field>
        </div>

        <div class="col-sm-6">

        	<div class="row">
        		<div class="col-sm-6">
					<mat-form-field class="full-width">
				        <input matInput placeholder="Descuento" type="number" required
						    	[(ngModel)]="Datos.descuento" name="descuento" #descuento="ngModel">
				    </mat-form-field>
				</div>  
        		<div class="col-sm-6">
					<mat-form-field class="full-width">
				        <input matInput placeholder="Comisión" type="number" required
						    	[(ngModel)]="Datos.comision" name="comision" #comision="ngModel">
				    </mat-form-field>
        		</div>
        		
        		<div class="col-sm-12" style="padding: 10px;"></div>

        		<div class="col-sm-12">
					<mat-form-field class="full-width">
				        <input matInput placeholder="Teléfono" type="number" required
						    	[(ngModel)]="Datos.telefono" name="telefono" #telefono="ngModel">
				    </mat-form-field>
        		</div>
        		<!-- <div class="col-sm-6"></div>           		 -->
        	</div>    	
        </div>

    </div>

    <app-form-direccion [datos]="Datos"></app-form-direccion>

    <p style="font-weight: bold;">Facturación</p>
    <app-facturacion
 		[datos]="Datos">
 	</app-facturacion>

    <div class="row">
    	<div class="col-sm-10"></div>
    	<div class="col-sm-2"><button (click)="guardar()" style="color: white; font-size: 15pt;" mat-flat-button color="primary" type="submit"  class="full-width" disabled="false">Guardar</button></div>
    </div>

</div>
</div>