<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

	<h1 mat-dialog-title style="font-weight: bold; text-align: center">Códigos promoción</h1>

	<div *ngIf="sesion.admin()" style="text-align: center;">
		<p><b>Agregar código</b></p>
		<mat-form-field>
			<input matInput placeholder="Código" [(ngModel)]="DatosCodigo.codigo_promocion">
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Porcentaje descuento" [(ngModel)]="DatosCodigo.porcentaje" type="number">
		</mat-form-field>
		<button mat-button color="primary" (click)="guardarCodigo(DatosCodigo)" style="margin-bottom: 10px;">Guardar</button>
  </div>

	<mat-divider></mat-divider>
	<mat-divider></mat-divider>

	<div style="text-align: center;">
		<table style="margin: 0 auto;">
			<tr>
				<td><b>ID</b></td>
				<td><b>Código</b></td>
				<td><b>Porcentaje descuento</b></td>
				<td></td>
			</tr>
			<tr *ngFor="let Datos of DatosCodigos; let i=index"	>
				<td>{{DatosCodigos[i].id}}</td>
				<td>{{DatosCodigos[i].codigo_promocion}}</td>
				<td>{{DatosCodigos[i].porcentaje | number: '1.0-0'}}%</td>
				<td class="acciones">													
					<div class="opciones" *ngIf="OpcionesCodigos[Datos.id]">
						<ul>
							<li><a (click)="eliminarCodigo(Datos)">Eliminar</a></li>
						</ul>
					</div>
					<i style="cursor: pointer;" class="fas fa-ellipsis-v" (click)="opcionCambio(Datos.id)"></i>
				</td>
			</tr>
		</table>
	</div>


  <app-datos-pagina
    (changePaginas)="cambioPagina($event)"
    [total]="DatosCantidad">
  </app-datos-pagina>

</div>