<div class="precios">

    <div style="
      background-color: transparent;
      padding: 10px;
      text-align: right;
      position: fixed;     right: 10px;
    ">
      <button *ngIf="!Guardando" mat-flat-button color="primary" (click)="guardarlos()">GUARDAR</button>
    </div>

    <div *ngFor="let Datos of DatosCoberturas; let i=index">
  
      <div class="row">
        <div class="col-11" style="overflow-x: scroll; margin-bottom: 10px;">
           
          <div style="width: 4700px">
              <mat-form-field style="width: 30px;">
                <input matInput placeholder="Activo/inactivo" [(ngModel)]="DatosCoberturas[i].activo_inactivo">
              </mat-form-field>
              
              <mat-form-field style="width: 50px;">
                <input matInput placeholder="Cobertura" [(ngModel)]="DatosCoberturas[i].cobertura">
              </mat-form-field>
              
              <mat-form-field style="width: 60px;">
                <input matInput placeholder="Días" [(ngModel)]="DatosCoberturas[i].dias">
              </mat-form-field>
              
              <mat-form-field style="width: 80x;">
                <input matInput placeholder="Precio" [(ngModel)]="DatosCoberturas[i].precio">
              </mat-form-field>
          
              <mat-form-field style="width: 80px;">
                <input matInput placeholder="Costo" [(ngModel)]="DatosCoberturas[i].costo">
              </mat-form-field>
          
              <mat-form-field style="width: 80px;">
                <input matInput placeholder="Costo final" [(ngModel)]="DatosCoberturas[i].costo_final">
              </mat-form-field>
              
              <mat-form-field style="width: 200px;">
                <input matInput placeholder="Código" [(ngModel)]="DatosCoberturas[i].codigo">
              </mat-form-field>
              
              <mat-form-field style="width: 80px;">
                <input matInput placeholder="Margen" [(ngModel)]="DatosCoberturas[i].margen">
              </mat-form-field>   
              
              <mat-form-field style="width: 80px;">
                <input matInput placeholder="Margen porcentaje" [(ngModel)]="DatosCoberturas[i].margen_porcentaje">
              </mat-form-field>  
              
            </div>


        </div>
  
        <div class="col-1">
          <!-- <div style="
            position: relative;
            right: -10px;
            top: 20px;
            background-color: white; height: 100%;">
            <table>
              <tr>
                <td class="acciones">													
                  <div class="opciones" *ngIf="OpcionesCoberturas[Datos.id]">
                    <ul>
                      <li><a (click)="guardarCobertura(Datos)">Guardar</a></li>
                      <li><a (click)="eliminarCobertura(Datos)">Eliminar</a></li>
                    </ul>
                  </div>
                  <i style="cursor: pointer;" class="fas fa-ellipsis-v" (click)="opcionCambio(Datos.id)"></i>
                </td>
              </tr>
            </table>
          </div> -->
        </div>
  
      </div>
    </div>

    

  <app-datos-pagina
    (changePaginas)="cambioPagina($event)"
    [total]="DatosCantidad">
  </app-datos-pagina>
  
  </div>
  
  <!-- <mat-select placeholder="Tipo seguro" [(ngModel)]="DatosPolizas[i].VALOR" name="tipo_seguro">
    <mat-option *ngFor="let tipo_seguro of Formulario.FormDatos['Tipo_Seguro']" [value]="tipo_seguro.value">
      {{tipo_seguro.viewValue}}
    </mat-option>
  </mat-select> -->