<div class="contenido clientes">
	<h1 class="primario-mas-claro" en="fondo">Cuentas/Por cobrar</h1>

	<app-datos-filtro 
		(clickColumnas)="columnas($event)"
		(keyupFiltro)="filtroTexto($event)"
		(clickEliminar)="filtroEliminar($event)"
		(changeSeleccionar)="filtroSeleccionar($event)"
		(clickExcel)="filtroExcel($event)"
		[columnas]="Columnas"
		[seleccionados]="Seleccionados">
	</app-datos-filtro>


    <div class="tabla">
    	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

			  <!-- Checkbox Column -->
			  <ng-container matColumnDef="select">
			    <th mat-header-cell *matHeaderCellDef>
			      <mat-checkbox (change)="$event ? masterToggle() : null; actualizarSeleccion()"
			                    [checked]="selection.hasValue() && isAllSelected()"
			                    [indeterminate]="selection.hasValue() && !isAllSelected()">
			      </mat-checkbox>
			    </th>
			    <td mat-cell *matCellDef="let row">
			      <mat-checkbox (click)="$event.stopPropagation()"
			                    (change)="$event ? selection.toggle(row) : null; actualizarSeleccion()"
			                    [checked]="selection.isSelected(row)">
			      </mat-checkbox>
			    </td>
			  </ng-container>

			  <ng-container *ngFor="let Columna of Columnas" matColumnDef="{{Columna.id}}">
			    <th [hidden]="Columna.ocultar" mat-header-cell *matHeaderCellDef> {{Columna.nombre}} </th>
			    <td [hidden]="Columna.ocultar" mat-cell *matCellDef="let element"> {{element[Columna.id]}} </td>
			  </ng-container>			  

			  <ng-container matColumnDef="acciones">
			    <th mat-header-cell *matHeaderCellDef> Acciones </th>
			    <td mat-cell *matCellDef="let element"> 
			    	<a [routerLink]="['/Asegurados', element['cliente_id']]"><i class="fas fa-edit"></i></a>
			    </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
			</table>
    </div>

    <app-datos-pagina
    	(changePaginas)="cambioPagina($event)"
    	[total]="DatosCantidad">
    </app-datos-pagina>

</div>