<div class="inicio fondo">
	<div class="row sin-margin">
	  <div class="col-sm-4 logo text-center"><img src="https://misegurointernacional.com/ADMIN/assets/img/logo.png"></div>
	  <div class="col-sm-4 caja">
	  	<div class="centrar-vertical text-center">
	  		
	  		<h1 class="primario">Inicio de sesión</h1>
	  		<form #formIniciar="ngForm">
				  <mat-form-field class="full-width">
				    <input matInput placeholder="Usuario" type="text" required
				    	minlength="4"  [(ngModel)]="Datos.Usuario" name="Usuario" #Usuario="ngModel">
				  </mat-form-field>

				  <mat-form-field class="full-width">
				    <input matInput placeholder="Contraseña" type="password" required
				    	minlength="3"  [(ngModel)]="Datos.PW" name="PW" #PW="ngModel">
				  </mat-form-field>

 			 		<button *ngIf="Usuario.invalid || PW.invalid" mat-flat-button color="accent" type="submit"  class="full-width" disabled="true">Iniciar sesión</button>
 			 		<button *ngIf="Usuario.valid && PW.valid" mat-flat-button color="accent" type="submit"  class="full-width" disabled="false" (click)="iniciarSesion()">Iniciar sesión</button>


				</form>

				<mat-progress-bar mode="indeterminate" style="margin-top: 20px;" *ngIf="Cargando"></mat-progress-bar>

				<div style="padding: 20px;"><a (click)="Ventana.recuperarContrasena(Datos)" class="text-center" style="cursor: pointer;"> Recuperar contraseña </a></div>

	  	</div>
	  </div>
	  <div class="col-sm-4"></div>
	</div>
</div>