<mat-progress-bar style="position: fixed; height: 8px; margin-top: -10px; z-index: 10000;" mode="indeterminate" *ngIf="Progreso.CargandoGlobal"></mat-progress-bar>
<div class="">
<div class="row sin-margin">
    <div class="col-sm-3 centrar-texto"><a routerLink="/Inicio"><img src="https://misegurointernacional.com/ADMIN/assets/img/logo.png"></a></div>
    <div class="col-sm-8 centrar-texto">
    	<ul class="menu">
    		<li *ngIf="sesion.subagente()"><a>Clientes</a>
    			<ul>
                    <li><a routerLink="/Cotizacion">Alta</a></li>
    				<!-- <li><a routerLink="/Clientes/Prospectos">Prospectos</a></li> -->
                    <li><a routerLink="/Clientes/Asegurados">Asegurados</a></li>
    			</ul>
    		</li>
    		<li *ngIf="sesion.subagente() && !sesion.admin() && !sesion.gerente()"><a routerLink="/Comisiones">Comisiones</a></li>
    		<li *ngIf="sesion.admin()"><a>Administración</a>
                <ul>
                    <!-- <li><a routerLink="/Clientes/Asegurados">Asegurados</a></li> -->
                    <li><a routerLink="/Administracion/Pagos">Pagos</a></li>
                    <li><a routerLink="/Administracion/Conciliar">Conciliar</a></li>
                    <li><a routerLink="/Administracion/Comisiones">Comisiones</a></li>
                    <li><a routerLink="/Incidencias">Reclamos</a></li>
                    <li><a routerLink="/Administracion/Margen">Reportes</a></li>
                </ul>
            </li>
    		<li *ngIf="sesion.cliente()"><a [routerLink]="['/Cliente',sesion.id_datos()]">Cliente</a></li>
    	</ul>
    </div>
    <div class="col-sm-1" style="text-align: right;">
        <ul class="menu2">
            <li><a><i class="material-icons">settings</i></a>
                <ul>
                    <li *ngIf="sesion.subagente()"><a routerLink="/Configuracion/Perfil">Perfil</a></li>
                    <!-- <li *ngIf="sesion.superAdmin()"><a routerLink="/Configuracion/Configuracion">Agregar usuario</a></li> -->
                    <li *ngIf="sesion.admin()"><a routerLink="/Configuracion/Usuarios">Usuarios</a></li>
                    <li *ngIf="sesion.subagente()"><a style="cursor: pointer;" (click)="ventana.tipoCambio(Datos)">Tipo de cambio</a></li>
                    <li *ngIf="sesion.admin()"><a style="cursor: pointer;" routerLink="/Configuracion/Precios">Precios</a></li>
                    <li *ngIf="sesion.admin()"><a style="cursor: pointer;" (click)="ventana.codigosPromociones(Datos)">Códigos</a></li>
                    <li style="cursor: pointer;"><a (click)="sesion.cerrar()">Cerrar sesión</a></li>
                </ul>
            </li>
            <li *ngIf="sesion.subagente()"><a routerLink="/Cotizacion"><i class="material-icons">add_circle_outline</i></a>

            </li>
        </ul>
	    <!-- <a href=""><i class="material-icons">settings</i></a>        
        <ul class="menu2">
            <li><a routerLink="/Clientes/Prospectos">Perfil</a></li>
            <li><a routerLink="/Clientes/Asegurados">Configuración</a></li>
        </ul>
	    <br>
	    <a href=""><i class="material-icons">add_circle_outline</i></a> -->
    </div>
</div>
</div>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" *ngIf="Progreso.Cargando"></mat-progress-bar>
<mat-divider></mat-divider>

