div.row{
	margin: 10px 0 10px 0;
}


ul.menu{
	margin: 90px 0 0 30%;
	cursor: pointer;
}

ul.menu li{
	list-style-type: none;
	text-decoration: none;
	margin-top: 10px;
}

ul.menu > li{
	/*display: inline-block;*/
	float: left;
	margin-right: 20px;
}

ul.menu li a{
	padding: 10px;
	/*background-color: black;*/
	text-decoration: none;
	color: #A0A0A0;
	font-weight: bold;
}
.menu ul li a:hover{
	color: #656565;
}

ul.menu > li:hover > ul{
	display: block;
	/*float: left;*/
}

ul.menu > li > ul{
	margin: 0;
	padding: 0;
	background-color: #EBEBEB;
	border-radius: 5px;
	z-index: 1000;
	/*margin-right: -20px;*/
}

.menu li > ul{
	position:absolute;
	display: none;
}

i{
	text-align: right;
	/*float: right;*/
	font-size: 35pt;
	color: #555555;
}

/*MENÚ 2*/
ul.menu2{
	list-style-type: none;
	text-decoration: none;
}

ul.menu2 > li > ul{
	background-color: #EBEBEB;
	display: none;
	position: absolute;
	top: 10px;
	left: -50px;
	font-weight: bold;
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 5px;
	border-radius: 5px;
}

ul.menu2 > li:hover > ul{
	display: block;
}

ul.menu2 a{
	/*padding-right: 20px;*/
	text-align: center;
	color: #A0A0A0;
	text-decoration: none;
}
ul.menu2 a:hover{
	color: #656565;
}
