<!-- <pdf-viewer [src]="'http://misegurointernacional.com/ADMIN/PDF/Campos.pdf'" 
            (after-load-complete)="pdfCargado($event)"
              style="display: block; background-color: black;">
  </pdf-viewer> -->
  <!-- <button (click)="datosPoliza()">fdsfdsf</button>
  <button (click)="idioma('ES')">es</button>
  <button (click)="idioma('EN')">in</button>
  <button (click)="idioma('AL')">al</button>
  <button (click)="idioma('FR')">fr</button> -->

  <div class="idiomas">
    <!-- <button (click)="idioma('ES')">ESPAÑA</button>
    <button (click)="idioma('AL')">ALEMANIA</button>
    <button (click)="idioma('FR')">FRANCIA</button>
    <button (click)="idioma('EN')">ESTADOS UNIDOS</button> -->
  </div>

  <div class="botones">
    <!-- <i *ngIf="!Cargando.Imprimir" (click)="imprimir()" class="fas fa-print"></i> -->
    <i *ngIf="!Cargando.Descargar" (click)="descargar()" class="fas fa-file-pdf"></i>
    <i *ngIf="!Cargando.Email" (click)="correo()" class="fas fa-envelope"></i>
    <!-- <a [href]="LINKIMG">DSADSADASDAD</a> -->
  </div>

<div class="AREAG">
  
  <div style="border: 1px solid black; width:1020px; height:1320px;">
    <app-carta-poliza [textos]="TextosEspanol"></app-carta-poliza>
  </div>

  <div style="border: 1px solid black; width:1020px; height:1320px;">
    <app-carta-poliza [textos]="TextosIngles"></app-carta-poliza>
  </div>
  
  <div style="border: 1px solid black; width:1020px; height:1320px;" *ngIf="Idioma === 'FR'">
    <app-carta-poliza [textos]="TextosFrances"></app-carta-poliza>
  </div>

  <div style="border: 1px solid black; width:1020px; height:1320px;" *ngIf="Idioma === 'AL'">
    <app-carta-poliza [textos]="TextosAleman"></app-carta-poliza>
  </div>

  <div style="border: 1px solid black; width:1020px; height:1320px;" *ngIf="Idioma === 'ES' || Idioma === 'AL'">
    <div style="width:1020px; height:1320px;" class="area" id="area">
      <div class="fila" style="padding: 20px;">
        <div class="columna-6">
          <img src="assets/img/caremed.jpg" alt="logo" style="width: 310px;">
          <!-- <img src="https://misegurointernacional.com/ADMIN/assets/img/caremed.jpg" alt="logo" style="width: 310px;"> -->
        </div>
        <div class="columna-6">
          <br>
          <p>{{TextosCarta['Fecha']}}</p>
          <br>
          <p>{{TextosCarta['ID']}}</p>
        </div>
        <div class="columna-12 listado">
          <p>{{TextosCarta['Embajada']}}</p>
          <p>{{TextosCarta['Presente']}}</p>
          <br><br>
          <p>{{TextosCarta['A quien']}}</p>
        </div>
        <div class="columna-12" style="text-align: justify; line-height: 2.3;">
          <p>{{TextosCarta['Por medio']}}</p>
          <p>{{TextosCarta['Como anexo']}}</p>
          <p>{{TextosCarta['Se menciona']}}</p>
          <p>{{TextosCarta['Tratamiento']}}</p>
          <p>{{TextosCarta['Carta']}}</p>
        </div>
        <div class="columna-12 listado">
          <p style="padding: 10px;"></p>
          <p>{{TextosCarta['Sinceramente']}}</p>
          <img src="assets/img/firma_poliza.png" alt="FIRMA" width="170px">
          <!-- <img src="https://misegurointernacional.com/ADMIN/assets/img/firma_poliza.png" alt="FIRMA" width="170px"> -->
        </div>
        <div class="columna-12 listado" 
        style="text-align: center;top: 320px; position: relative;">
          <hr>
          <p>{{TextosCarta['Direccion']}}</p>
          <p>{{TextosCarta['Telefono']}}</p>
        </div>
      </div>
    </div>
  </div>

  <div style="border: 1px solid black; width:1020px; height:1320px;">
      <div style="width:1020px; height:1320px;" class="area credencial" id="area">
        <div class="fila">
          <div class="columna-12">
            <div class="fila" style="border: 3px dashed black; padding:5px;">
                <div class="columna-6">
                  <div style="
                    position: absolute;
                    background-color: black;
                    height: 300px;
                    width: 2px;
                    left: 506px;
                  "></div>
                  <div class="fila">
                    <div class="columna-12">
                        <img src="assets/img/logo.png" alt="logo" style="width: 210px;">
                        <!-- <img src="https://misegurointernacional.com/ADMIN/assets/img/logo.png" alt="logo" style="width: 210px;"> -->
                    </div>
                    <div class="columna-6 pe">
                      <p><b>INSURED: </b>{{Datos.cliente_nombre}}</p>
                      <p><b>DOB: </b>{{Datos.cliente_nacimiento}}</p>
                      <p><b>EFFECTIVE DATES: </b>{{Datos.salida}}</p>
                      <p><b>POLICY#: </b>{{Datos.a_codigo}}{{Datos.codigo_poliza}}</p>
                      <p><b>POLICY TERRITORY: </b>{{Datos.territorio}}</p>
                    </div>
                    <div class="columna-6 pe">
                      <p style="color: white;">.</p>
                      <p><b>OFFICE: </b> </p>
                      <p><b>TO: </b>{{Datos.regreso}}</p>
                    </div>
                    <div class="columna-5">
                      <img src="assets/img/fhn.PNG" alt="logo fhn">
                      <!-- <img src="https://misegurointernacional.com/ADMIN/assets/img/fhn.PNG" alt="logo fhn"> -->
                    </div>
                    <div class="columna-7 listado">
                      <p>Access to covered medical services in the US is provided by PHX
                          Preferred Provider Network, also known as First Health Network.</p>
                      <p style="font-weight: bold;">www.misegurointernacional.com</p>
                    </div>
                  </div>
                </div>
                <div class="columna-6">
                    <div class="fila">
                      <div class="columna-12 listado" style="font-weight: bold; font-size: 14pt; text-align: center;">
                        <p>IN CASE OF EMERGENCY PLEASE CALL </p>
                        <p>CAREMED ASSIST 24-HOUR EMERGENCY NUMBER</p>
                        <hr>
                      </div>
                      <div class="columna-6 listado">
                        <p><b>USA & CANADA</b></p>
                        <p><b>1-855-327 1411</b> (toll-free)</p>
                      </div>
                      <div class="columna-6 listado">
                        <p><b>All other destinations</b></p>
                        <p><b>+1 (312) 935-1703</b> (Collect calls are accepted)</p>
                      </div>
                      <div class="columna-12 " style="text-align: center;">
                        <p style="padding: 3px;"></p>
                        <p>Medassist-usa@axa-assistance.us, further information: www.caremed-assistance.com</p>
                        <hr>
                      </div>
                      <div class="columna-6 listado">
                        <p>Claim Center 1</p>
                        <p>If your travel destination is:</p>
                        <p>North and South America</p>
                        <p>CareMed Claims </p>
                        <p>CISI Claim Department</p>
                        <p>River Plaza </p>
                        <p>9 West Broad Street</p>
                        <p>Stamford, CT 06902-3788, USA</p>
                        <p>Phone: +1-866 404 2062 (toll free)   </p>
                        <p>E-mail: claimhelp@culturalinsurance.com</p>
        
                      </div>
                      <div class="columna-6 listado">
                        <p>Claim Center 1</p>
                        <p>If your travel destination is:</p>
                        <p>North and South America</p>
                        <p>CareMed Claims </p>
                        <p>CISI Claim Department</p>
                        <p>River Plaza </p>
                        <p>9 West Broad Street</p>
                        <p>Stamford, CT 06902-3788, USA</p>
                        <p>Phone: +1-866 404 2062 (toll free)</p>
                        <p>E-mail: claimhelp@culturalinsurance.com</p>
                      </div>
                    </div>          
                </div>
            </div>
          </div>          
          
          <div class="columna-12">
            <p style="font-size: 11pt; text-align: center; padding: 6.5px 0px;">                
              <img src="assets/img/flecha.PNG" alt="flechaarriba">
              <!-- <img src="https://misegurointernacional.com/ADMIN/assets/img/flecha.PNG" alt="flechaarriba"> -->
              Please detach and take it with you as an insurance card
              <img src="assets/img/flecha.PNG" alt="flechaarriba">
              <!-- <img src="https://misegurointernacional.com/ADMIN/assets/img/flecha.PNG" alt="flechaarriba"> -->
            </p>
          </div>

          <div class="columna-12">
            <div class="fila" style="border: 1px solid black; padding: 15px;">
              <div class="columna-12" style="">
                <p style="font-size: 14pt; font-weight: bold;">Insurance Confirmation</p>
                <p>We hereby confirm that the person listed below is insured with CareMed&copy;</p>
              </div>
              <div class="columna-5 pe" style="">
                <table class="insurance">
                  <tr>
                    <td><p>Mr./Ms:</p></td>
                    <td><p>Mr</p></td>
                  </tr>
                  <tr>
                    <td><p>First name:</p></td>
                    <td><p>{{Datos.cliente_nombres}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Last name:</p></td>
                    <td><p>{{Datos.cliente_apellidos}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Date of birth:</p></td>
                    <td><p>{{Datos.cliente_nacimiento}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Policy number:</p></td>
                    <td><p>{{Datos.a_codigo}}{{Datos.codigo_poliza}}</p></td>
                  </tr>
                </table>
              </div>
              <div class="columna-7 pe" style="">          
                <table class="insurance">
                  <tr>
                    <td><p>Start date of insurance:</p></td>
                    <td><p>{{Datos.salida}}</p></td>
                  </tr>
                  <tr>
                    <td><p>End date of insurance:</p></td>
                    <td><p>{{Datos.regreso}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Home country:</p></td>
                    <td><p>{{Datos.pais_origen}}</p></td>
                  </tr>
                  <tr>
                    <td><p>1st destination:</p></td>
                    <td><p>{{Datos.pais_destino}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Policy territory:</p></td>
                    <td><p>{{Datos.territorio}}</p></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="columna-12" style="padding: 15px; border: 1px solid black;">
            <div class="fila">
              <div class="columna-12 listado">
                  <p>CareMed GmbH provides the insured with international travel insurance programs marketed under the CareMed® trademark: </p>
                  <p>CareMed GmbH, Oscar-Romero-Allee 15, 53113 Bonn, Germany Insurer: ACE Seguros S.A., a part of the ACE Group</p>
                  <p style="font-weight: bold;">ACE Seguros S.A., a part of the ACE Group, is rated A+ by Standard & Poor's and A+ by A.M. Best. The provided insurance cover fulfils requirements for J1, J2, F1, H2B Visa for entry into the USA, all Working Holiday Visa (e.g. Australia, New Zealand, Canada) and Schengen Visa.</p>
              </div>
              <div class="columna-12 ">
                <p style="padding: 3px;"></p>
                <p style="font-weight: bold; font-size: 14pt;">IN CASE OF EMERGENCY PLEASE CALL CAREMED ASSIST 24-HOUR EMERGENCY NUMBER</p>
              </div>
              <div class="columna-6 listado">
                <p style="font-weight: bold;">USA & CANADA</p>
                <p style="font-weight: bold;">1-855 327 1411 (toll-free)</p>
                <p style="font-weight: bold;">Email: Medassist-usa@axa-assistance.de, further information: www.caremed-assistance.com</p>
              </div>
              <div class="columna-6 listado">
                <p style="font-weight: bold;">All other destinations</p>
                <p style="font-weight: bold;">+ (312) 935-1703 (collect call available)</p>
              </div>
              <div class="columna-6 listado">
                <p style="padding: 3px;"></p>
                <p style="font-weight:bold;">Claim Center 1</p>
                <p>Travel destination North and South America</p>
                <p>CareMed Claims, CISI Claim Department</p>
                <p>River Plaza 9 West Broad Street</p>
                <p>Stamford, CT 06902-3788, USA</p>
                <p>Phone: +1-866 404 2062 (toll free)   E: claimhelp@culturalinsurance.com</p>
              </div>
              <div class="columna-6 listado">
                <p style="padding: 3px;"></p>
                <p style="font-weight:bold;">Claim Center 2</p>
                <p>Travel destination to any other country, except North & South America</p>
                <p>CareMed Claims, ACE European Group Limited</p>
                <p>Direktion Deutschland, Lurgiallee 10</p>
                <p>60439 Frankfurt, Germany</p>
                <p>Phone : +49 (0)69-756 13 6722   E: infoah.claims@acegroup.com</p>
              </div>
            </div>
          </div>
  
          <div class="columna-12" style="padding: 15px;">
            <div class="fila">
              <div class="columna-12">
                <p style="font-size: 14pt; font-weight: bold;">Schedule of Benefits</p>
              </div>
              <div class="columna-12">
                <table class="benefits">
                  <tr>
                    <td><p style="font-weight: bold;">Travel Health insurance (HA)</p></td>
                    <td><p style="font-weight: bold;">{{Datos.tipo_poliza_ing}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Medical expenses in case of illness, accident and acute illness			</p></td>
                    <td><p>{{Datos.gastos_medicos}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Deductible options - per injury or illness</p></td>
                    <td><p>{{Datos.deducible}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Choice of physician/hospital</p></td>
                    <td><p>Any or suggested by the emergency center</p></td>
                  </tr>
                  <tr>
                    <td><p>Emergency dental care - relief of pain</p></td>
                    <td><p>{{Datos.dental_urgente}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Dental treatment in case of accident</p></td>
                    <td><p>{{Datos.dental_accidente}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Psychiatric evaluation</p></td>
                    <td><p>{{Datos.psiquiatrica}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Mental / nervous disorder</p></td>
                    <td><p>{{Datos.psiquiatrica}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Medical repatriation</p></td>
                    <td><p>{{Datos.evacuacion}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Repatriation of remains</p></td>
                    <td><p>{{Datos.repatriacion}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Out-patient Physioteraphy</p></td>
                    <td><p>{{Datos.fisioterapia}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Out-patient diagnostic x-ray and lab services</p></td>
                    <td><p>{{Datos.rayosx}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Out-patient diagnostic CAT scans and MRI</p></td>
                    <td><p>{{Datos.mri}}</p></td>
                  </tr>
                  <tr>
                    <td><p>Medical Aids</p></td>
                    <td><p>{{Datos.ayuda_medica}}</p></td>
                  </tr>
                  <tr>
                    <td><p style="font-weight: bold;">Travel Accident Insurance (I)</p></td>
                    <td><p style="font-weight: bold;">{{Datos.tipo_poliza_ing}}</p></td>
                  </tr>
                  <tr>
                    <td><p style="font-weight: bold;">Travel Assistance (T)</p></td>
                    <td><p style="font-weight: bold;">{{Datos.tipo_poliza_ing}}</p></td>
                  </tr>
                  <tr>
                    <td><p style="font-weight: bold;">Travel Luggage Insurance (L)</p></td>
                    <td><p style="font-weight: bold;">{{Datos.tipo_poliza_ing}}</p></td>
                  </tr>
                  <tr>
                    <td><p style="font-weight: bold;">Travel Third Party Liability Insurance (3)</p></td>
                    <td><p style="font-weight: bold;">{{Datos.tipo_poliza_ing}}</p></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
</div>
