.mat-tab-body{
	padding: 25px 20px !important;
}

a{
	font-size: 15pt;
	color: black;
	margin: 0 3px;
}
i:hover{
	/*font-size: 16pt;*/
	-webkit-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
}

button.asegurar{
	border: solid 0px black;
	background-color: #404449;
	color: white;
	padding: 15px 20px;
	margin: 7px 4px;
	border-radius: 21px;
	cursor: pointer;
}
button.asegurar:hover{
	background-color: #565B61;
}
::ng-deep .mat-tab-body-content {
    overflow-y: hidden !important;
}