<div class="contenido prospectos">
	<h1 class="primario-mas-claro" en="fondo">Prospectos</h1>
	<div style="padding: 5px 40px;">
		<div class="row">
			<div class="col-md-10">
				<mat-tab-group [selectedIndex]="TAB">
					<mat-tab label="Perfil"> 
						<div class="row sin-margin" style="padding-top: 20px;">
							<div class="col-sm-6">
								<mat-form-field class="full-width">
											<input matInput placeholder="Nombre(s)" type="text" required
													minlength="1"  [(ngModel)]="DatosCliente.nombres" #Nombre="ngModel">
										</mat-form-field>
		
										<mat-form-field class="full-width">
											<input matInput placeholder="Apellidos" type="text" required
													minlength="1"  [(ngModel)]="DatosCliente.apellidos" #Apellidos="ngModel">
										</mat-form-field>
		
										<mat-form-field class="full-width">
											<input matInput placeholder="Email" type="text" required
													minlength="1"  [(ngModel)]="DatosCliente.correo_electronico" #Email="ngModel">
										</mat-form-field>
		
										<!-- <mat-radio-group [(ngModel)]="DatosCliente.sexo">
											<mat-radio-button value="1" style="padding-right: 20px;">Femenino</mat-radio-button>
											<mat-radio-button value="2">Masculino</mat-radio-button>
										</mat-radio-group>					 -->
										<div class="row">
											<div class="col-sm-4" style="border: none;">Sexo</div>
											<div class="col-sm-8" style="border: none;">
												<mat-radio-group [(ngModel)]="DatosCliente.sexo">
													<mat-radio-button value="Femenino">Femenino</mat-radio-button>
													<mat-radio-button value="Masculino">Masculino</mat-radio-button>
												</mat-radio-group>
											</div>
										</div>
							</div>
							<div class="col-sm-6">	
								
								<mat-form-field class="full-width">
									<input matInput [matDatepicker]="nacimiento" placeholder="Fecha de nacimiento" [(ngModel)]="DatosCliente.fecha_nacimiento">
									<mat-datepicker-toggle matSuffix [for]="nacimiento"></mat-datepicker-toggle>
									<mat-datepicker #nacimiento></mat-datepicker>
								</mat-form-field>	
		
								<mat-form-field class="full-width">
									<input matInput placeholder="Teléfono" type="number" required
											minlength="1"  [(ngModel)]="DatosCliente.telefono" #Telefono="ngModel">
								</mat-form-field>	  
		
								<mat-form-field class="full-width">
									<input matInput placeholder="Universidad" type="text" required
											minlength="1"  [(ngModel)]="DatosCliente.universidad" #Universidad="ngModel">
								</mat-form-field>	      	
		
								<mat-form-field class="full-width"> 
									<mat-select placeholder="Fuente de referencia" [(ngModel)]="DatosCliente.id_fuente_referencia">
										<mat-option *ngFor="let referencia of Formulario.FormDatos['Fuente_Referencia']" [value]="referencia.id">
										  {{referencia.fuente_referencia}}
										</mat-option>
									  </mat-select>
								  </mat-form-field>
		
		
							</div>
						</div>
						   <app-form-direccion [datos]="DatosCliente"></app-form-direccion>
						<button class="boton derecha" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardar()">Guardar</button>
					</mat-tab>
		
					<!-- // TAB 2 ---------------------------------------------------------------------------------------
					// TAB 2 ---------------------------------------------------------------------------------------
					// TAB 2 ---------------------------------------------------------------------------------------
					// TAB 2 --------------------------------------------------------------------------------------- -->
		
					<mat-tab label="Cotizaciones"> 
						<div style="width: 100%; margin-bottom: 300px; margin-top: 30px;">
							<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
								  <!-- Checkbox Column -->
								  <ng-container matColumnDef="select">
									<th mat-header-cell *matHeaderCellDef>
									  <mat-checkbox (change)="$event ? masterToggle() : null"
													[checked]="selection.hasValue() && isAllSelected()"
													[indeterminate]="selection.hasValue() && !isAllSelected()">
									  </mat-checkbox>
									</th>
									<td mat-cell *matCellDef="let row">
									  <mat-checkbox (click)="$event.stopPropagation()"
													(change)="$event ? selection.toggle(row) : null"
													[checked]="selection.isSelected(row)">
									  </mat-checkbox>
									</td>
								  </ng-container>
		
								  <ng-container *ngFor="let Columna of Columnas" matColumnDef="{{Columna.id}}">
									<th [hidden]="Columna.ocultar" mat-header-cell *matHeaderCellDef> {{Columna.nombre}} </th>
									<td [hidden]="Columna.ocultar" mat-cell *matCellDef="let element"> {{element[Columna.id]}} </td>
								  </ng-container>
		
								 <!--  <ng-container matColumnDef="fecha">
									<th mat-header-cell *matHeaderCellDef> Fecha de registro </th>
									<td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
								  </ng-container> -->
		
								  <ng-container matColumnDef="acciones">
									<th mat-header-cell *matHeaderCellDef> Acciones </th>
									<td mat-cell *matCellDef="let element" class="acciones"> 						    
										<mat-spinner
											[color]="primary"
											*ngIf="accionCargando"
											class="carga tabla">
										</mat-spinner>
											<!-- <a (click)="imprimirCotizacion(element['id'])" style="cursor: pointer"><i class="fas fa-print"></i></a>
										<a (click)="descargarCotizacion(element['id'])" style="cursor: pointer"><i class="fas fa-file-download"></i></a>
												<a (click)="enviarCotizacion(element['id'])" style="cursor: pointer"><i class="far fa-envelope"></i></a> -->
												
										<!-- <a (click)="eliminarCotizacion(element['id'])" style="cursor: pointer" *ngIf="sesion.admin()"><i class="fas fa-minus-square" style="color:#983636;"></i></a>
												<a [routerLink]="['/Cotizacion/Ver', element['id']]" style="cursor: pointer">
													<i class="fas fa-print"></i>
													<i class="fas fa-file-download"></i>
													<i class="far fa-envelope"></i>
												</a>
												<button [routerLink]="['/Cotizacion/Confirmar', element['id']]" class="asegurar">Asegurar</button> -->
												<div class="opciones" *ngIf="Opciones[element['id']]">
													<ul>
														<li><a [routerLink]="['/Cotizacion/Ver', element['id'], 'Imprimir']">Imprimir</a></li>
														<li><a [routerLink]="['/Cotizacion/Ver', element['id'], 'Descargar']">Descargar</a></li>
														<li><a [routerLink]="['/Cotizacion/Ver', element['id'], 'Correo']">Correo</a></li>
														<li style="background-color: rgb(114, 62, 62); color: white; font-weight: bold;"><a (click)="eliminarCotizacion(element['id'])">Eliminar</a></li>
														<!-- <li style="background-color: rgb(187, 187, 187); color: white; font-weight: bold;"><a [routerLink]="['/Cotizacion/Confirmar', element['id']]">Asegurar</a></li> -->
														<li style="background-color: rgb(187, 187, 187); color: white; font-weight: bold;"><a (click)="asegurar(element['id'])">Asegurar</a></li>
													</ul>
												</div>
												<i style="cursor: pointer;" class="fas fa-ellipsis-v" (click)="opcionCambio(element['id'])"></i>
									</td>
								  </ng-container>
		
								  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
								  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
							</table>
						</div>
					</mat-tab>
				</mat-tab-group>
			</div>

			<div class="col-md-2" *ngIf="!Cliente">				
				<!-- <p>TC {{DatosSeguro.tipo_cambio}}</p> -->
				<div class="row">
					<div class="col-12">
						<mat-form-field class="full-width" *ngIf="!Agente">
							<mat-select placeholder="Tipo de distribuidor" [(ngModel)]="DatosAsignar.tipo_distribuidor_id" #tipoDistribuidorFORM="ngModel" required
								(selectionChange)="cambioAsignarSeguro('Tipo_Distribuidor')">
								<mat-option *ngFor="let tipo of Formulario.FormDatos['Tipo_Distribuidor']" [value]="tipo.id">
									{{tipo.tipo_distribuidor}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>

					<div class="col-8">
						<mat-form-field class="full-width" *ngIf="!Agente">
							<mat-select placeholder="Distribuidor" [(ngModel)]="DatosAsignar.distribuidor_id" #distribuidorFORM="ngModel" required
								(selectionChange)="cambioAsignarSeguro('Distribuidor')">
								<mat-option *ngFor="let tipo of Formulario.FormDatos['Distribuidor']" [value]="tipo.id">
									{{tipo.distribuidor}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-4">
						<mat-form-field class="full-width" *ngIf="!Agente">
							<input matInput placeholder="ID" [(ngModel)]="DatosAsignar.id_distribuidores">
						</mat-form-field>
					</div>
					
					<div class="col-12">
						<mat-form-field class="full-width" *ngIf="!Agente">
							<mat-select placeholder="Agente" [(ngModel)]="DatosAsignar.agente_id" #agenteFORM="ngModel" required
								(selectionChange)="cambioAsignarSeguro('Agente')">
								<mat-option *ngFor="let tipo of Formulario.FormDatos['Agente']" [value]="tipo.id">
									{{tipo.agente}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					
					<div class="col-12">
						<mat-form-field class="full-width">
							<mat-select placeholder="Sub Agente" [(ngModel)]="DatosAsignar.subagente_id" #subAgenteFORM="ngModel" required>
								<mat-option *ngFor="let tipo of Formulario.FormDatos['Subagente']" [value]="tipo.id">
									{{tipo.nombre_completo}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>

					<div class="col-12">
						<button mat-button color="primary" mat-flat-button (click)="AsignarGuardar()">Guardar</button>
					</div>
				</div>				
			</div>
		</div>
		
	</div>

	<!-- <div style="height: 1000px;"></div> -->

</div>