<div class="contenido cotizacion">
	<h1 class="primario-mas-claro" en="fondo" style="margin-bottom: 15px;">Clientes > Alta</h1>
	<div class="row sin-margin">
		<div class="col-sm-1"></div>
		<div class="col-sm-6">
			<mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="stepperCambio($event)">
				<mat-step>
					<ng-template matStepLabel>Tipo de seguro</ng-template>
					<mat-form-field class="full-width"> 
						<mat-select placeholder="Tipo de seguro" [(ngModel)]="DatosCotizacion.id_tipo_seguro" (selectionChange)="obtenerTiposPoliza()">
							<mat-option *ngFor="let tipo of direccion.FormDatos['Tipo_Seguro']" [value]="tipo.id">
								{{tipo.tipo_seguro}}
							</mat-option>
						</mat-select>
					</mat-form-field>
						
					<mat-form-field class="full-width"> 
						<mat-select placeholder="Origen" [(ngModel)]="DatosCotizacion.origen" (selectionChange)="obtenerTiposPoliza()">
							<mat-option *ngFor="let pais of direccion.FormDatos['Pais']" [value]="pais.id">
								{{pais.pais}}
							</mat-option>
							</mat-select>
					</mat-form-field>
						
					<!-- <mat-form-field class="full-width">
						<input matInput placeholder="C.P. origen" type="number" (keyup)="origenCP()"
								minlength="5"  [(ngModel)]="DatosCotizacion.origen_cp" #Nombre="ngModel">
					</mat-form-field>
						
					<mat-form-field class="full-width">
						<input matInput placeholder="Ciudad de origen" type="text"
								minlength="5"  [(ngModel)]="DatosCotizacion.origen_ciudad" #Nombre="ngModel">
					</mat-form-field> -->
				
					<mat-form-field class="full-width"> 
						<mat-select placeholder="Destino" [(ngModel)]="DatosCotizacion.destino" (selectionChange)="obtenerTiposPoliza()">
							<mat-option *ngFor="let pais of direccion.FormDatos['Pais']" [value]="pais.id">
								{{pais.pais}}
							</mat-option>
							</mat-select>
					</mat-form-field>
						
					<!-- <mat-form-field class="full-width">
						<input matInput placeholder="C.P. destino" type="number"
								minlength="5"  [(ngModel)]="DatosCotizacion.destino_cp" #Nombre="ngModel">
					</mat-form-field>
					
					<mat-form-field class="full-width">
						<input matInput placeholder="Ciudad de destino" type="text"
								minlength="5"  [(ngModel)]="DatosCotizacion.destino_ciudad" #Nombre="ngModel">
					</mat-form-field> -->
						
					<mat-form-field class="full-width">
						<input matInput [matDatepicker]="salida" placeholder="Salida" [(ngModel)]="DatosCotizacion.salida" [min]="hoy"
							(dateChange)="fechaCambio('change', $event)">
						<mat-datepicker-toggle matSuffix [for]="salida"></mat-datepicker-toggle>
						<mat-datepicker #salida></mat-datepicker>
					</mat-form-field>
						
					<mat-form-field class="full-width">
						<input matInput [matDatepicker]="regreso" placeholder="Regreso" [(ngModel)]="DatosCotizacion.regreso" [min]="manana"
							(dateChange)="fechaCambio('change', $event)">
						<mat-datepicker-toggle matSuffix [for]="regreso"></mat-datepicker-toggle>
						<mat-datepicker #regreso></mat-datepicker>
					</mat-form-field>
						
					<mat-form-field class="full-width"> 
						<mat-select placeholder="Tipo de Póliza" [(ngModel)]="DatosCotizacion.id_tipo_poliza" [disabled]="BloquearTipoPoliza"
								(selectionChange)="cambioTipoPoliza()">
							<mat-option *ngFor="let tipo of direccion.FormDatos['Tipo_Poliza']" [value]="tipo.id">
								{{tipo.tipo_poliza}}
							</mat-option>
							</mat-select>
					</mat-form-field>
		
					<mat-form-field class="full-width">
						<input type="text" placeholder="Código de promoción" aria-label="Código de promoción" matInput (keyup.enter)="buscarPromocion(true)" (keyup)="buscarPromocion()"
								[matAutocomplete]="autoCodigoPromocion" value="codigoPromocion"
								[(ngModel)]="codigoPromocion" name="codigoPromocionX" #codigoPromocionX="ngModel" id="codigoPromocionX">
		
						<mat-autocomplete #autoCodigoPromocion="matAutocomplete">
							<mat-option *ngFor="let cp of filtradoCodigosPromocion" [value]="cp.codigo_promocion">
								{{cp.codigo_promocion}}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>		

					<div>
						<a [href]="CoberturaLink" target="_blank" *ngIf="CoberturaLink">Ver cobertura</a>
					</div>

					<button mat-button matStepperNext class="siguiente">Siguiente</button>
				</mat-step>
		
				<mat-step>
					<ng-template matStepLabel>Cliente</ng-template>
					<mat-radio-group [(ngModel)]="Nuevo" (change)="cambioNuevo()">
						<mat-radio-button [value]="false">Cliente existente</mat-radio-button>
						<mat-radio-button [value]="true">Nuevo cliente</mat-radio-button>
					</mat-radio-group>
					<ng-container *ngIf="Nuevo">
						<mat-form-field class="full-width">
							<input matInput placeholder="Nombre(s)" type="text" required (keyup)="verificarListo()"
									minlength="1"  [(ngModel)]="DatosCliente.nombres" #Nombre="ngModel">
						</mat-form-field>
		
						<mat-form-field class="full-width">
							<input matInput placeholder="Apellidos" type="text" required (keyup)="verificarListo()"
									minlength="1"  [(ngModel)]="DatosCliente.apellidos" #Apellidos="ngModel">
						</mat-form-field>

						<div class="row">
							<div class="col-sm-4" style="border: none;">Sexo</div>
							<div class="col-sm-8" style="border: none;">
								<mat-radio-group [(ngModel)]="DatosCliente.sexo">
									<mat-radio-button value="Femenino">Femenino</mat-radio-button>
									<mat-radio-button value="Masculino">Masculino</mat-radio-button>
								</mat-radio-group>
							</div>
						</div>
						
						<mat-form-field class="full-width">
							<input matInput [matDatepicker]="nacimiento" placeholder="Fecha de nacimiento" [(ngModel)]="DatosCliente.fecha_nacimiento">
							<mat-datepicker-toggle matSuffix [for]="nacimiento"></mat-datepicker-toggle>
							<mat-datepicker #nacimiento></mat-datepicker>
						</mat-form-field>	
		
						<mat-form-field class="full-width">
							<input matInput placeholder="Correo electrónico" type="text" required (keyup)="verificarListo()"
									minlength="1"  [(ngModel)]="DatosCliente.correo_electronico" #Email="ngModel">
						</mat-form-field>
		
						<mat-form-field class="full-width">
							<input matInput placeholder="Teléfono" type="number" (keyup)="verificarListo()"
									minlength="1"  [(ngModel)]="DatosCliente.telefono" #Telefono="ngModel">
						</mat-form-field>
		
						<!-- <div class="row">
							<div class="col-sm-4" style="border: none;">Sexo</div>
							<div class="col-sm-8" style="border: none;">
								<mat-radio-group [(ngModel)]="DatosCliente.sexo">
									<mat-radio-button value="Femenino">Femenino</mat-radio-button>
									<mat-radio-button value="Masculino">Masculino</mat-radio-button>
								</mat-radio-group>
							</div>
						</div> -->
		
							<!-- <mat-form-field class="full-width">
							<input matInput [matDatepicker]="nacimiento" placeholder="Fecha de nacimiento" [(ngModel)]="DatosCliente.fecha_nacimiento"
							(dateChange)="fechaCambio('change', $event)">
							<mat-datepicker-toggle matSuffix [for]="nacimiento"></mat-datepicker-toggle>
							<mat-datepicker #nacimiento></mat-datepicker>
						</mat-form-field> -->
							
						<mat-form-field class="full-width"> 
							<mat-select placeholder="Fuente de referencia" [(ngModel)]="DatosCliente.id_fuente_referencia" (selectionChange)="verificarListo()">
								<mat-option *ngFor="let tipo of direccion.FormDatos['Fuente_Referencia']" [value]="tipo.id">
									{{tipo.fuente_referencia}}
								</mat-option>
								</mat-select>
							</mat-form-field>
		
						<!-- <mat-form-field class="full-width">
							<input matInput placeholder="Código de promoción" type="text"
									minlength="1"  [(ngModel)]="DatosCliente.id_fuente_referencia" #Promocion="ngModel">
						</mat-form-field> -->
					</ng-container>
		
				<!-- COLUMNA 2 - CLIENTE EXISTENTE -->
					<ng-container *ngIf="!Nuevo">
						<!-- <mat-form-field class="full-width">
							<input matInput placeholder="Cliente" type="text" required value="DatosCliente.nombre_completo" 
									minlength="1"  [(ngModel)]="Nombres" #Nombre="ngModel" id="Nombre" name="Nombre" (keyup)="clienteExistente(Nombre.value)">
						</mat-form-field> -->
		
						<mat-form-field class="full-width">
							<input type="text" placeholder="Cliente" aria-label="Cliente" matInput (keyup)="clienteExistente(Nombre.value)" (change)="clienteExistente(Nombre.value)" 
									[matAutocomplete]="autoCliente" required
										value="DatosCliente.nombre_completo" [(ngModel)]="Nombres" name="Nombre" #Nombre="ngModel" id="Nombre">
		
							<mat-autocomplete #autoCliente="matAutocomplete">
								<mat-option *ngFor="let cliente of filtradoClientes" [value]="cliente.nombre_completo">
									{{cliente.nombre_completo}}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
		
						<div>
							<table>
								<tr>
									<td class="bold">Nombre(s):</td>
									<td>{{DatosCliente.nombres}}</td>
								</tr>
								<tr>
									<td class="bold">Apellidos:</td>
									<td>{{DatosCliente.apellidos}}</td>
								</tr>
								<tr>
									<td class="bold">Email:</td>
									<td>{{DatosCliente.correo_electronico}}</td>
								</tr>
								<tr>
									<td class="bold">Telefono:</td>
									<td>{{DatosCliente.telefono}}</td>
								</tr>
								<tr>
									<td class="bold">Sexo:</td>
									<td>{{DatosCliente.sexo}}</td>
								</tr>
								<tr>
									<td class="bold">Fuente de referencia:</td>
									<td>{{ReferenciaSTR}}</td>
								</tr>
							</table>				 
						</div>
		
						<!-- <mat-form-field class="full-width">
							<input matInput placeholder="Código de promoción" type="text"
									minlength="1"  [(ngModel)]="codigoPromocion" #Promocion="ngModel" (keyup)="buscarPromocion()">
						</mat-form-field> -->
		
					</ng-container>					


					<button mat-flat-button color="primary" type="submit"  class="full-width" class="siguiente" style="margin-left: 10px;" [disabled]="!Listo"
					(click)="guardar('cliente', DatosCliente, 'correo_electronico')">Finalizar</button>

					<button mat-flat-button color="primary" type="submit"  class="full-width" class="siguiente" [disabled]="!Listo"
					(click)="guardar('cliente', DatosCliente, 'correo_electronico', true)">Imprimir</button>

				</mat-step>
			</mat-horizontal-stepper>
		</div>		
		<div class="col-sm-1"></div>
		<!-- COLUMNA 1 -->
        <!-- <div class="col-sm-5">
	        <mat-form-field class="full-width"> 
		    	<mat-select placeholder="Tipo de seguro" [(ngModel)]="DatosCotizacion.id_tipo_seguro" (selectionChange)="obtenerTiposPoliza()">
				    <mat-option *ngFor="let tipo of direccion.FormDatos['Tipo_Seguro']" [value]="tipo.id">
				      {{tipo.tipo_seguro}}
				    </mat-option>
		  		</mat-select>
		  	</mat-form-field>
		  	
	        <mat-form-field class="full-width"> 
		    	<mat-select placeholder="Origen" [(ngModel)]="DatosCotizacion.origen" (selectionChange)="obtenerTiposPoliza()">
				    <mat-option *ngFor="let pais of direccion.FormDatos['Pais']" [value]="pais.id">
				      {{pais.pais}}
				    </mat-option>
		  		</mat-select>
			</mat-form-field>
			  
			<!-- <mat-form-field class="full-width">
				<input matInput placeholder="C.P. origen" type="number" (keyup)="origenCP()"
						minlength="5"  [(ngModel)]="DatosCotizacion.origen_cp" #Nombre="ngModel">
			</mat-form-field>
			  
			<mat-form-field class="full-width">
				<input matInput placeholder="Ciudad de origen" type="text"
						minlength="5"  [(ngModel)]="DatosCotizacion.origen_ciudad" #Nombre="ngModel">
			</mat-form-field> ->
		
	        <mat-form-field class="full-width"> 
		    	<mat-select placeholder="Destino" [(ngModel)]="DatosCotizacion.destino" (selectionChange)="obtenerTiposPoliza()">
				    <mat-option *ngFor="let pais of direccion.FormDatos['Pais']" [value]="pais.id">
				      {{pais.pais}}
				    </mat-option>
		  		</mat-select>
		  	</mat-form-field>
			  
			<!-- <mat-form-field class="full-width">
				<input matInput placeholder="C.P. destino" type="number"
						minlength="5"  [(ngModel)]="DatosCotizacion.destino_cp" #Nombre="ngModel">
			</mat-form-field>
			
			<mat-form-field class="full-width">
				<input matInput placeholder="Ciudad de destino" type="text"
						minlength="5"  [(ngModel)]="DatosCotizacion.destino_ciudad" #Nombre="ngModel">
			</mat-form-field> ->
		  	
		  	<mat-form-field class="full-width">
				<input matInput [matDatepicker]="salida" placeholder="Salida" [(ngModel)]="DatosCotizacion.salida" [min]="hoy"
					(dateChange)="fechaCambio('change', $event)">
				<mat-datepicker-toggle matSuffix [for]="salida"></mat-datepicker-toggle>
				<mat-datepicker #salida></mat-datepicker>
			</mat-form-field>
		  	
		  	<mat-form-field class="full-width">
				<input matInput [matDatepicker]="regreso" placeholder="Regreso" [(ngModel)]="DatosCotizacion.regreso" [min]="manana"
					(dateChange)="fechaCambio('change', $event)">
				<mat-datepicker-toggle matSuffix [for]="regreso"></mat-datepicker-toggle>
				<mat-datepicker #regreso></mat-datepicker>
			</mat-form-field>
		  	
	        <mat-form-field class="full-width"> 
		    	<mat-select placeholder="Tipo de Póliza" [(ngModel)]="DatosCotizacion.id_tipo_poliza" [disabled]="BloquearTipoPoliza"
		    		 (selectionChange)="cambioTipoPoliza()">
				    <mat-option *ngFor="let tipo of direccion.FormDatos['Tipo_Poliza']" [value]="tipo.id">
				      {{tipo.tipo_poliza}}
				    </mat-option>
		  		</mat-select>
		  	</mat-form-field>
		  	
        </div>

        <div class="col-sm-5" style="padding-top: 33px;">
	    	<mat-radio-group [(ngModel)]="Nuevo" (change)="cambioNuevo()">
				<mat-radio-button [value]="false">Cliente existente</mat-radio-button>
				<mat-radio-button [value]="true">Nuevo cliente</mat-radio-button>
			</mat-radio-group>

        <!-- COLUMNA 2 - CLIENTE NUEVO ->
			<ng-container *ngIf="Nuevo">
				<mat-form-field class="full-width">
					<input matInput placeholder="Nombre(s)" type="text" required
							minlength="1"  [(ngModel)]="DatosCliente.nombres" #Nombre="ngModel">
				</mat-form-field>

				<mat-form-field class="full-width">
					<input matInput placeholder="Apellidos" type="text" required
							minlength="1"  [(ngModel)]="DatosCliente.apellidos" #Apellidos="ngModel">
				</mat-form-field>

				<mat-form-field class="full-width">
					<input matInput placeholder="Correo electrónico" type="text" required
							minlength="1"  [(ngModel)]="DatosCliente.correo_electronico" #Email="ngModel">
				</mat-form-field>

				<mat-form-field class="full-width">
					<input matInput placeholder="Teléfono" type="number" required
							minlength="1"  [(ngModel)]="DatosCliente.telefono" #Telefono="ngModel">
				</mat-form-field>

				<!-- <div class="row">
					<div class="col-sm-4" style="border: none;">Sexo</div>
					<div class="col-sm-8" style="border: none;">
						<mat-radio-group [(ngModel)]="DatosCliente.sexo">
							<mat-radio-button value="Femenino">Femenino</mat-radio-button>
							<mat-radio-button value="Masculino">Masculino</mat-radio-button>
						</mat-radio-group>
					</div>
				</div> -->

			  	<!-- <mat-form-field class="full-width">
					<input matInput [matDatepicker]="nacimiento" placeholder="Fecha de nacimiento" [(ngModel)]="DatosCliente.fecha_nacimiento"
					(dateChange)="fechaCambio('change', $event)">
					<mat-datepicker-toggle matSuffix [for]="nacimiento"></mat-datepicker-toggle>
					<mat-datepicker #nacimiento></mat-datepicker>
				</mat-form-field> ->
			  	
		        <mat-form-field class="full-width"> 
			    	<mat-select placeholder="Fuente de referencia" [(ngModel)]="DatosCliente.id_fuente_referencia">
					    <mat-option *ngFor="let tipo of direccion.FormDatos['Fuente_Referencia']" [value]="tipo.id">
					      {{tipo.fuente_referencia}}
					    </mat-option>
			  		</mat-select>
			  	</mat-form-field>

				<!-- <mat-form-field class="full-width">
					<input matInput placeholder="Código de promoción" type="text"
							minlength="1"  [(ngModel)]="DatosCliente.id_fuente_referencia" #Promocion="ngModel">
				</mat-form-field> ->
			</ng-container>

        <!-- COLUMNA 2 - CLIENTE EXISTENTE ->
			<ng-container *ngIf="!Nuevo">
				<!-- <mat-form-field class="full-width">
					<input matInput placeholder="Cliente" type="text" required value="DatosCliente.nombre_completo" 
							minlength="1"  [(ngModel)]="Nombres" #Nombre="ngModel" id="Nombre" name="Nombre" (keyup)="clienteExistente(Nombre.value)">
				</mat-form-field> ->

				<mat-form-field class="full-width">
					<input type="text" placeholder="Cliente" aria-label="Cliente" matInput (keyup)="clienteExistente(Nombre.value)" (change)="clienteExistente(Nombre.value)" 
							[matAutocomplete]="autoCliente" required
						  	 value="DatosCliente.nombre_completo" [(ngModel)]="Nombres" name="Nombre" #Nombre="ngModel" id="Nombre">

					<mat-autocomplete #autoCliente="matAutocomplete">
						<mat-option *ngFor="let cliente of filtradoClientes" [value]="cliente.nombre_completo">
							{{cliente.nombre_completo}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>

				<div>
					<table>
						<tr>
							<td class="bold">Nombre(s):</td>
							<td>{{DatosCliente.nombres}}</td>
						</tr>
						<tr>
							<td class="bold">Apellidos:</td>
							<td>{{DatosCliente.apellidos}}</td>
						</tr>
						<tr>
							<td class="bold">Email:</td>
							<td>{{DatosCliente.correo_electronico}}</td>
						</tr>
						<tr>
							<td class="bold">Telefono:</td>
							<td>{{DatosCliente.telefono}}</td>
						</tr>
						<tr>
							<td class="bold">Sexo:</td>
							<td>{{DatosCliente.sexo}}</td>
						</tr>
						<tr>
							<td class="bold">Fuente de referencia:</td>
							<td>{{ReferenciaSTR}}</td>
						</tr>
					</table>				 
				</div>

				<!-- <mat-form-field class="full-width">
					<input matInput placeholder="Código de promoción" type="text"
							minlength="1"  [(ngModel)]="codigoPromocion" #Promocion="ngModel" (keyup)="buscarPromocion()">
				</mat-form-field> ->

			</ng-container>

			<mat-form-field class="full-width">
				<input type="text" placeholder="Código de promoción" aria-label="Código de promoción" matInput (keyup.enter)="buscarPromocion(true)" (keyup)="buscarPromocion()"
						[matAutocomplete]="autoCodigoPromocion" required value="codigoPromocion"
						[(ngModel)]="codigoPromocion" name="codigoPromocionX" #codigoPromocionX="ngModel" id="codigoPromocionX">

				<mat-autocomplete #autoCodigoPromocion="matAutocomplete">
					<mat-option *ngFor="let cp of filtradoCodigosPromocion" [value]="cp.codigo_promocion">
						{{cp.codigo_promocion}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>

        </div> -->

		<!-- COLUMNA 3 -->		
        <div class="col-sm-4">
			<div *ngIf="VerDatos" style="
			padding: 13px;
			margin-top: 5px;
		    background-color: #dfdfdf;
			color: black;
			text-align: center;">

				<p>Tipo de seguro: <b>{{VerDatosDatos.tipo_seguro}}</b></p>
				<p>Origen: <b>{{VerDatosDatos.origen}}</b></p>
				<p>Destino: <b>{{VerDatosDatos.destino}}</b></p>
				<p>Salida: <b>{{VerDatosDatos.salida}}</b></p>
				<p>Regreso: <b>{{VerDatosDatos.regreso}}</b></p>
				<p>Duración: <b>{{VerDatosDatos.tiempo}}</b></p>
				<p>Tipo de póliza: <b>{{VerDatosDatos.tipo_poliza}}</b></p>
				<p>Código promoción: <b>{{VerDatosDatos.codigo}}</b></p>


			</div>

			<div *ngIf="Sesion.Info.id_distribuidor == 9 || Sesion.Info.id_distribuidor == 20">
				<div style="background-color: rgb(230, 230, 230); padding: 5px; text-align: center;">
					<!-- <mat-form-field> -->
					<mat-radio-group [(ngModel)]="DescuentoEleccion">
						<mat-radio-button value="20">Setmex</mat-radio-button>
						<mat-radio-button value="9">Estudiantes</mat-radio-button>
					</mat-radio-group>
					<!-- </mat-form-field> -->
				</div>
			</div>

			<div style="
			padding: 13px;
		    background-color: #6e8292;
			color: white;
			text-align: center;">
				<h2 style="color: white; font-size: 20pt;">TOTAL</h2>

				<p>${{DatosCotizacion.precioMXN | number}} MXN</p>
				<p>${{DatosCotizacion.precioUSD | number}} USD</p>
				<p>Tipo de cambio ${{DatosCotizacion.tipo_cambio}}</p>
	
				<!-- <button mat-flat-button color="primary" type="submit"  class="full-width" disabled="false" style="color: white;"
					(click)="guardar('cliente', DatosCliente, 'correo_electronico')">GUARDAR</button> -->
<!-- 	
				<button mat-flat-button color="primary" type="submit"  class="full-width" disabled="false" style="color: white;" [disabled]="!Listo"
					(click)="guardar('cliente', DatosCliente, 'correo_electronico')">GUARDAR</button> -->
			</div>

        	

        </div>
    </div>
</div>