mat-radio-button{
	margin-right: 10px;
}

div[class^="col-"]{
	border: 1px solid #E7E7E7;
}

label{
	font-weight: bold;
}

table tr td{
	padding: 3px 35px 20px 0px;
	/*margin-right: 35px;*/
}
table tr td.bold{
	font-weight: bold;
}

button.siguiente{
    background-color: var(--color-primero) !important;
    float: right;
	padding: 4px 30px;
	color: white;
}