<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

	<h1 mat-dialog-title style="font-weight: bold; text-align: center">Agregar reclamo</h1>

	<h2 *ngIf="data.Creador" style="
	font-size: 12pt;
    text-align: right;
    font-weight: bold;">Creado por {{data.Creador}}</h2>

	<div class="row">
		
		<div class="col-sm-1"></div>
		<div class="col-sm-10">

			<div class="row">
				<div class="col-sm-6">
					<mat-form-field class="full-width">
						<input matInput [matDatepicker]="fecha_incidente" placeholder="Fecha" [(ngModel)]="DatosIncidente.fecha_incidente" (dateChange)="cambioFormulario()">
						<mat-datepicker-toggle matSuffix [for]="fecha_incidente"></mat-datepicker-toggle>
						<mat-datepicker #fecha_incidente></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-sm-6"></div>

				<div class="col-sm-6">
					<mat-form-field class="full-width"> 
				    	<mat-select placeholder="País" [(ngModel)]="DatosIncidente.id_pais" (selectionChange)="cambioFormulario()">
						    <mat-option *ngFor="let datos of Formulario.FormDatos['Pais']" [value]="datos.id">
						      {{datos.pais}}
						    </mat-option>
				  		</mat-select>
				  	</mat-form-field>
				</div>
				<div class="col-sm-6">			
					<mat-form-field class="full-width">
						<input matInput placeholder="Ciudad" type="text" required [(ngModel)]="DatosIncidente.ciudad" #ciudad="ngModel" (change)="cambioFormulario()">
					</mat-form-field>
				</div>

				<div class="col-sm-12">
					<mat-form-field class="full-width">
				    	<textarea matInput placeholder="Descripción"required [(ngModel)]="DatosIncidente.descripcion" #descripcion="ngModel" (change)="cambioFormulario()"></textarea>
					</mat-form-field>
				</div>

				<table style="width: 100%; border: solid 1px #CBCBCB; margin: 15px 0px" class="pagos">
					<tr style="background-color: #F5F5F5; font-weight: bold;">
						<td style="padding: 1px 7px; font-size: 25pt; color: #666666; cursor: pointer;"
							(click)="agregarFactura()">+</td>
						<td>Facturas</td>
						<td>Fecha</td>
						<td>Monto</td>
						<td>Moneda</td>
						<td>Comentario</td>
						<td></td>
					</tr>
					<ng-container *ngFor="let Datos of DatosFacturas">
					<tr>
						<td></td>
						<td><a href="https://misegurointernacional.com/MSISIS/archivos/FacturaIncidente/{{Datos.id}}.{{Datos.archivo}}" target="blank">Ver</a></td>
						<td>{{Datos.fecha}}</td>
						<td>{{Datos.cantidad}}</td>
						<td>{{Datos.moneda}}</td>
						<td>{{Datos.comentario}}</td>
						<td>
							<a><i class="fas fa-times" style="cursor: pointer;" (click)="eliminarFactura(Datos)"></i></a>
						</td>
					</tr>
					</ng-container>
				</table>

				<mat-divider></mat-divider>

				<div class="col-sm-12" *ngIf="!ModADMIN" style="background-color: #F5F5F5">
					<div class="row" style="margin: 10px 0px;">
						<div class="col-sm-4">
							<!-- Fecha de envío: <label>{{DatosIncidente.fecha_envio}}</label> -->
							Fecha de solicitud: <label>{{DatosIncidente.fecha_incidente}}</label>
						</div>
						<div class="col-sm-4">
							Monto solicitado: <label>${{DatosIncidente.monto_solicitado}}</label>
						</div>
						<div class="col-sm-4"></div>

						<div class="col-sm-4">
							Fecha de autorización: <label>{{DatosIncidente.fecha_autorizacion}}</label>
						</div>
						<div class="col-sm-4">
							Monto autorizado: <label>${{DatosIncidente.monto_autorizado}}</label>
						</div>
						<div class="col-sm-4">
							Resultado: <label>{{DatosIncidente.resultado}}</label>
						</div>
					</div>
				</div>

				<div class="col-sm-12" *ngIf="ModADMIN" style="background-color: #F5F5F5">
					<div class="row" style="margin: 10px 0px;">
						<div class="col-sm-4">
							Fecha de envío: <label>{{DatosIncidente.fecha_envio}}</label>
						</div>
						<div class="col-sm-4">
							Monto solicitado: <label>${{DatosIncidente.monto_solicitado}}</label>
						</div>
						<div class="col-sm-4"></div>

						<div class="col-sm-4">
							<!-- Fecha de autorización: <label>{{DatosIncidente.fecha_autorizacion}}</label> -->
							<mat-form-field>
								<input matInput [matDatepicker]="fecha_autorizado" placeholder="Fecha de autorización" [(ngModel)]="DatosIncidente.fecha_autorizacion">
								<mat-datepicker-toggle matSuffix [for]="fecha_autorizado"></mat-datepicker-toggle>
								<mat-datepicker #fecha_autorizado></mat-datepicker>
							</mat-form-field>					
						</div>
						<div class="col-sm-4">
							<mat-form-field>
								<input matInput placeholder="Monto autorizado" [(ngModel)]="DatosIncidente.monto_autorizado">
							</mat-form-field>
						</div>
						<div class="col-sm-4">
							<mat-form-field>
							<mat-select placeholder="Resultado" [(ngModel)]="DatosIncidente.resultado" name="resultado">
								<mat-option *ngFor="let resultado of Resultados" [value]="resultado">
									{{resultado}}
								</mat-option>
							</mat-select>
						</mat-form-field>
						</div>
					</div>
				</div>

				<!-- <div class="col-sm-6">
					<mat-form-field class="full-width">
						<input matInput [matDatepicker]="fecha_envio" placeholder="Fecha de envio" [(ngModel)]="DatosIncidente.fecha_envio" (dateChange)="cambioFormulario()">
						<mat-datepicker-toggle matSuffix [for]="fecha_envio"></mat-datepicker-toggle>
						<mat-datepicker #fecha_envio></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-sm-6">
					<mat-form-field class="full-width">	
						<input matInput placeholder="Monto solicitado" type="number" required [(ngModel)]="DatosIncidente.monto_solicitado" #monto_solicitado="ngModel" (change)="cambioFormulario()">
					</mat-form-field>
				</div>

				<div class="col-sm-12">
					<mat-form-field class="full-width">
				    	<textarea matInput placeholder="Comentarios" required [(ngModel)]="DatosIncidente.comentarios" #comentarios="ngModel" (change)="cambioFormulario()"></textarea>
					</mat-form-field>
				</div> -->

			</div>

			<mat-divider></mat-divider> 
			  
			<table style="width: 100%; border: solid 1px #CBCBCB; margin: 10px 0px;" class="pagos">
				<tr style="background-color: #F5F5F5; font-weight: bold;">
					<td style="padding: 1px 7px; font-size: 25pt; color: #666666; cursor: pointer;"
						(click)="agregarComentario()">+</td>
					<td>Historial de comentarios</td>
					<td></td>
					<td></td>
				</tr>
				<ng-container *ngFor="let Datos of DatosHistorialComentarios">
				<tr>
					<td><a href="https://misegurointernacional.com/MSISIS/archivos/HistorialComentarios/{{Datos.id}}.{{Datos.archivo}}" target="blank">Ver</a></td>
					<td>
						{{Datos.nombre_completo}}:
						{{Datos.fecha_hora}}
					</td>
					<td>{{Datos.comentario}}</td>
					<td>
			    		<!-- <a><i class="fas fa-paperclip" (click)="eliminarComentario(Datos)"></i></a> -->
			    		<a><i class="fas fa-times" style="cursor: pointer;" (click)="eliminarComentario(Datos)"></i></a>
			    	</td>
				</tr>
				</ng-container>
			</table>



		</div>
		<div class="col-sm-1"></div>

	</div>

		<!-- <button *ngIf="(Modificar && !Cliente) || !Modificar" style="margin-bottom: 120px; margin-top: 20px;" class="boton derecha" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarIncidente()">Guardar</button> -->
		<button style="margin-bottom: 120px; margin-top: 20px;" class="boton derecha" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarIncidente(true)">Guardar</button>

</div>