<div class="contenido clientes">
	<h1 class="primario-mas-claro" en="fondo">Administración/Pagos</h1>

	<div style="padding: 0px 40px;">
		<mat-tab-group [selectedIndex]='0'>
			<mat-tab label="Pendientes">
				<app-pagos></app-pagos>
			</mat-tab>

			<!-- ------------------------------------------------------------------------- -->
			<!-- ------------------------------------------------------------------------- -->
			<!-- PESTAÑA ACREDITADOS -->
			<!-- ------------------------------------------------------------------------- -->
			<!-- ------------------------------------------------------------------------- -->
			<mat-tab label="Acreditados">
				<app-acreditados></app-acreditados>
			</mat-tab>
		</mat-tab-group>
	</div>



</div>