<div class="contenido" style="padding: 20px 20px;">
<h1 class="primario-mas-claro" en="fondo">Precios</h1>

<div style="padding: 0px 40px;">
  <mat-tab-group [selectedIndex]='0'>
    <mat-tab label="Póliza" style="overflow: hidden;">
        <app-precios-poliza></app-precios-poliza>
    </mat-tab>

    <!-- ------------------------------------------------------------------------- -->
    <!-- ------------------------------------------------------------------------- -->
    <!-- PESTAÑA PAGADO -->
    <!-- ------------------------------------------------------------------------- -->
    <!-- ------------------------------------------------------------------------- -->
    <mat-tab label="Cobertura">
        <app-precios-cobertura></app-precios-cobertura>
    </mat-tab>
  </mat-tab-group>
</div>

</div>