<h1 mat-dialog-title>Ocultar columnas</h1>
<div mat-dialog-content>
  <div style="text-align: center">
  <p>Seleccionar columnas para ocultar:</p></div>

  <ng-container *ngFor="let Columna of data">
    <mat-checkbox [(ngModel)]="Columna.ocultar">{{Columna.nombre}}</mat-checkbox><br>
  </ng-container>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
</div>