<div class="precios">

  <div style="
    background-color: transparent;
    padding: 10px;
    text-align: right;
    position: fixed;     right: 10px;
  ">
    <button *ngIf="!Guardando" mat-flat-button color="primary" (click)="guardarlos()">GUARDAR</button>
  </div>

  <div *ngFor="let Datos of DatosPolizas; let i=index">

    <div class="row">
      <div class="col-11" style="overflow-x: scroll; margin-bottom: 10px;">  

        <div style="width: 4700px">
          <mat-form-field style="width: 30px;">
            <input matInput placeholder="Activo/inactivo" [(ngModel)]="DatosPolizas[i].activo_inactivo">
          </mat-form-field>
          
          <mat-form-field style="width: 80px;">
            <input matInput placeholder="Tipo póliza" [(ngModel)]="DatosPolizas[i].tipo_poliza">
          </mat-form-field>
          
          <mat-form-field style="width: 200px;">
            <input matInput placeholder="Código póliza" [(ngModel)]="DatosPolizas[i].codigo_poliza">
          </mat-form-field>
          
          <mat-form-field style="width: 200px;">
            <input matInput placeholder="Código póliza" [(ngModel)]="DatosPolizas[i].nombre_poliza">
          </mat-form-field>
      
          <mat-form-field style="width: 30px;">
            <input matInput placeholder="Zona" [(ngModel)]="DatosPolizas[i].zona">
          </mat-form-field>
      
          <mat-form-field style="width: 40px;">
            <input matInput placeholder="Deducible" [(ngModel)]="DatosPolizas[i].deducible">
          </mat-form-field>
          
          <mat-form-field style="width: 80px;">
            <input matInput placeholder="DSM" [(ngModel)]="DatosPolizas[i].dsm">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput [matDatepicker]="vigencia_inicio" placeholder="Vigencia inicio" [(ngModel)]="DatosPolizas[i].vigencia_inicio">
            <mat-datepicker-toggle matSuffix [for]="vigencia_inicio"></mat-datepicker-toggle>
            <mat-datepicker #vigencia_inicio></mat-datepicker>
          </mat-form-field>
      
          <mat-form-field>
            <input matInput [matDatepicker]="vigencia_final" placeholder="Vigencia final" [(ngModel)]="DatosPolizas[i].vigencia_final">
            <mat-datepicker-toggle matSuffix [for]="vigencia_final"></mat-datepicker-toggle>
            <mat-datepicker #vigencia_final></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field style="width: 80px;">
            <input matInput placeholder="Tipo póliza inglés" [(ngModel)]="DatosPolizas[i].tipo_poliza_ingles">
          </mat-form-field>   
          
          <mat-form-field style="width: 80px;">
            <input matInput placeholder="A Código" [(ngModel)]="DatosPolizas[i].a_codigo">
          </mat-form-field>  
          
          <mat-form-field style="width: 30px;">
            <input matInput placeholder="Edad mínima" [(ngModel)]="DatosPolizas[i].edad_min">
          </mat-form-field>   
          
          <mat-form-field style="width: 30px;">
            <input matInput placeholder="Edad máxima" [(ngModel)]="DatosPolizas[i].edad_max">
          </mat-form-field>
          
          <mat-form-field style="width: 280px;">
            <input matInput placeholder="Gastos médicos" [(ngModel)]="DatosPolizas[i].gastos_medicos">
          </mat-form-field> 
          
          <mat-form-field style="width: 280px;">
            <input matInput placeholder="Elección médico" [(ngModel)]="DatosPolizas[i].eleccion_medico">
          </mat-form-field>
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Dental urgente" [(ngModel)]="DatosPolizas[i].dental_urgente">
          </mat-form-field>  
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Dental accidente" [(ngModel)]="DatosPolizas[i].dental_accidente">
          </mat-form-field>  
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Psiquiátrica" [(ngModel)]="DatosPolizas[i].psiquiatrica">
          </mat-form-field>  
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Evacuación" [(ngModel)]="DatosPolizas[i].evacuacion">
          </mat-form-field>  
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Repatriación" [(ngModel)]="DatosPolizas[i].repatriacion">
          </mat-form-field>  
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Fisioterapia" [(ngModel)]="DatosPolizas[i].fisioterapia">
          </mat-form-field>  
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Rayos X" [(ngModel)]="DatosPolizas[i].rayosx">
          </mat-form-field>  
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Ayuda médica" [(ngModel)]="DatosPolizas[i].ayuda_medica">
          </mat-form-field>  
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="MRI" [(ngModel)]="DatosPolizas[i].mri">
          </mat-form-field>  
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Muerte" [(ngModel)]="DatosPolizas[i].muerte">
          </mat-form-field>
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Demembramiento" [(ngModel)]="DatosPolizas[i].demembramiento">
          </mat-form-field>
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Rescate" [(ngModel)]="DatosPolizas[i].rescate">
          </mat-form-field>
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Viaje familiar" [(ngModel)]="DatosPolizas[i].viaje_familiar">
          </mat-form-field>
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Pasaje aéreo" [(ngModel)]="DatosPolizas[i].pasaje_aereo">
          </mat-form-field>
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Robo prioridad" [(ngModel)]="DatosPolizas[i].robo_prioridad">
          </mat-form-field>
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Relojes" [(ngModel)]="DatosPolizas[i].relojes">
          </mat-form-field>
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Responsabilidad civil" [(ngModel)]="DatosPolizas[i].responsabilidad_civil">
          </mat-form-field>
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Terceros" [(ngModel)]="DatosPolizas[i].terceros">
          </mat-form-field>
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Territorio" [(ngModel)]="DatosPolizas[i].territorio">
          </mat-form-field>
          
          <mat-form-field style="width: 100px;">
            <input matInput placeholder="Retraso" [(ngModel)]="DatosPolizas[i].retraso">
          </mat-form-field>
        </div>
      </div>

      <div class="col-1">
        <!-- <div style="
          position: relative;
          right: -10px;
          top: 20px;
          background-color: white; height: 100%;">
          <table>
            <tr>
              <td class="acciones">													
                <div class="opciones" *ngIf="OpcionesPolizas[Datos.id]">
                  <ul>
                    <li><a (click)="guardarPoliza(Datos)">Guardar</a></li>
                    <li><a (click)="eliminarPoliza(Datos)">Eliminar</a></li>
                  </ul>
                </div>
                <i style="cursor: pointer;" class="fas fa-ellipsis-v" (click)="opcionCambio(Datos.id)"></i>
              </td>
            </tr>
          </table>
        </div> -->
      </div>

    </div>  
   
  </div>

</div>

<!-- <mat-select placeholder="Tipo seguro" [(ngModel)]="DatosCoberturas[i].VALOR" name="tipo_seguro">
  <mat-option *ngFor="let tipo_seguro of Formulario.FormDatos['Tipo_Seguro']" [value]="tipo_seguro.value">
    {{tipo_seguro.viewValue}}
  </mat-option>
</mat-select> -->