h1{
	font-weight: bold;
	padding: 12px 15px;
	border-radius: 5px;
}

.row{
	text-align: center;
}
.row div{
	margin: 0 auto;
}

div.archivo .foto, div.archivo .foto img{
	height: 160px;
	width: 160px;
	background-color: #E3E7EE;
	border-radius: 5px;
}
div.archivo button, div.archivo label{
	background-color: #4B4B4B;
	color: white;
	border-radius: 5px;
	width: 160px;
	text-align: center;
	padding: 9px 0;
	cursor: pointer;
}