<div class="contenido container" style="padding: 20px 20px;">
	<h1 class="primario-mas-claro" en="fondo">Perfil</h1>


	<mat-tab-group>
		<!-- ----------------------------------------------------- -->
		<!-- ----------------------------------------------------- -->
		<!-- TAB PERFIL -->
		<!-- ----------------------------------------------------- -->
		<!-- ----------------------------------------------------- -->
		<mat-tab label="Perfil"> 
			<div class="row sin-margin" style="padding-top: 20px;">
		        <div class="col-sm-4">
					<mat-form-field class="full-width">
						<input matInput placeholder="Nombre(s)" type="text" required
								minlength="1"  [(ngModel)]="Datos.nombres" #Nombre="ngModel">
					</mat-form-field>

					<mat-form-field class="full-width">
						<input matInput placeholder="Correo electrónico" type="text" disabled="true" 
								minlength="1"  [(ngModel)]="Datos.correo_electronico" #Nombre="ngModel">
					</mat-form-field>

				</div>

		        <div class="col-sm-4">
					<mat-form-field class="full-width">
						<input matInput placeholder="Apellidos" type="text" required
								minlength="1"  [(ngModel)]="Datos.apellidos" #Nombre="ngModel">
					</mat-form-field>

					<mat-form-field class="full-width">
						<input matInput placeholder="Teléfono" type="text" required
								minlength="1"  [(ngModel)]="Datos.telefono" #Nombre="ngModel">
					</mat-form-field>
		        </div>

		        <div class="col-sm-4">
		        	<div class="archivo">
		        		<div class="foto">
		        			<img [src]="Archivo.URL_TMP">
		        		</div>
		        		<!-- <input type="file" value="" hidden name="foto">
		        		<button mat-flat-button color="accent" type="submit"  class="boton" disabled="false">Subir foto</button> -->
		        		<label>
						    <input type="file" value="" hidden name="foto"style="display: none;" (change)="cambioArchivo($event)">
						    Subir foto
						</label>
		        	</div>
		        </div>		        
			</div>

    			<app-form-direccion [datos]="Datos"></app-form-direccion>
		</mat-tab>

		<!-- ----------------------------------------------------- -->
		<!-- ----------------------------------------------------- -->
		<!-- TAB FACTURACION -->
		<!-- ----------------------------------------------------- -->
		<!-- ----------------------------------------------------- -->
		<mat-tab label="Datos de facturación"> 
		    <p style="font-weight: bold;"></p>	
			<app-facturacion
				[datos]="Datos">
			</app-facturacion>
		</mat-tab>
	</mat-tab-group>
	
    				<button class="boton derecha" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarPerfil()">Guardar</button>
</div>