<div class="contenido prospectos">
	<h1 *ngIf="!Cliente" class="primario-mas-claro" en="fondo"[ngStyle]="
		{'background-color': folioColor() }
	">
		Asegurado » {{DatosCliente.nombre_completo}} 
		<span *ngIf="Admin && DatosSeguro.estado_t == 1">(EXTENDIDO)</span>
		<span *ngIf="Admin && DatosSeguro.estado_t == 2">(CANCELADO)</span>
		<span *ngIf="Admin && DatosSeguro.estado_t == 3">(CORRECCIÓN)</span>
		<span *ngIf="Admin && DatosSeguro.estado_t == 0"></span>		
	</h1>
	<h1 *ngIf="Cliente" class="primario-mas-claro" en="fondo">{{DatosCliente.nombre_completo}}</h1>
	<div style="padding: 5px 40px;">
		<div class="row">
			<div class="col-md-10">
				<mat-tab-group [selectedIndex]="TAB">
				<!-- <mat-tab-group [selectedIndex]="4"> -->
					<mat-tab label="Perfil"> 
						

					<!-- // TAB 2 ---------------------------------------------------------------------------------------
					// TAB 2 ---------------------------------------------------------------------------------------
					// TAB 2 ---------------------------------------------------------------------------------------
					// TAB 2 --------------------------------------------------------------------------------------- -->

					<!-- <mat-tab label="Seguros">  -->
						<div style="padding: 20px 30px">
							<div class="row" style="padding-bottom: 20px;">
								<!-- <div class="col-sm-6"></div> -->
								<div class="col-sm-9" style="background-color: #EAEAEA; border: 1px solid #E1F6CD;">
									<mat-form-field class="full-width"> 
										<mat-select placeholder="Seleccionar seguro" [(ngModel)]="Folio" (selectionChange)="cambioSeguro()">
											<mat-option *ngFor="let datos of DatosSeguros" [value]="datos.id">
											{{datos.folio}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<!-- <div class="col-sm-3">
									<p *ngIf="DatosSeguro.estado_t == 1">EXTENDIDO</p>
									<p *ngIf="DatosSeguro.estado_t == 2">CANCELADO</p>
									<p *ngIf="DatosSeguro.estado_t == 3">CORRECCIÓN</p>
									<p *ngIf="DatosSeguro.estado_t == 0"></p>
								</div> -->
								<!-- <div class="col-sm-2"> -->
									<!-- <a [routerLink]="['/Poliza', DatosSeguro.id, 'ES']"><button mat-flat-button color="secundary">VER PÓLIZA</button></a> -->
								<!-- </div> -->
							</div>

							<div class="row">
								<div class="col-sm-12">
									<!-- <p style="font-weight: bold;">Folio {{DatosSeguro.folio}}</p> -->
									<!-- <p>Seguro registrado AG. CAMPO A COTIZACION</p> -->
									<!-- <p>TC {{DatosSeguro.tipo_cambio}}</p> -->
								</div>
								<div class="col-sm-5">
									<!-- <a *ngIf="!Cliente || (!Cliente && DatosSeguro.liquidado > 0)" [routerLink]="['/Poliza', DatosSeguro.id, 'ES']"><button mat-flat-button color="primary">VER PÓLIZA</button></a> -->
									<!-- <a [routerLink]="['/Poliza', DatosSeguro.id, 'ES']"><button mat-flat-button color="primary">VER PÓLIZA</button></a> -->
								</div>
							</div>

							<div class="row" style="border: solid 1px transparent;"> 
								<div class="col-sm-6"><div style="padding: 10px;">
									<mat-form-field class="full-width"> 
										<mat-select placeholder="Tipo de seguro" [(ngModel)]="DatosSeguro.id_tipo_seguro" (selectionChange)="obtenerTiposPoliza()">
											<mat-option *ngFor="let datos of Formulario.FormDatos['Tipo_Seguro']" [value]="datos.id">
											{{datos.tipo_seguro}}
											</mat-option>
										</mat-select>
									</mat-form-field>

									<mat-form-field class="full-width"> 
										<mat-select placeholder="País origen" [(ngModel)]="DatosSeguro.origen" (selectionChange)="obtenerTiposPoliza()">
											<mat-option *ngFor="let datos of Formulario.FormDatos['Pais']" [value]="datos.id">
											{{datos.pais}}
											</mat-option>
										</mat-select>
									</mat-form-field>

									<div class="row">
										<div class="col-sm-10">
											<mat-form-field class="full-width"> 
												<mat-select placeholder="País destino" [(ngModel)]="DatosSeguro.destino" (selectionChange)="obtenerTiposPoliza()">
													<mat-option *ngFor="let datos of Formulario.FormDatos['Pais']" [value]="datos.id">
													{{datos.pais}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>

										<div class="col-sm-2">									
											<mat-form-field class="full-width">
												<input matInput placeholder="Zona" type="text" required disabled="true" [value]="Zona_Pais">
											</mat-form-field>
										</div>
									</div>

									<mat-form-field class="full-width">
										<input matInput [matDatepicker]="salida" placeholder="Fecha de inicio" [(ngModel)]="DatosSeguro.salida" (dateChange)="obtenerTiposPoliza()">
										<mat-datepicker-toggle matSuffix [for]="salida"></mat-datepicker-toggle>
										<mat-datepicker #salida></mat-datepicker>
									</mat-form-field>

									<div class="row sin-margin">
										<div class="col-sm-3">
											Duración
										</div>		
										<div class="col-sm-2" *ngIf="DatosSeguro.numero_dias > 10">
											<mat-form-field class="full-width">
												<input matInput placeholder="DSM" type="text" required
														minlength="1"  [(ngModel)]="DatosSeguro.numero_semanas_meses" #semanas="ngModel" disabled="true">
											</mat-form-field>	
										</div>		
										<div class="col-sm-3" *ngIf="DatosSeguro.numero_dias > 10">
											<mat-form-field class="full-width">
												<input matInput placeholder="" [(ngModel)]="DSM" type="text" value="" required>
											</mat-form-field>	
										</div>		
										<div class="col-sm-2">
											<mat-form-field class="full-width">
												<input matInput placeholder="Días" type="text" required
														minlength="1"  [(ngModel)]="DatosSeguro.numero_dias" #dias="ngModel" disabled="true">
											</mat-form-field>	
										</div>		
										<div class="col-sm-2">
											<mat-form-field class="full-width">
												<input matInput placeholder="Días" type="text" value="Días" required>
											</mat-form-field>	
										</div>					
									</div>
								</div></div>
								<div class="col-sm-6"><div style="padding: 10px;">
									<mat-form-field class="full-width">
										<!-- <input matInput placeholder="Póliza" type="text" required
												minlength="1"  [(ngModel)]="DatosSeguro.poliza" #semanas="ngModel"> -->										
										<mat-select placeholder="Tipo de póliza" [(ngModel)]="DatosSeguro.id_tipo_poliza" (selectionChange)="cambioTipoPoliza()">
											<mat-option *ngFor="let datos of Formulario.FormDatos['Tipo_Poliza']" [value]="datos.id">
											{{datos.tipo_poliza}}
											</mat-option>
										</mat-select>
									</mat-form-field>									

									<div class="row">
										<div class="col-sm-6">
											<mat-form-field class="full-width">
												<input matInput placeholder="C.P. destino" type="number"
														minlength="5"  [(ngModel)]="DatosSeguro.destino_cp" #Nombre="ngModel">
											</mat-form-field>
										</div>

										<div class="col-sm-6">												
											<mat-form-field class="full-width">
												<input matInput placeholder="Ciudad de destino" type="text"
														minlength="5"  [(ngModel)]="DatosSeguro.destino_ciudad" #Nombre="ngModel">
											</mat-form-field>
										</div>
									</div>

									<mat-form-field class="full-width">
										<input matInput placeholder="Póliza" type="text" required disabled="true" [value]="Codigo_Poliza">
									</mat-form-field>

									<mat-form-field class="full-width">
										<input matInput [matDatepicker]="regreso" placeholder="Fecha de regreso" [(ngModel)]="DatosSeguro.regreso" (dateChange)="obtenerTiposPoliza()">
										<mat-datepicker-toggle matSuffix [for]="regreso"></mat-datepicker-toggle>
										<mat-datepicker #regreso></mat-datepicker>
									</mat-form-field>

								</div></div>
								<div class="col-sm-4">
									<!-- <mat-form-field class="full-width"> 
										<mat-select placeholder="Cobertura" [(ngModel)]="Datos.cobertura">
											<mat-option [value]=1>Plata</mat-option>
										</mat-select>
									</mat-form-field> -->
								</div>
								<!-- <div class="col-sm-4" style="padding: 0px 100px;">
									<h2>TOTAL</h2>

									<p>${{DatosSeguro.precioMXN}} MXN</p>
									<p>${{DatosSeguro.precioUSD}} USD</p>
									<p>Tipo de cambio ${{DatosSeguro.tipo_cambio}}</p>

									<p></p>

									<button mat-flat-button color="accent" type="submit"  class="full-width" (click)="ventana.asignarSeguro(DatosCliente.id)">Asignar seguro</button>

								</div> -->
							</div>

							<div class="row" style="margin-top: 13px;">
								<div class="col-sm-6" style=""><div style="padding: 10px;border: solid 1px transparent;">
									<h2>USD</h2>
									<div class="row">
										<div class="col-sm-8">
											<mat-form-field class="full-width">
												<input matInput placeholder="Precio" type="text" required [(ngModel)]="DatosSeguro.precioUSD" #precioUSD="ngModel" disabled="true">
											</mat-form-field>
										<div *ngIf="!Cliente">
											<div class="row">
												<div class="col-sm-3">
													<mat-form-field class="full-width">
														<!-- <input matInput placeholder="% Descuento" type="text" required [(ngModel)]="DatosDistribuidor.descuento" #precioUSD_descuento="ngModel" disabled="true"> -->
														<input matInput placeholder="% Descuento" type="text" required [(ngModel)]="Descuento" #precioUSD_descuento="ngModel" disabled="true">
													</mat-form-field>
												</div>
												<div class="col-sm-3">
													<mat-form-field class="full-width" style="color: #ca1515;">
														<input matInput placeholder="$ Descuento" type="text" required [(ngModel)]="DatosAdicionales.precioUSD_descuento_pre" #precioUSD_descuento_pre="ngModel" disabled="true">
													</mat-form-field>
												</div>
												<div class="col-sm-6">
													<mat-form-field class="full-width">
														<input matInput placeholder=" " type="text" required [(ngModel)]="DatosSeguro.precioUSD_descuento" #precioUSD_descuento="ngModel" disabled="true">
													</mat-form-field>
												</div>						
											</div>

											<mat-form-field class="full-width" style="color: #ca1515;">
												<input matInput placeholder="Ajuste" type="text" required [(ngModel)]="DatosSeguro.precioUSD_ajuste" #precioUSD_ajuste="ngModel" (keyup)="actualizarDatosPrecio()">
											</mat-form-field>

											<div class="row">
												<div class="col-sm-3">
													IVA
												</div>
												<div class="col-sm-4">
													<mat-radio-group [(ngModel)]="IVASeguro" (change)="actualizarDatosPrecio()">
														<mat-radio-button [value]="true">Sí</mat-radio-button>
														<mat-radio-button [value]="false">No</mat-radio-button>
													</mat-radio-group>
												</div>
												<div class="col-sm-5">
													<mat-form-field class="full-width">
														<input matInput placeholder="IVA" type="text" required [(ngModel)]="DatosSeguro.precioUSD_iva" #precioUSD_iva="ngModel" disabled="true">
													</mat-form-field>
												</div>						
											</div>

											<mat-form-field class="full-width">
												<input matInput placeholder="Subtotal" type="text" required [(ngModel)]="DatosSeguro.precioUSD_subtotal" #precioUSD_subtotal="ngModel" disabled="true">
											</mat-form-field>

											<div class="row">
												<div class="col-sm-4">
													<mat-form-field class="full-width">
														<!-- <input matInput placeholder="Comisión" type="text" required [(ngModel)]="DatosSubagente.comision" #comision="ngModel" disabled="true"> -->
														<input matInput placeholder="Comisión" type="text" required [(ngModel)]="Comision" #comision="ngModel" disabled="true">
													</mat-form-field>
												</div>
												<div class="col-sm-8">
													<mat-form-field class="full-width" style="color: #ca1515;">
														<input matInput placeholder="Comisión" type="text" required [(ngModel)]="DatosSeguro.precioUSD_comision" #precioUSD_comision="ngModel" disabled="true">
													</mat-form-field>
												</div>						
											</div>

											<mat-form-field class="full-width">
												<input matInput placeholder="Total" type="text" required [(ngModel)]="DatosSeguro.precioUSD_total" #precioUSD_total="ngModel" disabled="true">
											</mat-form-field>
										</div>

										</div>
										<div class="col-sm-4"></div>
									</div>
								</div></div>

								<div class="col-sm-6" style=""><div style="padding: 10px;border: solid 1px transparent;">
									<h2>MXN</h2>
									<div class="row">
										<div class="col-sm-8">
											<mat-form-field class="full-width">
												<input matInput placeholder="Precio" type="text" required [(ngModel)]="DatosSeguro.precioMXN" #precioMXN="ngModel" disabled="true">
											</mat-form-field>

										<div *ngIf="!Cliente">
											<div class="row">
												<div class="col-sm-3">
													<mat-form-field class="full-width">
														<input matInput placeholder="% Descuento" type="text" required [(ngModel)]="Descuento" #precioMXN_descuento="ngModel" disabled="true">
													</mat-form-field>
												</div>
												<div class="col-sm-3">
													<mat-form-field class="full-width" style="color: #ca1515;">
														<input matInput placeholder="$ Descuento" type="text" required [(ngModel)]="DatosAdicionales.precioMXN_descuento_pre" #precioMXN_descuento_pre="ngModel" disabled="true">
													</mat-form-field>
												</div>
												<div class="col-sm-6">
													<mat-form-field class="full-width">
														<input matInput placeholder="Descuento total" type="text" required [(ngModel)]="DatosSeguro.precioMXN_descuento" #precioMXN_descuento="ngModel" disabled="true">
													</mat-form-field>
												</div>						
											</div>

											<mat-form-field class="full-width" style="color: #ca1515;">
												<input matInput placeholder="Ajuste" type="text" required [(ngModel)]="DatosSeguro.precioMXN_ajuste" #precioMXN_ajuste="ngModel" (keyup)="actualizarDatosPrecio()">
											</mat-form-field>

											<div class="row">
												<div class="col-sm-3">
													IVA
												</div>
												<div class="col-sm-4">
													<mat-radio-group [(ngModel)]="IVASeguro" (change)="actualizarDatosPrecio()">
														<mat-radio-button [value]="true">Sí</mat-radio-button>
														<mat-radio-button [value]="false">No</mat-radio-button>
													</mat-radio-group>
												</div>
												<div class="col-sm-5">
													<mat-form-field class="full-width">
														<input matInput placeholder="IVA" type="text" required [(ngModel)]="DatosSeguro.precioMXN_iva" #precioMXN_iva="ngModel" disabled="true">
													</mat-form-field>
												</div>						
											</div>

											<mat-form-field class="full-width">
												<input matInput placeholder="Subtotal" type="text" required [(ngModel)]="DatosSeguro.precioMXN_subtotal" #precioMXN_subtotal="ngModel" disabled="true">
											</mat-form-field>

											<div class="row">
												<div class="col-sm-4">
													<mat-form-field class="full-width">
														<!-- <input matInput placeholder="Comisión" type="text" required [(ngModel)]="DatosSubagente.comision" #comision="ngModel" disabled="true"> -->
														<input matInput placeholder="Comisión" type="text" required [(ngModel)]="Comision" #comision="ngModel" disabled="true">
													</mat-form-field>
												</div>
												<div class="col-sm-8">
													<mat-form-field class="full-width" style="color: #ca1515;">
														<input matInput placeholder="Comisión" type="text" required [(ngModel)]="DatosSeguro.precioMXN_comision" #precioMXN_comision="ngModel" disabled="true">
													</mat-form-field>
												</div>						
											</div>

											<mat-form-field class="full-width">
												<input matInput placeholder="Total" type="text" required [(ngModel)]="DatosSeguro.precioMXN_total" #precioMXN_total="ngModel" disabled="true">
											</mat-form-field>
										</div>
										</div>
										<div class="col-sm-4"></div>
									</div>
								</div></div>						
							</div>
							<div class="row" style="margin-top: 13px;">	
								<div class="col-sm-12" style="border: solid 1px #CACACA;">
									<mat-form-field class="full-width">
										<textarea matInput placeholder="Comentario" [(ngModel)]="DatosSeguro.comentario" #comentario="ngModel"></textarea>
									</mat-form-field>
								</div>
							</div>
						</div>
						<!-- <a [routerLink]="['/Poliza', DatosSeguro.id, 'ES']"><button mat-flat-button color="secundary">VER PÓLIZA</button></a> -->
						
					<!-- </mat-tab> -->

						<!-- AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->
						<!-- AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->
						<!-- AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->

						<hr><hr>

						<div class="row sin-margin" style="padding-top: 20px;">		
							<div class="col-12">
								<p style="font-weight: bold;">ID Cliente {{DatosCliente.id_cliente}}</p>
							</div>					
							<div class="col-sm-6">
								<mat-form-field class="full-width">
									<input matInput placeholder="Nombre(s)" type="text" required
											minlength="1"  [(ngModel)]="DatosCliente.nombres" #Nombre="ngModel">
								</mat-form-field>
								<mat-form-field class="full-width">
									<input matInput placeholder="Apellidos" type="text" required
											minlength="1"  [(ngModel)]="DatosCliente.apellidos" #Apellidos="ngModel">
								</mat-form-field>
								<mat-form-field class="full-width">
									<input matInput placeholder="Email" type="text" required
											minlength="1"  [(ngModel)]="DatosCliente.correo_electronico" #Email="ngModel">
								</mat-form-field>
								<!-- <mat-radio-group [(ngModel)]="Datos.sexo">
									<mat-radio-button value="1" style="padding-right: 20px;">Femenino</mat-radio-button>
									<mat-radio-button value="2">Masculino</mat-radio-button>
								</mat-radio-group> -->
								<div class="row">
									<div class="col-sm-4" style="border: none;">Sexo</div>
									<div class="col-sm-8" style="border: none;">
										<mat-radio-group [(ngModel)]="DatosCliente.sexo">
											<mat-radio-button value="Femenino">Femenino</mat-radio-button>
											<mat-radio-button value="Masculino">Masculino</mat-radio-button>
										</mat-radio-group>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<mat-form-field class="full-width">
									<input matInput [matDatepicker]="nacimiento" placeholder="Fecha de nacimiento" [(ngModel)]="DatosExtra.fecha_nacimiento">
									<mat-datepicker-toggle matSuffix [for]="nacimiento"></mat-datepicker-toggle>
									<mat-datepicker #nacimiento></mat-datepicker>
								</mat-form-field>	

								<mat-form-field class="full-width">
									<input matInput placeholder="Teléfono" type="number" required
											minlength="1"  [(ngModel)]="DatosCliente.telefono" #Telefono="ngModel">
								</mat-form-field>	  	

								<mat-form-field class="full-width">
									<input matInput placeholder="Universidad" type="text" required
											minlength="1"  [(ngModel)]="DatosCliente.universidad" #Universidad="ngModel">
								</mat-form-field>	  	
								
								<!-- <mat-form-field class="full-width">
									<input matInput placeholder="Escuela" type="text" required
											minlength="1"  [(ngModel)]="Datos.escuela" #Escuela="ngModel">
								</mat-form-field>	 -->

								<mat-form-field class="full-width"> 
									<mat-select placeholder="Fuente de referencia" [(ngModel)]="DatosCliente.id_fuente_referencia">
										<mat-option *ngFor="let referencia of Formulario.FormDatos['Fuente_Referencia']" [value]="referencia.id">
										{{referencia.fuente_referencia}}
										</mat-option>
									</mat-select>
								</mat-form-field>


							</div>
						</div>
						<app-form-direccion [datos]="DatosCliente"></app-form-direccion>

						<!-- <p (click)="PerfilVerMas = !PerfilVerMas" 
							style="text-align: center;
							font-weight: bolder;
							font-size: 20pt; cursor: pointer;">
							&darr;
						</p> -->
						
						<!-- <div *ngIf="PerfilVerMas"> -->
						<div *ngIf="true" style="padding: 13px 20px; background-color: rgb(241, 241, 241);">
							<div>
								<h2 style="text-align: center;">Datos de facturación</h2>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<mat-form-field class="full-width">
										<input matInput placeholder="RFC" type="text" required
												minlength="1"  [(ngModel)]="DatosCliente.rfc">
									</mat-form-field>	
								</div>
								<div class="col-sm-6">
									<mat-form-field class="full-width">
										<input matInput placeholder="Razón social" type="text" required
												minlength="1"  [(ngModel)]="DatosCliente.razon_social">
									</mat-form-field>
								</div>
								<div class="col-sm-6">
									<mat-form-field class="full-width">
										<input matInput placeholder="Método de pago" type="text" required
												minlength="1"  [(ngModel)]="DatosCliente.fac_metodo">
									</mat-form-field>
								</div>
								<div class="col-sm-6">
									<mat-form-field class="full-width">
										<input matInput placeholder="Forma de pago" type="text" required
												minlength="1"  [(ngModel)]="DatosCliente.fac_forma">
									</mat-form-field>
								</div>
							</div>
	
							<app-form-direccion [datos]="DatosCliente" [facturacion]="true"></app-form-direccion>
						</div>

						

						<div *ngIf="Admin">
							<!-- <button *ngIf="!Cliente" [disabled]="DatosSeguro.t_estado == 2 || DatosSeguro.t_estado == 3" class="boton derecha aseg" style="width: 200px;" mat-flat-button color="primary" type="submit" disabled="false" (click)="Formulario.guardar('cliente', DatosCliente); guardarSin()">Guardar</button> -->
							<button *ngIf="!Cliente" [disabled]="DatosSeguro.t_estado == 2 || DatosSeguro.t_estado == 3" class="boton derecha aseg" style="width: 200px;" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarCliente(); guardarSin()">Guardar</button>
							<button *ngIf="!Cliente" [disabled]="DatosSeguro.t_estado == 2 || DatosSeguro.t_estado == 3" class="boton derecha aseg" mat-flat-button color="primary" type="submit" disabled="false" (click)="cancelar()">Cancelar</button>
							<button *ngIf="!Cliente" [disabled]="DatosSeguro.t_estado == 2 || DatosSeguro.t_estado == 3" class="boton derecha aseg" mat-flat-button color="primary" type="submit" disabled="false" (click)="extender()">Extender</button>
							<button *ngIf="!Cliente" [disabled]="DatosSeguro.t_estado == 2 || DatosSeguro.t_estado == 3" class="boton derecha aseg" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarSeguro()">Corrección</button>
							<a [routerLink]="['/Poliza', DatosSeguro.id, Idioma]"><button *ngIf="!Cliente || (Cliente && DatosSeguro.liquidado == 1)" style="" class="boton derecha aseg" mat-flat-button color="primary" type="submit" disabled="false" >Ver póliza</button></a>
						</div>

						<!-- <button *ngIf="Cliente || Admin" style="width: 200px;" class="boton derecha aseg" mat-flat-button color="primary" type="submit" disabled="false" (click)="Formulario.guardar('cliente', DatosCliente)">Guardar Cliente</button> -->
						<button class="boton derecha aseg" style="width: 200px;" mat-flat-button color="primary" type="submit" disabled="false" (click)="contrasena()">Enviar contraseña</button>
					</mat-tab>

					<!-- // TAB 3 ---------------------------------------------------------------------------------------
					// TAB 3 ---------------------------------------------------------------------------------------
					// TAB 3 ---------------------------------------------------------------------------------------
					// TAB 3 --------------------------------------------------------------------------------------- -->

					<mat-tab label="Pagos"> 
						<div style="padding: 20px 30px">

							<div class="row" style="padding-bottom: 10px;">
								<!-- <div class="col-sm-6"></div> -->
								<div class="col-sm-12" style="background-color: #EAEAEA; border: 1px solid #E1F6CD;">
									<mat-form-field class="full-width"> 
										<mat-select placeholder="Seleccionar seguro" [(ngModel)]="Folio" (selectionChange)="cambioSeguro()">
											<mat-option *ngFor="let datos of DatosSeguros" [value]="datos.id">
											{{datos.folio}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>

							<div class="row">
								<div class="col-12 col-xl-12" style="padding: 10px;">
									<div class="row">
											<!-- <div class="col-12"  -->
										<div class="col-12" *ngIf="DatosSeguro.liquidado == 1"
										style="background-color: #51a965; font-size: 20pt; font-weight: bold; text-align: center; padding: 3px 0px; margin-bottom: 10px;">
											LIQUIDADO
										</div>
										<div class="col-12">
											<table style="width: 100%; border: solid 1px #CBCBCB;" class="pagos">
												<tr style="background-color: #F5F5F5; font-weight: bold;">
													<td *ngIf="!Cliente" style="padding: 1px 7px; font-size: 25pt; color: #666666; cursor: pointer;"
														(click)="agregarPago()">+</td>
													<td>Estado</td>
													<td>No. Recibo</td>
													<td>Fecha</td>
													<td>Cuenta</td>
													<td>Forma de pago</td>
													<td>Monto</td>
													<td>Monto USD</td>
													<td>TC</td>
													<td>Archivo</td>
													<td *ngIf="Admin">Acciones</td>
												</tr>
												<ng-container *ngFor="let Datos of DatosPagos">
												<tr>
													<td *ngIf="!Cliente"></td>
													<ng-container *ngIf="Datos.estado == 1"><td><i class="fas fa-check-circle" style="color: #51a965; font-size: 24pt;"></i></td></ng-container>
													<ng-container *ngIf="Datos.estado == 0"><td><i class="fas fa-times-circle" style="color: #6d2f2f; font-size: 24pt;"></i></td></ng-container>
													<td>{{Datos.no_recibo}}</td>
													<td>{{Datos.fecha_pago}}</td>
													<td>{{Datos.cuenta}}</td>
													<td>{{Datos.forma_pago}}</td>
													<td>{{Datos.cantidad_abonada_MXN}}</td>
													<td>{{Datos.cantidad_abonada_USD}}</td>
													<td>{{Datos.tipo_cambio}}</td>
													<td><a *ngIf="Datos.archivo" style="font-size: 10pt; color: #5298d6;" target="blank" href="http://misegurointernacional.com/ADMIN/archivos/Pagos/{{Datos.id}}.{{Datos.archivo}}">Ver archivo</a></td>
													<td *ngIf="Admin" class="acciones">													
														<div class="opciones" *ngIf="OpcionesPagos[Datos.id]">
															<ul>
																<li><a (click)="modificarPago(Datos)">Modificar</a></li>
																<li><a (click)="eliminarPago(Datos)">Eliminar</a></li>
																<li><a *ngIf="Datos.estado == 0 && sesion.admin()" (click)="verificarPago(Datos)">Acreditar</a></li>
															</ul>
														</div>
														<i style="cursor: pointer;" class="fas fa-ellipsis-v" (click)="opcionCambio('Pagos', Datos.id)"></i>

														<!-- <a *ngIf="Datos.estado == 0 && sesion.admin()"><i class="fas fa-check" (click)="verificarPago(Datos)"></i></a> -->
													</td>
												</tr>
												</ng-container>
											</table>
										</div>
									</div>									
								</div>
								<div class="col-12 col-xl-12" style="padding: 10px;">
									<div style="border: solid 1px #CBCBCB;">
									<table style="width: 100%;" class="pagos2">
										<tr>
											<td>Precio</td>
											<td>${{DatosSeguro.precioUSD | number : '1.2-2'}} USD</td>
											<!-- <td>${{DatosSeguro.precioMXN | number : '1.2-2'}} MXN</td> -->
										</tr>
										<tr>
											<td>Cargo administrativo</td>
											<td>${{DatosPagosExtra.suma_cargo_administrativo_USD | number : '1.2-2'}} USD</td>
											<!-- <td>${{DatosPagosExtra.suma_cargo_administrativo_MXN | number : '1.2-2'}} MXN</td> -->
										</tr>
										<tr>
											<td>Envío</td>
											<td>${{DatosPagosExtra.suma_envio_USD | number : '1.2-2'}} USD</td>
											<!-- <td>${{DatosPagosExtra.suma_envio_MXN | number : '1.2-2'}} MXN</td> -->
										</tr>
										<tr style="font-weight: bold;">
											<td>Total</td>
											<td>${{DatosPagosExtra.total_USD | number : '1.2-2'}} USD</td>
											<!-- <td>${{DatosPagosExtra.total_MXN | number : '1.2-2'}} MXN</td> -->
										</tr>
										<tr><td style="padding: 20px;"></td><td></td><td></td></tr>
										<tr style="font-weight: bold;">
											<td>Cantidad pagada</td>
											<td>${{DatosPagosExtra.cantidad_pagada_USD | number : '1.2-2'}} USD</td>
											<!-- <td>${{DatosPagosExtra.cantidad_pagada_MXN | number : '1.2-2'}} MXN</td> -->
										</tr>
										<tr style="font-weight: bold;">
											<td>Saldo pendiente</td>
											<td>${{DatosPagosExtra.saldo_pendiente_USD | number : '1.2-2'}} USD</td>
											<!-- <td>${{DatosPagosExtra.saldo_pendiente_MXN | number : '1.2-2'}} MXN</td> -->
										</tr>
									</table>
									<p style="font-size: 10pt; margin-top: 25px; padding: 10px;">La cantidades están reflejadas acorde al tipo de cambio con el quese regsitró el seguro.</p>
									</div>
								</div>
							</div>
							<button *ngIf="sesion.admin() && DatosSeguro.liquidado == 0" style="margin-bottom: 120px;" class="boton derecha" mat-flat-button color="primary" type="submit" [disabled]="LiquidarPagos" (click)="liquidarPagos()">Liquidar</button>
						</div>
					</mat-tab>

					<!-- // TAB 4 ---------------------------------------------------------------------------------------
					// TAB 4 ---------------------------------------------------------------------------------------
					// TAB 4 ---------------------------------------------------------------------------------------
					// TAB 4 --------------------------------------------------------------------------------------- -->

					<mat-tab label="Reclamos"> 
						<div style="padding: 20px 30px">

							<div class="row" style="padding-bottom: 10px;">
								<!-- <div class="col-sm-6"></div> -->
								<div class="col-sm-12" style="background-color: #EAEAEA; border: 1px solid #E1F6CD;">
									<mat-form-field class="full-width"> 
										<mat-select placeholder="Seleccionar seguro" [(ngModel)]="Folio" (selectionChange)="cambioSeguro()">
											<mat-option *ngFor="let datos of DatosSeguros" [value]="datos.id">
											{{datos.folio}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
							
							<table style="width: 100%; border: solid 1px #CBCBCB;" class="pagos">
								<tr style="background-color: #F5F5F5; font-weight: bold;">
									<td style="padding: 1px 7px; font-size: 25pt; color: #666666; cursor: pointer;"
										(click)="agregarIncidente()">+</td>
									<td>Fecha de registro</td>
									<td>Fecha de incidente</td>
									<td>Status</td>
									<td>Fecha de envío</td>
									<td>Cantidad solicitada</td>
									<td>Fecha de pago</td>
									<td>Cantidad pagada</td>
									<td>Resultado</td>
									<!-- <td>Sub Agente</td> -->
									<td></td>
								</tr>
								<ng-container *ngFor="let Datos of DatosIncidentes">
								<tr>
									<td></td>
									<td>{{Datos.fecha_creacion}}</td>
									<td>{{Datos.fecha_incidente}}</td>
									<td>{{Datos.status}}</td>
									<td>{{Datos.fecha_envio}}</td>
									<td>{{Datos.monto_solicitado}}</td>
									<td>{{Datos.fecha_autorizacion}}</td>
									<td>{{Datos.monto_pagado}}</td>
									<td>{{Datos.resultado}}</td>
									<!-- <td>{{Datos.nombre_completo}}</td> -->
									<td class="acciones">
										<div class="opciones" *ngIf="OpcionesIncidencias[Datos.id]">
											<ul>
												<li><a (click)="modificarIncidente(Datos)">Modificar</a></li>
												<li><a *ngIf="!Cliente" (click)="eliminarIncidente(Datos)">Eliminar</a></li>
											</ul>
										</div>
										<i style="cursor: pointer;" class="fas fa-ellipsis-v" (click)="opcionCambio('Incidencias', Datos.id)"></i>
									</td>
								</tr>
								</ng-container>
							</table>
						</div>
					</mat-tab>

					<!-- // TAB 5 ---------------------------------------------------------------------------------------
					// TAB 5 ---------------------------------------------------------------------------------------
					// TAB 5 ---------------------------------------------------------------------------------------
					// TAB 5 --------------------------------------------------------------------------------------- -->

					<mat-tab label="Margen" *ngIf="!Cliente && !Agente"> 
						<div class="row">
							
							<div *ngIf="!Cliente" class="col-sm-6" style=""><div style="padding: 10px;border: solid 1px transparent;">
								<h2>Precio USD</h2>
								<div class="row">
									<div class="col-sm-12">
										<mat-form-field class="full-width">
											<input matInput placeholder="Precio" type="text" required [(ngModel)]="DatosSeguro.precioUSD" #precioUSD="ngModel" disabled="false">
										</mat-form-field>

										<div class="row">
											<div class="col-sm-3">
												<mat-form-field class="full-width">
													<!-- <input matInput placeholder="% Descuento" type="text" required [(ngModel)]="DatosDistribuidor.descuento" #precioUSD_descuento="ngModel" disabled="false"> -->
													<input matInput placeholder="% Descuento" type="text" required [(ngModel)]="Descuento" #precioUSD_descuento="ngModel" disabled="false">
												</mat-form-field>
											</div>
											<div class="col-sm-3">
												<mat-form-field class="full-width" style="color: #ca1515;">
													<input matInput placeholder="$ Descuento" type="text" required [(ngModel)]="DatosAdicionales.precioUSD_descuento_pre" #precioUSD_descuento_pre="ngModel" disabled="false">
												</mat-form-field>
											</div>
											<div class="col-sm-6">
												<mat-form-field class="full-width">
													<input matInput placeholder=" " type="text" required [(ngModel)]="DatosSeguro.precioUSD_descuento" #precioUSD_descuento="ngModel" disabled="false">
												</mat-form-field>
											</div>						
										</div>

										<mat-form-field class="full-width" style="color: #ca1515;">
											<input matInput placeholder="Ajuste" type="text" required [(ngModel)]="DatosSeguro.precioUSD_ajuste" #precioUSD_ajuste="ngModel" (keyup)="actualizarDatosPrecio()">
										</mat-form-field>

										<div class="row">
											<div class="col-sm-3">
												IVA
											</div>
											<div class="col-sm-4">
												<mat-radio-group [(ngModel)]="IVASeguro" (change)="actualizarDatosPrecio()">
													<mat-radio-button [value]="true">Sí</mat-radio-button>
													<mat-radio-button [value]="false">No</mat-radio-button>
												</mat-radio-group>
											</div>
											<div class="col-sm-5">
												<mat-form-field class="full-width">
													<input matInput placeholder="IVA" type="text" required [(ngModel)]="DatosSeguro.precioUSD_iva" #precioUSD_iva="ngModel" disabled="false">
												</mat-form-field>
											</div>						
										</div>

										<mat-form-field class="full-width">
											<input matInput placeholder="Subtotal" type="text" required [(ngModel)]="DatosSeguro.precioUSD_subtotal" #precioUSD_subtotal="ngModel" disabled="false">
										</mat-form-field>

										<div class="row">
											<div class="col-sm-4">
												<mat-form-field class="full-width">
													<!-- <input matInput placeholder="Comisión" type="text" required [(ngModel)]="DatosSubagente.comision" #comision="ngModel" disabled="false"> -->
													<input matInput placeholder="Comisión" type="text" required [(ngModel)]="Comision" #comision="ngModel" disabled="false">
												</mat-form-field>
											</div>
											<div class="col-sm-8">
												<mat-form-field class="full-width" style="color: #ca1515;">
													<input matInput placeholder="Comisión" type="text" required [(ngModel)]="DatosSeguro.precioUSD_comision" #precioUSD_comision="ngModel" disabled="false">
												</mat-form-field>
											</div>						
										</div>

										<mat-form-field class="full-width">
											<input matInput placeholder="Total" type="text" required [(ngModel)]="DatosSeguro.precioUSD_total" #precioUSD_total="ngModel" disabled="false">
										</mat-form-field>

									</div>

									<div class="col-sm-12">
										<h2>Costo USD</h2>

										<mat-form-field class="full-width">
											<input matInput placeholder="Costo diario" type="text" required [(ngModel)]="DatosExtra.costo" #precioUSD_total="ngModel" disabled="true">
										</mat-form-field>

										<mat-form-field class="full-width">
											<input matInput placeholder="Días" type="text" required [(ngModel)]="DatosExtra.dias" #precioUSD_total="ngModel" disabled="true">
										</mat-form-field>

										<mat-form-field class="full-width">
											<input matInput placeholder="Costo final" type="text" required [(ngModel)]="DatosExtra.costo_final" #precioUSD_total="ngModel" disabled="true">
										</mat-form-field>
										
										<!-- <div class="row">
											<div class="col-12">
												<table class="costos">
													<tr>
														<td><b>Costo diario</b></td>
														<td>{{DatosExtra.costo}}</td>
													</tr>
													<tr>
														<td><b>Días</b></td>
														<td>{{DatosExtra.dias}}</td>
													</tr>
													<tr>
														<td><b>Costo final</b></td>
														<td>{{DatosExtra.costo_final}}</td>
													</tr>
												</table>
											</div> -->
											<!-- <div class="col-sm-6">
												<p><b>Costo diario</b></p>
												<p><b>Días</b></p>
												<p><b>Costo final</b></p>
											</div>
											<div class="col-sm-6">
												<p>{{DatosExtra.costo}}</p>
												<p>{{DatosExtra.dias}}</p>
												<p>{{DatosExtra.costo_final}}</p>
											</div>
										</div> -->
									</div>
								</div>

							</div></div>

							<div class="col-sm-6">
								<div style="margin-top: 40px; background-color: rgb(230, 230, 230); border-radius: 20px; padding: 10px; padding-left: 50px;">
									<div class="row">
										<div class="col-sm-6">
											<p style="font-weight: bold; font-size: 18pt;">Precio final</p>
											<p>Precio final MXN</p>
											<p class="menos">-</p>
											<p style="font-weight: bold; font-size: 18pt;">Costo final</p>
											<p>Costo final MXN</p>
										</div>
										<div class="col-sm-6">											
											<p style="font-weight: bold; font-size: 18pt;">${{DatosExtra.precioUSD_total}}</p>
											<p>${{DatosExtra.precioMXN_total}}</p>
											<p style="font-weight: bold; font-size: 18pt; color: #ca1515;">${{DatosExtra.costo_final}}</p>
											<p style="color: #ca1515;">${{DatosExtra.costo_final_MXN}}</p>
										</div>
										<div class="col-12">
											<hr style="border-top: 1px solid rgba(0, 0, 0, 0.63);">
										</div>
										<div class="col-sm-6">
											<p style="font-weight: bold; font-size: 18pt;">Margen</p>
											<p>Margen MXN </p>
										</div>
										<div class="col-sm-6">
											<p style="font-weight: bold; font-size: 18pt;">${{DatosExtra.precioUSD_total - DatosExtra.costo_final | number : '1.2-2'}}</p>
											<p>${{DatosExtra.margen_MXN}} </p>
										</div>
									</div>
								</div>
							</div>




							<!-- <div class="col-sm-6">
								<mat-form-field class="full-width">
									<input matInput placeholder="Precio" type="text" required
											minlength="1"  [(ngModel)]="DatosPrecio.precio" #Precio="ngModel">
								</mat-form-field>

								<div class="row">
									<div class="col-sm-3">
										<mat-form-field class="full-width">
											<input matInput placeholder="Descuento" type="text" required
													minlength="1"  [(ngModel)]="DatosPrecio.descuento" #Descuento="ngModel">
										</mat-form-field>
									</div>
									<div class="col-sm-4">
										<mat-form-field class="full-width">
											<input matInput placeholder="" type="text" required
													minlength="1"  [(ngModel)]="DatosPrecio.descuento" #Descuento2="ngModel">
										</mat-form-field>
									</div>
									<div class="col-sm-5">
										<mat-form-field class="full-width">
											<input matInput placeholder="" type="text" required
													minlength="1"  [(ngModel)]="DatosPrecio.descuento" #Descuento3="ngModel">
										</mat-form-field>
									</div>
								</div>

								<mat-form-field class="full-width">
									<input matInput placeholder="IVA" type="text" required
											minlength="1"  [(ngModel)]="DatosPrecio.iva" #IVA="ngModel">
								</mat-form-field>

								<div class="row">
									<div class="col-sm-3">
										<mat-form-field class="full-width">
											<input matInput placeholder="Ajuste" type="text" required
													minlength="1"  [(ngModel)]="DatosPrecio.ajuste" #Ajuste="ngModel">
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								
							</div> -->
						</div>
						<button *ngIf="!Cliente && !Agente" style="margin-bottom: 120px;" class="boton derecha" 
							mat-flat-button color="primary" type="submit" disabled="false" 
							(click)="Formulario.guardar('cotizacion', DatosSeguro)">Guardar</button>
					</mat-tab>
				</mat-tab-group>
			</div>
			<div class="col-md-2" *ngIf="!Cliente">
				
				<div style="
				padding: 13px;
				margin-top: 5px;
				background-color: #dfdfdf;
				color: black;
				text-align: center;">

					<p>Tipo de seguro: <b>{{VerDatosDatos.tipo_seguro}}</b></p>
					<p>Origen: <b>{{VerDatosDatos.origen}}</b></p>
					<p>Destino: <b>{{VerDatosDatos.destino}}</b></p>
					<p>Salida: <b>{{VerDatosDatos.salida}}</b></p>
					<p>Regreso: <b>{{VerDatosDatos.regreso}}</b></p>
					<p>Tipo de póliza: <b>{{VerDatosDatos.tipo_poliza}}</b></p>


				</div>
				
				<p>TC {{DatosSeguro.tipo_cambio}}</p>
				<div class="row">
					<div class="col-12">
						<mat-form-field class="full-width" *ngIf="!Agente">
							<mat-select placeholder="Tipo de distribuidor" [(ngModel)]="DatosAsignar.tipo_distribuidor_id" #tipoDistribuidorFORM="ngModel" required
								(selectionChange)="cambioAsignarSeguro('Tipo_Distribuidor')">
								<mat-option *ngFor="let tipo of Formulario.FormDatos['Tipo_Distribuidor']" [value]="tipo.id">
									{{tipo.tipo_distribuidor}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>

					<div class="col-8">
						<mat-form-field class="full-width" *ngIf="!Agente">
							<mat-select placeholder="Distribuidor" [(ngModel)]="DatosAsignar.distribuidor_id" #distribuidorFORM="ngModel" required
								(selectionChange)="cambioAsignarSeguro('Distribuidor')">
								<mat-option *ngFor="let tipo of Formulario.FormDatos['Distribuidor']" [value]="tipo.id">
									{{tipo.distribuidor}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-4">
						<mat-form-field class="full-width" *ngIf="!Agente">
							<input matInput placeholder="ID" [(ngModel)]="DatosAsignar.id_distribuidores">
						</mat-form-field>
					</div>
					
					<div class="col-12">
						<mat-form-field class="full-width" *ngIf="!Agente">
							<mat-select placeholder="Agente" [(ngModel)]="DatosAsignar.agente_id" #agenteFORM="ngModel" required
								(selectionChange)="cambioAsignarSeguro('Agente')">
								<mat-option *ngFor="let tipo of Formulario.FormDatos['Agente']" [value]="tipo.id">
									{{tipo.agente}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					
					<div class="col-12">
						<mat-form-field class="full-width">
							<mat-select placeholder="Sub Agente" [(ngModel)]="DatosAsignar.subagente_id" #subAgenteFORM="ngModel" required>
								<mat-option *ngFor="let tipo of Formulario.FormDatos['Subagente']" [value]="tipo.id">
									{{tipo.nombre_completo}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>

					<div class="col-12">
						<button mat-button color="primary" mat-flat-button (click)="AsignarGuardar()">Guardar</button>
					</div>
				</div>
			
				
			</div>
		</div>
	</div>

	<!-- <div style="height: 1000px;"></div> -->

</div>