table.pagos td{
	padding: 15px;
}

table.pagos2 td{
	padding: 11px;
}

a i{
	font-size: 20pt;
	color: black;
	margin-left: 10px;
}
a i:hover{
	color: #4D4D4D;
	cursor: pointer;
}

table.costos td{
	padding-right: 7px;
	padding: 4px 7px 4px 2px;
	border: 1px solid rgb(179, 179, 179);
}

p.menos{
	position: absolute;
    top: 20px;
    font-size: 60pt;
    left: -10px;
}
.aseg{
	width: 7%;
	text-align: center;
	margin: 10px 7px;
	padding: 2px 100px 2px 20px;
}

