<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>
<div mat-dialog-content>
	<div class="contenido clientes container">
		<h1 class="primario-mas-claro" en="fondo">Sub Agentes</h1>
		<div>
			<mat-tab-group>
				<!-- ----------------------------------------------------- -->
				<!-- ----------------------------------------------------- -->
				<!-- TAB USUARIO -->
				<!-- ----------------------------------------------------- -->
				<!-- ----------------------------------------------------- -->
				<mat-tab label="Usuario"> 
					<div class="row sin-margin contenido">
						<div class="col-md-4">
							<mat-form-field class="full-width">
						        <input matInput placeholder="Nombre(s)" type="text" required
								    	minlength="4"  [(ngModel)]="Datos.nombres" name="nombres" #nombres="ngModel">
						    </mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field class="full-width">
						        <input matInput placeholder="Apellidos" type="text" required
								    	minlength="4"  [(ngModel)]="Datos.apellidos" name="apellidos" #apellidos="ngModel">
						    </mat-form-field>
						</div>
						<div class="col-md-4"></div>
					<!-- </div> -->

					<!-- <div class="row"> -->
						<div class="col-md-4">
							<mat-form-field class="full-width">
						        <input matInput placeholder="Correo electrónico" type="mail" required
								    	minlength="4"  [(ngModel)]="Datos.correo_electronico" name="correo_electronico" #correo_electronico="ngModel">
						    </mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field class="full-width">
						        <input matInput placeholder="Teléfono" type="text" required
								    	minlength="4"  [(ngModel)]="Datos.telefono" name="telefono" #telefono="ngModel">
						    </mat-form-field>
						</div>
						<div class="col-md-4"></div>
					<!-- </div> -->

					<!-- <div class="row"> -->
						<div class="col-md-4">
							<mat-form-field class="full-width">
						        <mat-select placeholder="Rol" [(ngModel)]="Datos.id_rol" #rol="ngModel" required>
						            <mat-option *ngFor="let tipo of direccion.FormDatos['Rol']" [value]="tipo.id">
						              {{tipo.rol}}
						            </mat-option>
						        </mat-select>
						    </mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field class="full-width">
						        <mat-select placeholder="Distribuidor" [(ngModel)]="DatosExtra.id_distribuidor" #distribuidor="ngModel" required (selectionChange)="cambioDistribuidor()">
						            <mat-option *ngFor="let tipo of direccion.FormDatos['Distribuidor']" [value]="tipo.id">
						              {{tipo.distribuidor}}
						            </mat-option>
						        </mat-select>
						    </mat-form-field>
						</div>
						<div class="col-md-4">							
							<mat-form-field class="full-width">
						        <mat-select placeholder="Agente" [(ngModel)]="Datos.id_agente" #agente="ngModel" required [disabled]="BloquearAgente">
						            <mat-option *ngFor="let tipo of direccion.FormDatos['Agente']" [value]="tipo.id">
						              {{tipo.agente}}
						            </mat-option>
						        </mat-select>
						    </mat-form-field>
						</div>
					<!-- </div> -->

					<!-- <div class="row"> -->
						<div class="col-md-2">
							<mat-form-field class="full-width">
						        <input matInput placeholder="Comisión" type="number" required
								    	minlength="1"  [(ngModel)]="Datos.comision" name="comision" #comision="ngModel">
						    </mat-form-field>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<mat-form-field class="full-width">
						        <input matInput placeholder="Descuento" type="number" required
								    	minlength="1"  [(ngModel)]="Datos.descuento" name="descuento" #descuento="ngModel">
						    </mat-form-field>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<mat-form-field class="full-width">
						        <input matInput placeholder="Contraseña" type="text" required
								    	minlength="4"  [(ngModel)]="Datos.contrasena" name="contrasena" #contrasena="ngModel">
						    </mat-form-field>
						</div>
					</div>
				</mat-tab>

				<!-- ----------------------------------------------------- -->
				<!-- ----------------------------------------------------- -->
				<!-- TAB DIRECCIÓN -->
				<!-- ----------------------------------------------------- -->
				<!-- ----------------------------------------------------- -->
				<mat-tab label="Dirección"> 
   					<app-form-direccion [datos]="Datos"></app-form-direccion>

					<!-- <div class="row sin-margin contenido"> -->
						

					    <p style="font-weight: bold;">Facturación</p>						
					    <app-facturacion
					 		[datos]="Datos">
					 	</app-facturacion>
 	
					<!-- </div> -->
				</mat-tab>
			</mat-tab-group>
			<div class="row">
				<div class="col-sm-10"></div>
				<div class="col-sm-2">
				<!-- [disabled]="nombres.invalid || apellidos.invalid || email.invalid || telefono.invalid
    						|| rol.invalid || distribuidor.invalid || agente.invalid || comision.invalid || descuento.invalid"> -->
    				<button 
    					style="color: white; font-size: 15pt;" mat-flat-button color="primary" type="submit"  
    					class="full-width" disabled="false" (click)="guardar()">
    					
    					
    					Guardar

    				</button>
				</div>
			</div>

		</div>
	</div>
</div>