<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

	<h1 mat-dialog-title style="font-weight: bold; text-align: center">Agregar pago</h1>

	<div class="row">
		
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			
			<mat-form-field class="full-width" *ngIf="sesion.admin()">
				<!-- <input matInput placeholder="No. Recibo" type="text" [(ngModel)]="DatosPago.no_recibo" #no_recibo="ngModel" [disabled]="true"> -->
				<input matInput placeholder="No. Recibo" type="text" [(ngModel)]="DatosPago.no_recibo" #no_recibo="ngModel" [disabled]="false">
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput [matDatepicker]="fecha_pago" placeholder="Fecha" [(ngModel)]="DatosPago.fecha_pago">
				<mat-datepicker-toggle matSuffix [for]="fecha_pago"></mat-datepicker-toggle>
				<mat-datepicker #fecha_pago></mat-datepicker>
			</mat-form-field>

			<mat-form-field class="full-width"> 
		    	<mat-select placeholder="Forma pago" [(ngModel)]="DatosPago.id_forma_pago" (selectionChange)="cambioFormaPago()">
				    <mat-option *ngFor="let datos of Formulario.FormDatos['Forma_Pago']" [value]="datos.id">
				      {{datos.forma_pago}}
				    </mat-option>
		  		</mat-select>
		  	</mat-form-field>

			<mat-form-field class="full-width"> 
		    	<mat-select placeholder="Cuenta" [(ngModel)]="DatosPago.id_cuenta">
				    <mat-option *ngFor="let datos of Formulario.FormDatos['Cuenta']" [value]="datos.id">
				      {{datos.cuenta}}
				    </mat-option>
		  		</mat-select>
		  	</mat-form-field>
			
			<mat-form-field class="full-width">
				<input matInput placeholder="Monto" type="text" required [(ngModel)]="DatosExtra.cantidad_abonada" #cantidad_abonada="ngModel">
			</mat-form-field>

			<div class="row">
				<div class="col-sm-6">
					<mat-form-field class="full-width">
						<input matInput [matDatepicker]="fecha_tipo_cambio" placeholder="Fecha de tipo de cambio" [(ngModel)]="DatosExtra.fecha_tipo_cambio"
							(dateChange)="fechaCambio()">
						<mat-datepicker-toggle matSuffix [for]="fecha_tipo_cambio"></mat-datepicker-toggle>
						<mat-datepicker #fecha_tipo_cambio></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-sm-6">			
					<mat-form-field class="full-width">
						<!-- <input matInput placeholder="Tipo de Cambio" type="text" required [(ngModel)]="DatosPago.tipo_cambio" #tipo_cambio="ngModel" disabled="!ModificarPago"> -->
						<input matInput placeholder="Tipo de Cambio" type="text" required [(ngModel)]="DatosPago.tipo_cambio" #tipo_cambio="ngModel">
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-5">
					Envío
				</div>
				<div class="col-sm-7">		
			    	<mat-radio-group [(ngModel)]="DatosPago.envio">
						<mat-radio-button [value]="1" style="margin-right: 50px;">Sí</mat-radio-button>
						<mat-radio-button [value]="0">No</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>

			<div style="background-color: rgb(209, 209, 209); padding: 10px 15px; border-radius: 5px;">
				<h3 style="font-size: 14pt;">Datos de facturación (opcional)</h3>
				<div class="row">
					<div class="col-sm-6">
						<mat-form-field class="full-width">
							<input matInput placeholder="RFC" type="text" required
									minlength="1"  [(ngModel)]="DatosCliente.rfc">
						</mat-form-field>	
					</div>
					<div class="col-sm-6">
						<mat-form-field class="full-width">
							<input matInput placeholder="Razón social" type="text" required
									minlength="1"  [(ngModel)]="DatosCliente.razon_social">
						</mat-form-field>
					</div>
					<div class="col-sm-6">
						<mat-form-field class="full-width">
							<input matInput placeholder="Método de pago" type="text" required
									minlength="1"  [(ngModel)]="DatosCliente.fac_metodo">
						</mat-form-field>
					</div>
					<div class="col-sm-6">
						<mat-form-field class="full-width">
							<input matInput placeholder="Forma de pago" type="text" required
									minlength="1"  [(ngModel)]="DatosCliente.fac_forma">
						</mat-form-field>
					</div>
				</div>
				<app-form-direccion [datos]="DatosCliente" [facturacion]="true"></app-form-direccion>
			</div>

			<mat-form-field class="full-width">
			    <textarea matInput placeholder="Comentarios" [(ngModel)]="DatosPago.comentario" #comentario="ngModel"></textarea>
			</mat-form-field>

			<div *ngIf="HayArchivo">
				<a style="background-color: #e0dfdf; padding: 10px;" target="blank" href="http://misegurointernacional.com/ADMIN/archivos/Pagos/{{DatosPago.id}}.{{DatosPago.archivo}}">Ver archivo</a>
			</div>

			<div style="font-style: italic;">{{Archivo.Nombre}}</div>
			<label class="subir-archivo">
				<i class="fas fa-file-upload"></i>
				<input type="file" value="" hidden name="foto"style="display: none;" (change)="cambioArchivo($event)">
				Archivo
			</label>


			<div class="row comprar" style="padding: 10px 0px;">
				<div class="col-sm-12">
					<!-- <h2>PAGAR</h2> -->
				</div>
				<div class="col-sm-4">
					<form ngNoForm id="frmBanco" name="frmBanco" action="https://misegurointernacional.com/MSI/banco" method="post" target="_blank">
						<input type="hidden" id="precioMXN" name="precioMXN" value="{{DatosPago.cantidad_abonada_MXN}}">
						<input type="hidden" id="precioUSD" name="precioUSD" value="{{DatosPago.cantidad_abonada_USD}}">
						<input type="hidden" id="precioMXNTotal" name="precioMXNTotal" value="{{DatosPago.cantidad_abonada_MXN}}">
						<input type="hidden" id="precioUSDTotal" name="precioUSDTotal" value="{{DatosPago.cantidad_abonada_USD}}">
						<!-- <input type="hidden" id="porcentaje_descuento" name="porcentaje_descuento" value="0">
						<input type="hidden" id="TipoPago" name="TipoPago" value="1"> -->
						<!-- <input type="hidden" id="tipoCambio" name="tipoCambio" value="{{DatosSeguro.tipo_cambio}}"> -->
						<!-- <input type="hidden" id="email" name="email" value="{{DatosCliente.correo_electronico}}"> -->
						<!-- <input type="hidden" id="universidad" name="universidad" value="dsf">
						<input type="hidden" id="nombre_seguro" name="nombre_seguro" value="Viajero">
						<input type="hidden" id="seguroid" name="seguroid" value="2">
						<input type="hidden" id="id" name="id" value="1180">
				-->
						<input type="submit" class="btn btn-embossed btn-info btn-block" style="margin: 0px 10px 0px 10px" value="Deposito Bancario" (click)="guardarPago()">
						<!-- <button mat-button type="submit" color="primary">Depósito bancario</button> -->
				
					</form>


				</div>
				<div class="col-sm-4">
					<form ngNoForm id="frmPayPal" name="forma" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" id="cmd" name="cmd" value="_xclick">
						<input type="hidden" id="business" name="business" value="pagos@setmex.com">
						<input type="hidden" id="upload" name="upload" value="1">
						<!-- <input type="hidden" id="return" name="return" value="https://misegurointernacional.com/MSI/PayPal?id=1180"> -->
						<input type="hidden" id="return" name="return" value="https://misegurointernacional.com/ADMIN//Poliza/{{data.DatosCliente.id}}/ES">
						<input type="hidden" id="cancel_return" name="cancel_return" value="https://misegurointernacional.com/MSI">
						<input type="hidden" id="no_note" name="no_note" value="1">
						<input type="hidden" id="currency_code" name="currency_code" value="MXN">
						<input type="hidden" id="address_override" name="address_override" value="1">
						<input type="hidden" id="lc" name="lc" value="MX">
						<input type="hidden" id="first_name" name="first_name" value="nombre">
						<input type="hidden" id="last_name" name="last_name" value="AP">
						<input type="hidden" id="address1" name="address1" value="Calle">
						<input type="hidden" id="city" name="city" value="Ciudad">
						<input type="hidden" id="state" name="state" value="Estado">
						<input type="hidden" id="zip" name="zip" value="CP">
						<input type="hidden" id="country" name="country" value="MX">
						<!-- <input type="hidden" id="item_name_1" name="item_name" value="Seguro - {{Datos.tipo_seguro}}"> -->
						<input type="hidden" id="item_number_1" name="item_number_1" value="2">
						<input type="hidden" id="amount_1" name="amount" value="{{DatosPago.cantidad_abonada_MXN}}">
						<input type="hidden" id="amount_2" name="amount2" value="{{DatosPago.cantidad_abonada_USD}}">
						<input type="hidden" id="quantity_1" name="quantity_1" value="1">
						<input type="hidden" id="tax_1" name="tax_1" value="0">
						<input type="hidden" id="shipping_1" name="shipping_1" value="0">
						<input type="hidden" id="TipoPago" name="TipoPago" value="2">
						<input type="hidden" id="precioMXN" name="precioMXN" value="{{DatosPago.cantidad_abonada_MXN}}">
						<input type="hidden" id="precioUSD" name="precioUSD" value="{{DatosPago.cantidad_abonada_USD}}">
						<input type="hidden" id="precioMXNTotal" name="precioMXNTotal" value="{{DatosPago.cantidad_abonada_MXN}}">
						<input type="hidden" id="precioUSDTotal" name="precioUSDTotal" value="{{DatosPago.cantidad_abonada_USD}}">
						<input type="hidden" id="porcentaje_descuento" name="porcentaje_descuento" value="0">			   
						<!-- <input type="hidden" id="tipoCambio" name="tipoCambio" value="{{DatosSeguro.tipo_cambio}}"> -->
						<!-- <input type="hidden" id="email" name="email" value="{{DatosCliente.correo_electronico}}"> -->
				
						<input type="submit" id="submit_paypal" class="btn btn-embossed btn-primary btn-block" style="margin: 0px 10px 0px 10px" value="Pay Pal" (click)="guardarPago()">
				
						<!-- <button type="submit" mat-button color="primary" onclick="">Paypal</button> -->
				
					</form>

				</div>
				<div class="col-sm-4">
					<form>
						<input type="submit" (click)="ClickTarjeta()" class="btn btn-embossed btn-alert btn-block" style="margin: 0px 10px 0px 10px" value="Tarjeta">
					</form>
					<!-- <button mat-button color="primary" (click)="ClickTarjeta()">Tarjeta</button> -->
				</div>

				<div *ngIf="Tarjeta" class="col-sm-12" style="padding-top:20px;margin: 10px auto;background-color: gainsboro;">

					<div class="row">

					<div class="col-12" style="text-align: center;">
						<p style="font-size: 14pt;">Monto (MXN): <b>${{DatosPago.cantidad_abonada_MXN}}</b></p>
					</div>

					<div class="col-sm-6">
						<mat-form-field>
							<input matInput placeholder="Titular" type="text"
								minlength="3"  [(ngModel)]="DatosTarjeta.titular">
						</mat-form-field>
					</div>

					<div class="col-sm-6">
						<mat-form-field>
							<input matInput placeholder="Tarjeta" type="number"
								minlength="16"  [(ngModel)]="DatosTarjeta.tarjeta">
						</mat-form-field>
					</div>

					<div class="col-sm-6">
						Fecha de expiración
						<div class="row">
						<div class="col-sm-6">
							<mat-form-field>
							<input matInput placeholder="Mes" type="number"
								minlength="2"  [(ngModel)]="DatosTarjeta.mes">
							</mat-form-field>
						</div>
						<div class="col-sm-6">
							<mat-form-field>
							<input matInput placeholder="Año" type="number"
								minlength="2"  [(ngModel)]="DatosTarjeta.anio">
							</mat-form-field>
						</div> 
						</div>
					</div>

					<div class="col-sm-6">
						Código de seguridad
						<div class="row">
						<div class="col-sm-6">
							<mat-form-field>
							<input matInput placeholder="Dígitos" type="number"
								minlength="3"  [(ngModel)]="DatosTarjeta.digitos">
							</mat-form-field>
						</div>
						<div class="col-sm-6">
							<img src="https://i.imgur.com/phUYLdo.png" alt="logo" height="50px">
						</div> 
						</div>
					</div>

					</div>

					<button *ngIf="!Pagando" mat-flat-button color="primary" (click)="tarjetaPagar()">Pagar</button>
					<mat-spinner *ngIf="Pagando"></mat-spinner>


				</div>

			</div>


		</div>
		<div class="col-sm-2"></div>

	</div>

		<button style="margin-bottom: 120px;" class="boton derecha" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarPago()">Guardar</button>

</div>