<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

	<h1 mat-dialog-title style="font-weight: bold; text-align: center">Asignar prospecto</h1>

	<mat-form-field class="full-width">
        <mat-select placeholder="Tipo de distribuidor" [(ngModel)]="DatosAsignar.id_tipo_distribuidor" #tipoDistribuidorFORM="ngModel" required
         (selectionChange)="cambio('Tipo_Distribuidor')">
            <mat-option *ngFor="let tipo of Formulario.FormDatos['Tipo_Distribuidor']" [value]="tipo.id">
              {{tipo.tipo_distribuidor}}
            </mat-option>
        </mat-select>
    </mat-form-field>

	<mat-form-field class="full-width">
        <mat-select placeholder="Distribuidor" [(ngModel)]="DatosAsignar.id_distribuidor" #distribuidorFORM="ngModel" required
         (selectionChange)="cambio('Distribuidor')">
            <mat-option *ngFor="let tipo of Formulario.FormDatos['Distribuidor']" [value]="tipo.id">
              {{tipo.distribuidor}}
            </mat-option>
        </mat-select>
    </mat-form-field>

	<mat-form-field class="full-width">
        <mat-select placeholder="Agente" [(ngModel)]="DatosAsignar.id_agente" #agenteFORM="ngModel" required
         (selectionChange)="cambio('Agente')">
            <mat-option *ngFor="let tipo of Formulario.FormDatos['Agente']" [value]="tipo.id">
              {{tipo.agente}}
            </mat-option>
        </mat-select>
    </mat-form-field>

	<mat-form-field class="full-width">
        <mat-select placeholder="Sub Agente" [(ngModel)]="DatosAsignar.id_subagente" #subAgenteFORM="ngModel" required>
            <mat-option *ngFor="let tipo of Formulario.FormDatos['Subagente']" [value]="tipo.id">
              {{tipo.nombre_completo}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button *ngIf="subAgenteFORM.valid && agenteFORM.valid && tipoDistribuidorFORM.valid && distribuidorFORM.valid" mat-flat-button color="primary" type="submit"  class="full-width" disabled="false"
    (click)="asignarSeguro();">Guardar</button>

</div>
