<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

	<h1 mat-dialog-title style="font-weight: bold; text-align: center">Agregar pago</h1>

	<div class="row">
		
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			
			<mat-form-field class="full-width" *ngIf="sesion.admin()">
				<!-- <input matInput placeholder="No. Recibo" type="text" [(ngModel)]="DatosPago.no_recibo" #no_recibo="ngModel" [disabled]="true"> -->
				<input matInput placeholder="No. Recibo" type="text" [(ngModel)]="DatosPago.no_recibo" #no_recibo="ngModel" [disabled]="false">
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput [matDatepicker]="fecha_pago" placeholder="Fecha" [(ngModel)]="DatosPago.fecha_pago">
				<mat-datepicker-toggle matSuffix [for]="fecha_pago"></mat-datepicker-toggle>
				<mat-datepicker #fecha_pago></mat-datepicker>
			</mat-form-field>

			<mat-form-field class="full-width"> 
		    	<mat-select placeholder="Forma pago" [(ngModel)]="DatosPago.id_forma_pago" (selectionChange)="cambioFormaPago()">
				    <mat-option *ngFor="let datos of Formulario.FormDatos['Forma_Pago']" [value]="datos.id">
				      {{datos.forma_pago}}
				    </mat-option>
		  		</mat-select>
		  	</mat-form-field>

			<mat-form-field class="full-width"> 
		    	<mat-select placeholder="Cuenta" [(ngModel)]="DatosPago.id_cuenta" (selectionChange)="cambioCuenta()">
				    <mat-option *ngFor="let datos of Formulario.FormDatos['Cuenta']" [value]="datos.id">
				      {{datos.cuenta}}
				    </mat-option>
		  		</mat-select>
		  	</mat-form-field>
			
			<mat-form-field class="full-width">
				<input matInput placeholder="Monto" type="text" required [(ngModel)]="DatosExtra.cantidad_abonada" #cantidad_abonada="ngModel">
			</mat-form-field>

			<div class="row">
				<div class="col-sm-6">
					<mat-form-field class="full-width">
						<input matInput [matDatepicker]="fecha_tipo_cambio" placeholder="Fecha de tipo de cambio" [(ngModel)]="DatosExtra.fecha_tipo_cambio"
							(dateChange)="fechaCambio()">
						<mat-datepicker-toggle matSuffix [for]="fecha_tipo_cambio"></mat-datepicker-toggle>
						<mat-datepicker #fecha_tipo_cambio></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-sm-6">			
					<mat-form-field class="full-width">
						<!-- <input matInput placeholder="Tipo de Cambio" type="text" required [(ngModel)]="DatosPago.tipo_cambio" #tipo_cambio="ngModel" disabled="!ModificarPago"> -->
						<input matInput placeholder="Tipo de Cambio" type="text" required [(ngModel)]="DatosPago.tipo_cambio" #tipo_cambio="ngModel">
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-5">
					Envío
				</div>
				<div class="col-sm-7">		
			    	<mat-radio-group [(ngModel)]="DatosPago.envio">
						<mat-radio-button [value]="1" style="margin-right: 50px;">Sí</mat-radio-button>
						<mat-radio-button [value]="0">No</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>

			

			<mat-form-field class="full-width">
			    <textarea matInput placeholder="Comentarios" [(ngModel)]="DatosPago.comentario" #comentario="ngModel"></textarea>
			</mat-form-field>

			<div *ngIf="HayArchivo">
				<a style="background-color: #e0dfdf; padding: 10px;" target="blank" href="http://misegurointernacional.com/ADMIN/archivos/Pagos/{{DatosPago.id}}.{{DatosPago.archivo}}">Ver archivo</a>
			</div>

			<div style="font-style: italic;">{{Archivo.Nombre}}</div>
			<label class="subir-archivo">
				<i class="fas fa-file-upload"></i>
				<input type="file" value="" hidden name="foto"style="display: none;" (change)="cambioArchivo($event)">
				Archivo
			</label>

		</div>
		<div class="col-sm-2"></div>

	</div>

		<button style="margin-bottom: 120px;" class="boton derecha" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarPago()">Guardar</button>

</div>