<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

	<h1 mat-dialog-title style="font-weight: bold; text-align: center">Tipo de cambio</h1>

	<p>Actual: <label style="font-weight: bolder;">{{Datos.tipo_cambio}}</label></p>

	<div *ngIf="sesion.admin()">
	<mat-form-field class="full-width">
		<input matInput placeholder="Nuevo" type="number" required
			minlength="2"  [(ngModel)]="DatosNuevo.tipo_cambio" name="tipo_cambio" #tipo_cambio="ngModel">
	</mat-form-field>

    <button style="margin-bottom: 13px;" *ngIf="tipo_cambio.valid" mat-flat-button color="primary" type="submit"  class="full-width" disabled="false" (click)="guardar()">Guardar</button>

    </div>

	<mat-divider></mat-divider>
	<mat-divider></mat-divider>

	<div style="background-color: #EEEEEE; padding: 10px;">
	    <mat-form-field class="full-width">
			<input matInput [matDatepicker]="fecha" placeholder="Fecha de tipo de cambio" [(ngModel)]="Fecha"
				(dateChange)="fechaCambio($event)">
			<mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
			<mat-datepicker #fecha></mat-datepicker>
		</mat-form-field>

		<div *ngIf="HayFecha">
			<div *ngFor="let tipo of DatosFecha; let i = index">
				<p>Tipo de cambio del {{tipo.fecha}} ({{i + 1}}): <label style="font-weight: bolder;">{{tipo.tipo_cambio}}</label> | Por: {{tipo.nombre_completo}}</p>
			</div>
		</div>
	</div>

</div>