<div class="contenido clientes">
	<h1 class="primario-mas-claro" en="fondo">Conciliar</h1>

	<div style="padding: 0px 40px;">
		<mat-tab-group [selectedIndex]='0'>
			<mat-tab label="Pendiente">
          <app-conciliar-pendiente></app-conciliar-pendiente>
			</mat-tab>

			<!-- ------------------------------------------------------------------------- -->
			<!-- ------------------------------------------------------------------------- -->
			<!-- PESTAÑA PAGADO -->
			<!-- ------------------------------------------------------------------------- -->
			<!-- ------------------------------------------------------------------------- -->
			<mat-tab label="Conciliado">
          <app-conciliar-aprobado></app-conciliar-aprobado>
			</mat-tab>
		</mat-tab-group>
	</div>



</div>