<div style="padding: 5px 15px;">
  <app-datos-filtro 
    (clickColumnas)="columnas($event)"
    (keyupFiltro)="filtroTexto($event)"
    (clickEliminar)="filtroEliminar($event)"
    (changeSeleccionar)="filtroSeleccionar($event)"
    (clickExcel)="filtroExcel($event)"
    [columnas]="Columnas"
    [seleccionados]="Seleccionados">
  </app-datos-filtro>
</div>

<div class="tabla" style="width: 100%;">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null; actualizarSeleccion()"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null; actualizarSeleccion()"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container *ngFor="let Columna of Columnas" matColumnDef="{{Columna.id}}">
    <th [hidden]="Columna.ocultar" mat-header-cell *matHeaderCellDef> {{Columna.nombre}} </th>
    <td [hidden]="Columna.ocultar" mat-cell *matCellDef="let element"> {{element[Columna.id]}} </td>
  </ng-container>

  <ng-container matColumnDef="factura">
    <th mat-header-cell *matHeaderCellDef> Factura </th>
    <td mat-cell *matCellDef="let element"> 
        <i *ngIf="element.factura == 1" class="fas fa-check acciones" style="color:rgb(67, 122, 67)"></i>
        <i *ngIf="element.factura == 0" class="fas fa-times acciones" style="color:rgb(97, 29, 29)"></i>
    </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element" class="acciones"> 
      <div class="opciones" *ngIf="Opciones[element['comision_id']]">
        <ul>
          <li><a (click)="subirFactura(element)">Subir factura</a></li>
          <!-- <li><a (click)="ajustesComision(element)">Ajustes</a></li> -->
        </ul>
      </div>
      <i style="cursor: pointer;" class="fas fa-ellipsis-v" (click)="opcionCambio(element['comision_id'])"></i>
      
    </td>
  </ng-container>

  <!-- <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> 
      <a (click)="subirFactura(element)"><i class="fas fa-paperclip acciones"></i></a>
      <a (click)="ajustesComision(element)"><i class="fas fa-clipboard-check acciones"></i></a>
    </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
</table>
</div>

<app-datos-pagina
(changePaginas)="cambioPagina($event)"
[total]="DatosCantidad">
</app-datos-pagina>