/*MENÚ 2*/
ul.menu2{
	list-style-type: none;
	text-decoration: none;
}

ul.menu2 > li > ul{
	background-color: #EBEBEB;
	display: none;
	position: absolute;
	/* top: 10px; */
	/* left: -75px; */
	/* left: 5px; */
	font-weight: bold;
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 5px;
	border-radius: 5px;
}

ul.menu2 > li:hover > ul{
	display: block;
}

ul.menu2 a{
	padding-right: 20px;
	text-align: center;
	color: #A0A0A0;
	text-decoration: none;
	cursor: pointer;
}
ul.menu2 a:hover{
	color: #656565;
}

.otro i{
	font-size: 30pt;
	color: rgb(173, 209, 140);
	cursor: pointer;
	margin-top: 8px;
	/* border: 1px solid rgb(42, 42, 42); */
}
.otro i.borrar{
	color: rgb(136, 62, 62);
}
.accionesFiltro i{
	font-size: 20pt !important;
	float: right;
	padding-top: 20px;
}