<div class="row filtro">
    <!-- <div class="col-sm-6">
    <app-seleccionar
        (changeSeleccionar)="filtroSeleccionar($event)"
        (keyupFiltro)="filtroTexto($event)"
        [columnas]="Columnas"
    ></app-seleccionar>
    </div> -->
    <div class="col-sm-2" style="padding-top: 18px;">Seleccionar filtro</div>
    <div class="col-sm-2">
        <mat-form-field class="full-width">
            <mat-select multiple placeholder="Seleccionar" name="fs" id="fs" [(ngModel)]="filtroSelect" #fs="ngModel"
                (selectionChange)="filtroSeleccionar(fs.value)">
                <mat-option *ngFor="let Columna of Columnas" [value]="Columna.tabla">
                  {{Columna.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-2">
        <ng-container *ngFor="let Filtro of FiltroDatos; let i=index">
            <p *ngIf="Filtro.Seleccionado && FiltroDatos[i].Fecha" style="margin: 0; font-size: 8pt;">DD/MM/YYYY a DD/MM/YYYY</p>
            <mat-form-field class="full-width" *ngIf="Filtro.Seleccionado">
                <input matInput [placeholder]="Filtro.Nombre"  #texto="ngModel" value="" id="texto" (keyup)="filtroTexto(FiltroDatos[i].Campo, texto.value)"   
                [(ngModel)]="FiltroDatos[i].Valor" name="texto">
            </mat-form-field>
        </ng-container>
        <!-- <mat-form-field class="full-width">
            <input matInput placeholder="Filtro" value="" id="texto"    
            [(ngModel)]="efiltroTexto" name="texto"  #texto="ngModel" (keyup)="filtroTexto(texto.value)">
        </mat-form-field> -->
    </div>
    <div class="col-sm-2 otro">
        <!-- <i class="fas fa-plus-circle" (click)="agregarFiltro()"></i> -->
        <i *ngIf="Filtrando" class="fas fa-check-circle" (click)="filtroAplicar()"></i>
        <i *ngIf="Filtrando" class="fas fa-times-circle borrar" (click)="filtroAplicar(true)"></i>
    </div>
    <div class="col-sm-1">
        <!-- <button mat-flat-button color="accent" type="submit"  class="full-width" disabled="true">Iniciar sesión</button> -->
        <button *ngIf="sesion.admin() && haySeleccionado()" mat-flat-button color="warn" type="submit"  class="full-width" disabled="false" (click)=filtroEliminar()>ELIMINAR</button>
    </div>
    <div class="col-sm-3 accionesFiltro">
        <label class="" *ngIf="SubirExcel != null" style="float: right;">
            <i class="fas fa-file-upload" (click)="subirExcel()"></i>
            <input type="file" value="" hidden name="foto"style="display: none;" (change)="cambioArchivo($event)">
            
        </label>
        <i *ngIf="Ingles" class="material-icons" (click)="filtroExcelIngles()">language</i>
        <i class="fas fa-file-excel" (click)="filtroExcel()"></i>
        <i class="fas fa-sliders-h" (click)="columnas()"></i>
        <ul class="menu2" *ngIf="sesion.admin() && Agregar">
            <li><i class="far fa-plus-square"></i>
                <ul>
                    <li><a (click)="ventana.distribuidores(Columnas)">Distribuidores</a></li>
                    <li><a (click)="ventana.agentes(Columnas)">Agentes</a></li>
                    <li><a (click)="ventana.subAgentes(null)">Subagentes</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>