<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

	<h1 mat-dialog-title style="font-weight: bold; text-align: center">Recuperar contraseña</h1>

	<mat-form-field class="full-width">
		<input matInput placeholder="Correo electrónico" type="text" required
			minlength="4"  [(ngModel)]="Datos.correo_electronico" name="correo" #correo="ngModel">
	</mat-form-field>

	<button *ngIf="correo.invalid" mat-flat-button color="accent" type="submit"  class="full-width" disabled="true">Recuperar contraseña</button>
	<button *ngIf="correo.valid" mat-flat-button color="accent" type="submit"  class="full-width" disabled="false" (click)="recuperarContrasena()">Recuperar contraseña</button>

	<div *ngIf="Mensaje.hay" style="background-color: #EAEAEA; margin-top: 15px; border-radius: 5px; padding: 3px; text-align: center;">
		{{Mensaje.contenido}}
	</div>

</div>