<!-- <div class="contenido clientes"> -->
	<!-- <h1 class="primario-mas-claro" en="fondo">Usuarios</h1> -->
<div style="padding: 5px 15px;">
	<app-datos-filtro 
		(clickColumnas)="columnas($event)"
		(keyupFiltro)="filtroTexto($event)"
		(clickEliminar)="filtroEliminar($event)"
		(changeSeleccionar)="filtroSeleccionar($event)"
		(clickExcel)="filtroExcel($event)"
		(aplicarFiltro)="filtroAplicar($event)"
		[columnas]="Columnas"
		[seleccionados]="Seleccionados"
		[agregar]="true">
	</app-datos-filtro>

    <div class="tabla">
    	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

			  <!-- Checkbox Column -->
			  <ng-container matColumnDef="select">
			    <th mat-header-cell *matHeaderCellDef>
			      <mat-checkbox (change)="$event ? masterToggle() : null; actualizarSeleccion()"
			                    [checked]="selection.hasValue() && isAllSelected()"
			                    [indeterminate]="selection.hasValue() && !isAllSelected()">
			      </mat-checkbox>
			    </th>
			    <td mat-cell *matCellDef="let row">
			      <mat-checkbox (click)="$event.stopPropagation()"
			                    (change)="$event ? selection.toggle(row) : null; actualizarSeleccion()"
			                    [checked]="selection.isSelected(row)">
			      </mat-checkbox>
			    </td>
			  </ng-container>


			  <!-- CICLO PARA CADA COLUMNA -->

			  <ng-container *ngFor="let Columna of Columnas" matColumnDef="{{Columna.id}}">
			    <th [hidden]="Columna.ocultar" mat-header-cell *matHeaderCellDef> {{Columna.nombre}} </th>
			    <td [hidden]="Columna.ocultar" mat-cell *matCellDef="let element"> {{element[Columna.id]}} </td>
			  </ng-container>

			  <ng-container matColumnDef="activo_inactivo">
			    <th mat-header-cell *matHeaderCellDef> Estado </th>
			    <td mat-cell *matCellDef="let element">
			    	<ng-container *ngIf="element.activo_inactivo == 1">ACTIVO</ng-container>
			    	<ng-container *ngIf="element.activo_inactivo == 0">INACTIVO</ng-container>
			    </td>
			  </ng-container>



			  <ng-container matColumnDef="acciones">
			    <th mat-header-cell *matHeaderCellDef> Acciones </th>
			    <td mat-cell *matCellDef="let element"> 
			    	<a (click)="editarSubagente(element)" *ngIf="sesion.admin()"><i class="fas fa-edit"></i></a>
			    	<!-- <a (click)="desactivarUsuario(element)" *ngIf="sesion.admin()"><i class="fas fa-user-lock"></i></a> -->
			    	<a (click)="desactivarUsuario(element)" *ngIf="sesion.admin() && element.activo_inactivo == 1"><i class="fas fa-user-lock"></i></a>
			    	<a (click)="activarUsuario(element)" *ngIf="sesion.admin() && element.activo_inactivo == 0"><i class="fas fa-unlock"></i></a>
			    	<!-- <a (click)="ventana.asignarSeguro(Datos)" *ngIf="sesion.admin()"><i class="fas fa-user-edit"></i></a> -->
			    </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
			</table>
    </div>

    <app-datos-pagina
    	(changePaginas)="cambioPagina($event)"
    	[total]="DatosCantidad">
    </app-datos-pagina>
			

</div>