<div mat-dialog-content>
  <app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

  <h1 mat-dialog-title style="font-weight: bold; text-align: center">Texto del correo</h1>

  <mat-form-field class="full-width" floatPlaceholder="auto">
      <input matInput
             type="text"
             required
             placeholder="De" [(ngModel)]="Correo.De">
  </mat-form-field>

  <mat-form-field class="full-width" floatPlaceholder="auto">
      <input matInput
             type="text"
             required
             placeholder="Para" [(ngModel)]="Correo.Para">
  </mat-form-field>

  <mat-form-field class="full-width" floatPlaceholder="auto">
      <input matInput
             type="text"
             required
             placeholder="CC" [(ngModel)]="Correo.CC">
  </mat-form-field>

  <mat-form-field class="full-width" floatPlaceholder="auto">
      <input matInput
             type="text"
             required
             placeholder="Asunto del correo" [(ngModel)]="Correo.Asunto">
  </mat-form-field>
  
  <mat-form-field class="full-width" floatPlaceholder="auto">
      <textarea matInput [(ngModel)]="Correo.Mensaje" required
                placeholder="Mensaje del correo"></textarea>
  </mat-form-field>

  <button mat-button (click)="enviar()">Enviar</button> <button mat-button (click)="cerrar()">Cancelar</button>

</div>
