<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>
<div mat-dialog-content>
<div class="contenido clientes container">
	<h1 class="primario-mas-claro" en="fondo">Agentes</h1>

	<div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
			<mat-form-field class="full-width">
		        <mat-select placeholder="Distribuidor" [(ngModel)]="Datos.id_distribuidor" #distribuidor="ngModel" required>
		            <mat-option *ngFor="let tipo of direccion.FormDatos['Distribuidor']" [value]="tipo.id">
		              {{tipo.distribuidor}}
		            </mat-option>
		        </mat-select>
		    </mat-form-field>

			<mat-form-field class="full-width">
		        <input matInput placeholder="Agente" type="text" required
				    	minlength="4"  [(ngModel)]="Datos.agente" name="agente" #agente="ngModel">
		    </mat-form-field>

			<mat-form-field class="full-width">
		        <input matInput placeholder="Correo electrónico" type="text" required
				    	minlength="4"  [(ngModel)]="Datos.correo_electronico" name="email" #email="ngModel">
		    </mat-form-field>
        </div>

        <div class="col-sm-6">

        	<div class="row">
        		<div class="col-sm-6">
					<mat-form-field class="full-width">
				        <input matInput placeholder="Comisión" type="number" required
						    	[(ngModel)]="Datos.comision" name="comision" #comision="ngModel">
				    </mat-form-field>
        		</div>
        		<div class="col-sm-6">
					<mat-form-field class="full-width">
				        <input matInput placeholder="Descuento" type="number" required
						    	[(ngModel)]="Datos.descuento" name="descuento" #descuento="ngModel">
				    </mat-form-field>
        		</div> 

        		<div class="col-sm-12"></div>       
        		
        		<div class="col-sm-12">
					<mat-form-field class="full-width">
				        <input matInput placeholder="Teléfono" type="number" required
						    	[(ngModel)]="Datos.telefono" name="telefono" #telefono="ngModel">
				    </mat-form-field>
        		</div>
        		<div class="col-sm-12">
					<mat-form-field class="full-width">
						<input matInput placeholder="Contraseña" type="text" required
								minlength="4"  [(ngModel)]="Datos.contrasena" name="contrasena" #contrasena="ngModel">
					</mat-form-field>
				</div>
        	</div>

        	<div class="row">      		
        	</div>
        	
        </div>
    </div>
    <app-form-direccion [datos]="Datos"></app-form-direccion>

    <p style="font-weight: bold;">Facturación</p>
    <app-facturacion
 		[datos]="Datos">
 	</app-facturacion>

    <div class="row">
    	<div class="col-sm-10"></div>
    	<div class="col-sm-2"><button (click)="guardar()" style="color: white; font-size: 15pt;" mat-flat-button color="primary" type="submit"  class="full-width" disabled="false">Guardar</button></div>
    </div>

</div>
</div>