

			  <!-- <ng-container matColumnDef="fecha">
			    <th [hidden]="ocultarColumna.fecha" mat-header-cell *matHeaderCellDef> Fecha de registro </th>
			    <td [hidden]="ocultarColumna.fecha" mat-cell *matCellDef="let element"> {{element.fecha}} </td>
			  </ng-container>

			  <ng-container matColumnDef="cliente">
			    <th [hidden]="ocultarColumna.cliente" mat-header-cell *matHeaderCellDef> Cliente </th>
			    <td [hidden]="ocultarColumna.cliente" mat-cell *matCellDef="let element"> {{element.cliente}} </td>
			  </ng-container>

			  <ng-container matColumnDef="nacimiento">
			    <th [hidden]="ocultarColumna.nacimiento" mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
			    <td [hidden]="ocultarColumna.nacimiento" mat-cell *matCellDef="let element"> {{element.nacimiento}} </td>
			  </ng-container>

			  <ng-container matColumnDef="email">
			    <th [hidden]="ocultarColumna.email" mat-header-cell *matHeaderCellDef> Email </th>
			    <td [hidden]="ocultarColumna.email" mat-cell *matCellDef="let element"> {{element.email}} </td>
			  </ng-container>

			  <ng-container matColumnDef="telefono">
			    <th [hidden]="ocultarColumna.telefono" mat-header-cell *matHeaderCellDef> Telefono </th>
			    <td [hidden]="ocultarColumna.telefono" mat-cell *matCellDef="let element"> {{element.telefono}} </td>
			  </ng-container>

			  <ng-container matColumnDef="tipoDistribuidor">
			    <th [hidden]="ocultarColumna.tipoDistribuidor" mat-header-cell *matHeaderCellDef> Tipo de distribuidor </th>
			    <td [hidden]="ocultarColumna.tipoDistribuidor" mat-cell *matCellDef="let element"> {{element.tipoDistribuidor}} </td>
			  </ng-container>

			  <ng-container matColumnDef="distribuidor">
			    <th [hidden]="ocultarColumna.distribuidor" mat-header-cell *matHeaderCellDef> Distribuidor </th>
			    <td [hidden]="ocultarColumna.distribuidor" mat-cell *matCellDef="let element"> {{element.distribuidor}} </td>
			  </ng-container>

			  <ng-container matColumnDef="oficina">
			    <th [hidden]="ocultarColumna.oficina" mat-header-cell *matHeaderCellDef> Oficina </th>
			    <td [hidden]="ocultarColumna.oficina" mat-cell *matCellDef="let element"> {{element.oficina}} </td>
			  </ng-container>

			  <ng-container matColumnDef="agente">
			    <th [hidden]="ocultarColumna.agente" mat-header-cell *matHeaderCellDef> Agente </th>
			    <td [hidden]="ocultarColumna.agente" mat-cell *matCellDef="let element"> {{element.agente}} </td>
			  </ng-container>

			  <ng-container matColumnDef="referencia">
			    <th [hidden]="ocultarColumna.referencia" mat-header-cell *matHeaderCellDef> Referencia </th>
			    <td [hidden]="ocultarColumna.referencia" mat-cell *matCellDef="let element"> {{element.referencia}} </td>
			  </ng-container> -->


			  ---------------------------

			  <ng-container matColumnDef="fecha">
			    <th [hidden]="ocultarColumna.fecha" mat-header-cell *matHeaderCellDef> Fecha de registro </th>
			    <td [hidden]="ocultarColumna.fecha" mat-cell *matCellDef="let element"> {{element.fecha}} </td>
			  </ng-container>

			  <ng-container matColumnDef="cliente">
			    <th [hidden]="ocultarColumna.cliente" mat-header-cell *matHeaderCellDef> Cliente </th>
			    <td [hidden]="ocultarColumna.cliente" mat-cell *matCellDef="let element"> {{element.cliente}} </td>
			  </ng-container>

			  <ng-container matColumnDef="inicio">
			    <th [hidden]="ocultarColumna.inicio" mat-header-cell *matHeaderCellDef> Inicio </th>
			    <td [hidden]="ocultarColumna.inicio" mat-cell *matCellDef="let element"> {{element.inicio}} </td>
			  </ng-container>

			  <ng-container matColumnDef="fin">
			    <th [hidden]="ocultarColumna.fin" mat-header-cell *matHeaderCellDef> Fin </th>
			    <td [hidden]="ocultarColumna.fin" mat-cell *matCellDef="let element"> {{element.fin}} </td>
			  </ng-container>

			  <ng-container matColumnDef="regreso">
			    <th [hidden]="ocultarColumna.regreso" mat-header-cell *matHeaderCellDef> Regreso </th>
			    <td [hidden]="ocultarColumna.regreso" mat-cell *matCellDef="let element"> {{element.regreso}} </td>
			  </ng-container>

			  <ng-container matColumnDef="destino">
			    <th [hidden]="ocultarColumna.destino" mat-header-cell *matHeaderCellDef> Destino </th>
			    <td [hidden]="ocultarColumna.destino" mat-cell *matCellDef="let element"> {{element.destino}} </td>
			  </ng-container>

			  <ng-container matColumnDef="poliza">
			    <th [hidden]="ocultarColumna.poliza" mat-header-cell *matHeaderCellDef> Tipo de poliza </th>
			    <td [hidden]="ocultarColumna.poliza" mat-cell *matCellDef="let element"> {{element.poliza}} </td>
			  </ng-container>

			  <ng-container matColumnDef="tipoDistribuidor">
			    <th [hidden]="ocultarColumna.tipoDistribuidor" mat-header-cell *matHeaderCellDef> Tipo de distribuidor </th>
			    <td [hidden]="ocultarColumna.tipoDistribuidor" mat-cell *matCellDef="let element"> {{element.tipoDistribuidor}} </td>
			  </ng-container>

			  <ng-container matColumnDef="distribuidor">
			    <th [hidden]="ocultarColumna.distribuidor" mat-header-cell *matHeaderCellDef> Distribuidor </th>
			    <td [hidden]="ocultarColumna.distribuidor" mat-cell *matCellDef="let element"> {{element.distribuidor}} </td>
			  </ng-container>

			  <ng-container matColumnDef="agente">
			    <th [hidden]="ocultarColumna.agente" mat-header-cell *matHeaderCellDef> Agente </th>
			    <td [hidden]="ocultarColumna.agente" mat-cell *matCellDef="let element"> {{element.agente}} </td>
			  </ng-container>

			  <ng-container matColumnDef="asesor">
			    <th [hidden]="ocultarColumna.asesor" mat-header-cell *matHeaderCellDef> Asesor </th>
			    <td [hidden]="ocultarColumna.asesor" mat-cell *matCellDef="let element"> {{element.asesor}} </td>
			  </ng-container>