<div class="row sin-margin">
	<div class="col-sm-4"> <!--style="border: solid 1px #75BC52"-->
		<!-- //PAÍS -->
		<mat-form-field class="full-width">
		    <mat-select placeholder="País" [(ngModel)]="Datos.id_pais" #pais="ngModel" required *ngIf="!Facturacion">
		        <mat-option *ngFor="let tipo of datosDireccion.FormDatos['Pais']" [value]="tipo.id">
		          {{tipo.pais}}
		        </mat-option>
		    </mat-select>

		    <mat-select placeholder="País" [(ngModel)]="Datos.fac_id_pais" #pais="ngModel" required *ngIf="Facturacion">
		        <mat-option *ngFor="let tipo of datosDireccion.FormDatos['Pais']" [value]="tipo.id">
		          {{tipo.pais}}
		        </mat-option>
		    </mat-select>
	    </mat-form-field>
	</div>
	<div class="col-sm-8"></div>
</div>	


<div class="row sin-margin">
<!-- --------------------------------------- -->
	<div class="col-sm-4" *ngIf="!Facturacion"
		[ngStyle]="{'border': Datos.id_pais == 1 ? 'solid 1px #75BC52' : '' }">
		<!-- //CÓDIGO POSTAL -->
		<mat-form-field class="full-width">
	        <input matInput placeholder="Código postal" type="text" required
			    	[(ngModel)]="Datos.cp" name="codigoPostal" #codigoPostal="ngModel" (keyup)="datosDireccion.obtenerDatos(Datos); codCambio()">
	    </mat-form-field>
	</div>

	<div class="col-sm-4" *ngIf="Facturacion"
		[ngStyle]="{'border': Datos.fac_id_pais == 1 ? 'solid 1px #75BC52' : '' }">
		<!-- //CÓDIGO POSTAL -->
		<mat-form-field class="full-width">
	        <input matInput placeholder="Código postal" type="text" required *ngIf="Facturacion"
			    	[(ngModel)]="Datos.fac_cp" name="codigoPostal" #codigoPostal="ngModel" (keyup)="datosDireccion.obtenerDatos(Datos, 'fac_'); codCambio('fac_')">
	    </mat-form-field>
	</div>
<!-- --------------------------------------- -->

	<div class="col-sm-4">
		<!-- //ESTADO -->
		<mat-form-field class="full-width">
	        <mat-select placeholder="Estado" [(ngModel)]="Datos.estado" #estado="ngModel" required *ngIf="!Facturacion">
	            <mat-option *ngFor="let tipo of datosDireccion.MX_Estados" [value]="tipo.nombre">
	              {{tipo.nombre}}
	            </mat-option>
	        </mat-select>

	        <mat-select placeholder="Estado" [(ngModel)]="Datos.fac_estado" #estado="ngModel" required *ngIf="Facturacion">
	            <mat-option *ngFor="let tipo of datosDireccion.MX_Estados" [value]="tipo.nombre">
	              {{tipo.nombre}}
	            </mat-option>
	        </mat-select>
        </mat-form-field>
	</div>
      
	<div class="col-sm-4">  
		<!-- //Ciudad -->
		<mat-form-field class="full-width">
	        <input matInput placeholder="Ciudad" type="text" required *ngIf="!Facturacion"
			    	minlength="4"  [(ngModel)]="Datos.ciudad" name="ciudad" #ciudad="ngModel">

	        <input matInput placeholder="Ciudad" type="text" required *ngIf="Facturacion"
			    	minlength="4"  [(ngModel)]="Datos.fac_ciudad" name="ciudad" #ciudad="ngModel">
	    </mat-form-field>
	</div>
</div>

<div class="row sin-margin">

	<div class="col-sm-4">
		<!-- //Colonia -->
		<mat-form-field class="full-width">
			<input type="text" placeholder="Colonia" aria-label="Colonia" matInput (keyup)="codCambio()" [matAutocomplete]="autoColonias" required *ngIf="!Facturacion"
				  	[(ngModel)]="Datos.colonia" name="colonia" #colonia="ngModel">

			<input type="text" placeholder="Colonia" aria-label="Colonia" matInput (keyup)="codCambio('fac_')" [matAutocomplete]="autoColonias" required *ngIf="Facturacion"
				  	[(ngModel)]="Datos.fac_colonia" name="colonia" #colonia="ngModel">

			<mat-autocomplete #autoColonias="matAutocomplete">
				<mat-option *ngFor="let colonia of datosDireccion.filtradoColonias" [value]="colonia">
					{{colonia}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</div>

	<div class="col-sm-8">
		<!-- //Dirección -->
		<mat-form-field class="full-width">
	        <input matInput placeholder="Calle y número" type="text" required *ngIf="!Facturacion"
			    	minlength="4"  [(ngModel)]="Datos.calle_numero" name="calle_numero" #calle_numero="ngModel">

	        <input matInput placeholder="Calle y número" type="text" required *ngIf="Facturacion"
			    	minlength="4"  [(ngModel)]="Datos.fac_calle_numero" name="calle_numero" #calle_numero="ngModel">
	    </mat-form-field>
	</div>

</div>


	<!-- <div class="col-sm-4">

		<div class="row">
			<!-- // Num int --
			<div class="col-sm-6">
				<mat-form-field class="full-width">
			        <input matInput placeholder="Número int" type="number" required
					    	[(ngModel)]="Datos.numInt" name="numInt" #numInt="ngModel">
			    </mat-form-field>
			</div>

			<!-- // Num ext --
			<div class="col-sm-6">
				<mat-form-field class="full-width">
			        <input matInput placeholder="Número ext" type="number" required
					    	[(ngModel)]="Datos.numExt" name="numExt" #numExt="ngModel">
			    </mat-form-field>
			</div>
		</div>
	</div> 
	
</div>-->