<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

	<h1 mat-dialog-title style="font-weight: bold; text-align: center">Agregar comentario</h1>

	<div class="row">
		
		<div class="col-sm-1"></div>
		<div class="col-sm-10">

			<div class="row">

				<div class="col-sm-12">
					<mat-form-field class="full-width">
				    	<textarea matInput placeholder="Comentarios" [(ngModel)]="DatosComentarioIncidente.comentario" #comentario="ngModel"></textarea>
					</mat-form-field>
				</div>

				<div class="col-sm-6">
	        		<div style="font-style: italic;">{{Archivo.Nombre}}</div>
	        		<label class="subir-archivo">
	        			<i class="fas fa-file-upload"></i>
					    <input type="file" value="" hidden name="foto"style="display: none;" (change)="cambioArchivo($event)">
					    Archivo
					</label>
				</div>

			</div>

		</div>
		<div class="col-sm-1"></div>
	</div>

		<button style="margin-bottom: 10px; margin-top: 20px;" class="boton derecha" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarComentario()">Guardar</button>

</div>