/* You can add global styles to this file, and also import other style files */
@import url('assets/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');

:root{
	--color-primero: #73B636;
	--color-segundo: #6E8292;
}

body{
	font-family: 'Roboto', sans-serif;
}

.primario{
	color: #73B636;
}

.primario-fondo{
	background-color: #73B636;
}
.primario-claro[en=letra]{
	color: #BAE593;
}
.primario-claro[en=fondo]{
	background-color: #BAE593;
}
.primario-mas-claro[en=fondo]{
	background-color: #E1F6CD;
}
.secundario[en=letra]{
	color: #6E8292;
}
.secundario[en=fondo]{
	background-color: #6E8292;
}
.secundario-fuerte[en=letra]{
	color: #323E46;
}
.secundario-fuerte[en=fondo]{
	background-color: #323E46;
}

.centrar-vertical {
    margin-top: 90%;
}
@media only screen and (max-width: 575px) {
    .centrar-vertical {
	    margin-top: 0;
	}
}

.centrar-texto{
	text-align: center;
}

.full-width {
  width: 100% !important;
}

button[color=primary]{
	color: white;
}

div.row.sin-margin{
	margin-right: 0;
	margin-left: 0;
}

.inicio .cuadro{
	background-color: var(--color-segundo);
}

.contenido{
	padding: 20px;
	/* margin-bottom: 120px; */
}

.contenido.clientes{
	/* padding-bottom: 120px; */
}

/*CLIENTES*/

.clientes h1, .cotizacion h1, .prospectos h1{
	font-weight: bold;
	padding: 4px 7px;
	border-radius: 2px;
	color: #313131;
}

.clientes table, .prospectos table{
	width: 100%;
}

.clientes table a{
	color: black;
	font-size: 15pt;
	cursor: pointer;
}
.clientes table a:hover{
	color: #3B3B3B;
}

.clientes .filtro i{
	font-size: 28pt;
	cursor: pointer;
	margin-right: 10px;
}
.clientes .filtro i:hover{
	color: #3B3B3B;
}

.mat-table thead{
	background-color: #EDEFF0;
}

/* DIALOGOS */
.cuadro-cerrar .cerrar{
}
.cuadro-cerrar i{
	float: right;
	font-size: 20pt;
	color: black;
	cursor: pointer;
}
.cuadro-cerrar i:hover{
	color: #7C0000;
	cursor: pointer;
}

.boton.derecha{
	color: white; 
	font-size: 15pt;
	float: right;
	padding: 3px 10%;
}

mat-spinner.carga{
	height: 20px !important;
	width: 20px !important;
}

mat-spinner.carga svg{
	height: 20px !important;
	width: 20px !important;
}

mat-spinner.carga.tabla{
	float: left;
	top: 20px;
	left: -5px;
}

mat-dialog-container{
	/*padding: 0px 24px !important;*/
}


label.subir-archivo{
	background-color: #d2d2d2;
	color: white;
	border-radius: 5px;
	width: 25vw;
	text-align: center;
	padding: 9px 0;
	cursor: pointer;
	font-size: 16pt;
	border: 1px solid #bbb;
}
label.subir-archivo i{
	margin-right: 5px;
	font-size: 14pt;
}

i.acciones, .acciones i{
	font-size: 17pt;
	margin-right: 7px;
}

.acciones .opciones{
	background-color: white;
	position: relative;
	/* bottom: 0;
	right: 0; */
}
.acciones ul{
	padding: 4px 0px 4px 0px;
	position: absolute;
    bottom: -40px;
    left: -100px;
	background-color: white;
	border: 1px solid #e8e8e8;
	min-width: 100px;
}
.acciones ul li{
	padding: 1px 10px;
	list-style-type: none;
	cursor: pointer;
}
.acciones ul li a{
	text-decoration: none;
	color: rgb(34, 34, 34);
	font-size: 10pt;
}
.acciones ul li:hover{
	background-color: #d4d4d4;
}


/* .cotizacion h2::after{
	content: "";
	border: 1px solid black;
} */

.cotizacion h2{
	border-bottom: 1px solid rgb(82, 82, 82);
	color: var(--color-primero);
	font-weight: bold;
	font-size: 13pt;
	text-align: center;
	padding-bottom: 3px;
}
.cotizacion li, .cotizacion td{
	font-size: 10pt;
}
.bold{
	font-weight: bold;
}

.cotizacion{
	color: var(--color-segundo);
}
.cotizacion label{
	color: var(--color-primero);
}

.pointer i{
	cursor: pointer;
}

.precios mat-form-field{
	margin-right: 10px;
}
.precios{
	padding-top: 25px;
}

.precios ::ng-deep .mat-tab-body.mat-tab-body-active, .precios ::ng-deep .mat-tab-body-content {
	overflow: hidden !important;
}