@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-light-green, 600, 200, 900);
$my-app-accent:  mat-palette($mat-blue-grey, 300, 100, 900);
$my-app-warn:    mat-palette($mat-red, 900, 600, A700);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);