<div style="width:1020px; height:1320px;" class="area" id="area">
  <div class="fila" style="padding: 20px;">
    <div class="columna-5">
      <!-- <img src="https://misegurointernacional.com/ADMIN//img/logo.png" alt="logo" style="width: 310px;"> -->
      <img src="assets/img/logo.png" alt="logo" style="width: 310px;">
    </div>
    <div class="columna-3 listado">
      <br>
      <br>
      <br>
      <br>
      <p>{{Textos['A quien corresponda']}}</p>
      <p>{{Textos['Presente']}}</p>
    </div>
    <div class="columna-4">
      <br>
      <p>{{Textos['Fecha']}}</p>
      <br>
      <p>{{Textos['ID']}}</p>
    </div>
    <div class="columna-12">
      <p style="padding: 10px;"></p>
      <p>{{Textos['Introduccion']}}</p>
      <p>{{Textos['Numero poliza es']}} <b>{{Textos['Numero poliza']}}</b></p>
    </div>
    <div class="columna-12">
      <p><b>{{Textos['Caracteristicas']}}</b></p>
    </div>
    <div class="columna-5 listado"> <!-- COL 1 -->
      <p style="font-weight: bold;">{{Textos['Seguro y accidente']}}</p>
      <p>{{Textos['Gastos medicos']}}</p>
      <p>{{Textos['Eleccion medico']}}</p>
      <p>{{Textos['Tratamiento dental urgente']}}</p>
      <p>{{Textos['Tratamiento dental accidente']}}</p>
      <p>{{Textos['Evaluacion psiquiatrica']}}</p>
      <p>{{Textos['Evacuacion medica']}}</p>
      <p>{{Textos['Repatriacion']}}</p>
      <p>{{Textos['Gastos medicos 2']}}</p>
      <p>{{Textos['Fisioterapia']}}</p>
      <p>{{Textos['Rayos X']}}</p>
      <p style="padding: 10px;"></p>
      <p style="font-weight: bold;">{{Textos['Seguro de accidentes']}}</p>
      <p>{{Textos['Muerte']}}</p>
      <p>{{Textos['Desmembramiento']}}</p>
      <p>{{Textos['Costo por rescate']}}</p>
      <p style="padding: 10px;"></p>
      <p style="font-weight: bold;">{{Textos['Seguro de asistencia']}}</p>
      <p>{{Textos['Gastos de viaje']}}</p>
      <p>{{Textos['Pasaje aereo 1']}}</p>
      <p>{{Textos['Pasaje aereo 2']}}</p>
      <p style="padding: 10px;"></p>
      <p style="font-weight: bold;">{{Textos['Seguro de equipajes']}}</p>
      <p>{{Textos['Hurto']}}</p>
      <p>{{Textos['Relojes']}}</p>
      <p>{{Textos['Retraso']}}</p>
      <p style="padding: 10px;"></p>
      <p style="font-weight: bold;">{{Textos['Responsabilidad civil']}}</p>
      <p>{{Textos['Responsabilidad']}}</p>
      <p>{{Textos['Dano a terceros']}}</p>
      <p>{{Textos['Responsabilidad 2']}}</p>
    </div>
    <div class="columna-6 listado"><!-- COL 2 -->
      <p style="color: white;">.</p>
      <p>{{Textos['Gastos medicos R']}}</p>
      <p>{{Textos['Eleccion medico R']}}</p>
      <p>{{Textos['Tratamiento dental urgente R']}}</p>
      <p>{{Textos['Tratamiento dental accidente R']}}</p>
      <p>{{Textos['Evaluacion psiquiatrica R']}}</p>
      <p>{{Textos['Evacuacion medica R']}}</p>
      <p>{{Textos['Gastos medicos 2 R']}}</p>
      <p>{{Textos['Repatriacion R']}}</p>
      <p>{{Textos['Fisioterapia R']}}</p>
      <p>{{Textos['Rayos X R']}}</p>
      <p style="padding: 10px;"></p>
      <p style="color: white;">.</p>
      <p>{{Textos['Muerte R']}}</p>
      <p>{{Textos['Desmembramiento R']}}</p>
      <p>{{Textos['Costo por rescate R']}}</p>
      <p style="padding: 10px;"></p>
      <p style="color: white;">.</p>
      <p>{{Textos['Gastos de viaje R']}}</p>
      <p>{{Textos['Pasaje aereo R']}}</p>
      <p style="color: white;">.</p>
      <p style="padding: 10px;"></p>
      <p style="color: white;">.</p>
      <p>{{Textos['Hurto R']}}</p>
      <p>{{Textos['Relojes R']}}</p>
      <p>{{Textos['Retraso R']}}</p>
      <p style="padding: 10px;"></p>
      <p style="color: white;">.</p>
      <p>{{Textos['Responsabilidad R']}}</p>
      <p>{{Textos['Dano a terceros R']}}</p>
      <p>{{Textos['Responsabilidad 2 R']}}</p>
    </div>
    <div class="columna-12 listado">
      <p style="padding: 10px;"></p>
      <p>{{Textos['Es responsabilidad 1']}}</p>
      <p>{{Textos['Es responsabilidad 2']}}</p>
      <p style="padding: 10px;"></p>
    </div>
    <div class="columna-4 listado">
      <p>{{Textos['Deducible']}}:</p>
      <p>{{Textos['Compania de seguros']}}:</p>
      <p>{{Textos['Centro USA']}}:</p>
      <p>{{Textos['Centro mundial']}}:</p>
      <p style="padding: 10px;"></p>
      <p>{{Textos['Correo']}}:</p>
    </div>
    <div class="columna-8 listado">
      <p>{{Textos['Deducible R']}}</p>
      <p>{{Textos['Compania de seguros R']}}</p>
      <p>{{Textos['Centro USA R']}}</p>
      <p>{{Textos['Centro mundial R']}}</p>
      <p style="padding: 10px;"></p>
      <p>{{Textos['Correo R']}}</p>
    </div>
    <div class="columna-12 listado">
      <p style="padding: 10px;"></p>
      <p>{{Textos['Mas informacion']}}</p>
      <p>{{Textos['Sinceramente']}}</p>
      <img src="assets/img/firma_poliza.png" alt="FIRMA" width="170px">
    </div>
    <div class="columna-12 listado" style="text-align: center;">
      <hr>
      <p>{{Textos['Direccion']}}</p>
      <p>{{Textos['Telefono']}}</p>
    </div>
  </div>
</div>
