.fila {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
  }
  
  div.area{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 11pt; */
    font-size: 13.96px;
  }
  
  .columna-4{
    width: 33.33%;
  }
  .columna-6{
    width: 50%;
  }
  .columna-1{
    width: 8.33%
  }
  .columna-2{
    width: 16.66%
  }
  .columna-3{
    width: 25%;
  }
  .columna-5{
    width: 41.66%;
  }
  .columna-8{
    width: 66.66%;
  }
  .columna-12{
    width: 100%;
  }
  
  .listado p{
    margin: 0;
  }
  
  .botones i{
    font-size: 20pt;
    cursor: pointer;
    margin: 5px;
  }
  .botones i:hover{
    color: #666;
  }
  
  .botones{
    text-align: center;
    background-color: rgb(211, 211, 211);
  }
  
  .idiomas{
    background-color: rgb(187, 187, 187);
    text-align: center;
  }
  .idiomas button{
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(180, 231, 240);
    margin: 2px 6px;
    cursor: pointer;
  }