<div style="padding: 5px 15px;">
  <app-datos-filtro 
    (clickColumnas)="columnas($event)"
    (keyupFiltro)="filtroTexto($event)"
    (clickEliminar)="filtroEliminar($event)"
    (changeSeleccionar)="filtroSeleccionar($event)"
    (clickExcel)="filtroExcel($event)"
    (aplicarFiltro)="filtroAplicar($event)"
    [columnas]="Columnas"
    [seleccionados]="Seleccionados"
    [agregar]="false">
  </app-datos-filtro>
</div>

<div class="tabla" style="width: 100%;">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null; actualizarSeleccion()"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null; actualizarSeleccion()"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container *ngFor="let Columna of Columnas" matColumnDef="{{Columna.id}}">
    <th [hidden]="Columna.ocultar" mat-header-cell *matHeaderCellDef> {{Columna.nombre}} </th>
    <td [hidden]="Columna.ocultar" mat-cell *matCellDef="let element"> {{element[Columna.id]}} </td>
  </ng-container>			 	  

  <ng-container matColumnDef="factura_archivo">
    <th mat-header-cell *matHeaderCellDef> Archivo </th>
    <td mat-cell *matCellDef="let element"> 
      <!-- <a *ngIf="element['factura_archivo']" style="font-size: 10pt; color: #5298d6;" target="blank" href="http://misegurointernacional.com/ADMIN/archivos/Conciliar/{{element['id']}}.{{element['factura_archivo']}}">Ver archivo</a> -->
      <a *ngIf="element['factura_archivo']" style="font-size: 10pt; color: #5298d6;" target="blank" href="http://admin.misegurointernacional.com/archivos/Conciliar/{{element['id']}}.{{element['factura_archivo']}}">Ver archivo</a>
    </td>
  </ng-container>	 

  <!-- <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> 
      <a (click)="modificarConciliar(element)"><i class="fas fa-edit"></i></a>
    </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
</table>
</div>

<app-datos-pagina
(changePaginas)="cambioPagina($event)"
[total]="DatosCantidad">
</app-datos-pagina>