<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

	<h1 mat-dialog-title style="font-weight: bold; text-align: center">Recuperar contraseña</h1>
	
	<form #formIniciar="ngForm">

		<mat-form-field class="full-width">
			<input matInput placeholder="Nueva contraseña" type="password" required
				minlength="8"  [(ngModel)]="Datos.contrasena" name="contrasena" #contrasena="ngModel">
		</mat-form-field>

		<mat-form-field class="full-width">
			<input matInput placeholder="Repetir contraseña" type="password" required
				minlength="8"  [(ngModel)]="Datos.contrasena2" name="contrasena2" #contrasena2="ngModel">
		</mat-form-field>

		<button *ngIf="contrasena.invalid || contrasena2.invalid || contrasena2.value != contrasena.value" mat-flat-button color="accent" type="submit"  class="full-width" disabled="true">Cambiar contraseña</button>
		<p *ngIf="contrasena2.value != contrasena.value">Las contraseñas deben ser iguales</p>
		<button *ngIf="contrasena.valid && contrasena2.valid && contrasena2.value == contrasena.value" mat-flat-button color="accent" type="submit"  class="full-width" disabled="false" (click)="cambiarContrasena()">Cambiar contraseña</button>


	</form>

</div>