<div mat-dialog-content>
    <app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>
  
    <h1 mat-dialog-title style="font-weight: bold; text-align: center">Subir archivo</h1>

    <div class="col-sm-12">
        <div style="font-style: italic;">{{Archivo.Nombre}}</div>
        <label class="subir-archivo" style="width:100%;">
          <i class="fas fa-file-upload"></i>
        <input type="file" value="" hidden name="foto"style="display: none;" (change)="cambioArchivo($event)">
          Archivo
      </label>
    </div> 

		<button style="margin-top: 20px;" class="boton derecha" mat-flat-button color="primary" type="submit" disabled="false" (click)="guardarArchivo()">Subir</button>

</div>