<div class="contenido clientes">
	<h1 class="primario-mas-claro" en="fondo">Clientes/Asegurados</h1>

	<app-datos-filtro 
      (clickColumnas)="columnas($event)"
      (keyupFiltro)="filtroTexto($event)"
      (clickEliminar)="filtroEliminar($event)"
      (changeSeleccionar)="filtroSeleccionar($event)"
      (clickExcel)="filtroExcel($event)"
      (aplicarFiltro)="filtroAplicar($event)"
      [columnas]="Columnas"
      [seleccionados]="Seleccionados"
      [subirExcel]="'asegurados'"
      [agregar]="false">
	</app-datos-filtro>


    <div class="tabla">
    	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

			  <!-- Checkbox Column -->
			  <ng-container matColumnDef="select">
			    <th mat-header-cell *matHeaderCellDef>
			      <mat-checkbox (change)="$event ? masterToggle() : null; actualizarSeleccion()"
			                    [checked]="selection.hasValue() && isAllSelected()"
			                    [indeterminate]="selection.hasValue() && !isAllSelected()">
			      </mat-checkbox>
			    </th>
			    <td mat-cell *matCellDef="let row">
			      <mat-checkbox (click)="$event.stopPropagation()"
			                    (change)="$event ? selection.toggle(row) : null; actualizarSeleccion()"
			                    [checked]="selection.isSelected(row)">
			      </mat-checkbox>
			    </td>
			  </ng-container>

			  <ng-container *ngFor="let Columna of Columnas" matColumnDef="{{Columna.id}}">
			    <th [hidden]="Columna.ocultar" mat-header-cell *matHeaderCellDef> {{Columna.nombre}} </th>
			    <td [hidden]="Columna.ocultar" mat-cell *matCellDef="let element"> 
						<ng-container *ngIf="Columna.id === 'nombre_completo'; else elseTemplate">
							<a style="font-size: 11pt;" [routerLink]="['/Asegurados', element['cliente_id']]">{{element[Columna.id]}}</a> 
						</ng-container>
						<ng-template #elseTemplate>
							{{element[Columna.id]}} 
						</ng-template>						
					</td>
			  </ng-container>

			  <!-- <ng-container matColumnDef="liquidadoI">
			    <th mat-header-cell *matHeaderCellDef> Liquidado </th>
			    <td mat-cell *matCellDef="let element">						
						<i *ngIf="element['saldo_pendiente_USD'] > 0" class="fas fa-times" style="font-size: 16pt;"></i>
						<i *ngIf="element['saldo_pendiente_USD'] <= 0" class="fas fa-check" style="font-size: 16pt;"></i>
			    </td>
			  </ng-container>	 -->

			  <ng-container matColumnDef="liquidadoI">
			    <th mat-header-cell *matHeaderCellDef> Liquidado </th>
			    <td mat-cell *matCellDef="let element">						
						<i *ngIf="element['liquidado'] == 0" class="fas fa-times" style="font-size: 16pt;"></i>
						<i *ngIf="element['liquidado'] == 1" class="fas fa-check" style="font-size: 16pt;"></i>
			    </td>
			  </ng-container>		

			  <!-- <ng-container matColumnDef="estado">
			    <th mat-header-cell *matHeaderCellDef> Estado </th>
			    <td mat-cell *matCellDef="let element">						
						<i *ngIf="element['precioMXN'] < 0" style="font-size: 16pt;">Cancelado</i>
						<i *ngIf="element['extendido'] == 1" style="font-size: 16pt;">Extendido</i>
						<i *ngIf="element['extendido'] == 0 && element['precioMXN'] > 0" style="font-size: 16pt;"></i>
			    </td>
			  </ng-container>		 -->

			  <!-- <ng-container matColumnDef="saldo_pendiente_USD">
			    <th mat-header-cell *matHeaderCellDef> Saldo pendiente </th>
			    <td mat-cell *matCellDef="let element">						
						<i *ngIf="element['saldo_pendiente_USD'] == 0" class="fas fa-times" style="font-size: 16pt;"></i>
						<i *ngIf="element['saldo_pendiente_USD'] > 0" class="fas fa-check" style="font-size: 16pt;"></i>
			    </td>
			  </ng-container>			   -->

			  <ng-container matColumnDef="acciones">
			    <th mat-header-cell *matHeaderCellDef> Acciones </th>
			    <td mat-cell *matCellDef="let element" class="acciones">						
						<!-- <div class="opciones" *ngIf="Opciones[element['cliente_id']]"> -->
						<div class="opciones" *ngIf="Opciones[element['id']]">
							<ul>
								<li><a [routerLink]="['/Asegurados', element['cliente_id']]">Ver</a></li>
								<li><a (click)="_Ventana.asignarSeguro(element['cliente_id'])" *ngIf="sesion.admin()">Asignar</a></li>
								<li><a (click)="pagoGrupo(element)" *ngIf="sesion.admin()">Pago en grupo</a></li>
							</ul>
						</div>
						<i style="cursor: pointer;" class="fas fa-ellipsis-v" (click)="opcionCambio(element['id'])"></i>
			    </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
			</table>
    </div>

    <app-datos-pagina
    	(changePaginas)="cambioPagina($event)"
    	[total]="DatosCantidad">
    </app-datos-pagina>

</div>