<h1 mat-dialog-title>Confirmar eliminar {{data.usuario}}</h1>
<div mat-dialog-content>
  <div style="text-align: center">
  <p>¿Eliminar a {{data.usuario}}?</p></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="data.id" cdkFocusInitial>Sí</button>
</div>