<div class="contenido container">

	<div class="row" style="margin-top: 30px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        	<mat-form-field class="full-width">
				<input matInput placeholder="Usuario" type="text" required
						minlength="1"  [(ngModel)]="Datos.usuario" #Usuario="ngModel">
			</mat-form-field>
			<mat-form-field class="full-width">
				<input matInput placeholder="Contraseña" type="text" required
						minlength="1"  [(ngModel)]="Datos.pw" #PW="ngModel">
			</mat-form-field>
			<mat-form-field class="full-width">
				<input matInput placeholder="Email" type="text" required
						minlength="1"  [(ngModel)]="Datos.email" #Email="ngModel">
			</mat-form-field>

			<mat-form-field class="full-width">
		    	<mat-select placeholder="Oficina">
				    <mat-option *ngFor="let Oficina of Oficinas" [value]="Oficina.id">
				      {{Oficina.oficina}}
				    </mat-option>
			  	</mat-select>
		  	</mat-form-field>

			<mat-form-field class="full-width">
		    	<mat-select placeholder="Rol">
				    <mat-option *ngFor="let Rol of Roles" [value]="Rol.id">
				      {{Rol.rol}}
				    </mat-option>
			  	</mat-select>
		  	</mat-form-field>

			<mat-form-field class="full-width">
		    	<mat-select placeholder="Empresa">
				    <mat-option *ngFor="let Empresa of Empresas" [value]="Empresa.id">
				      {{Empresa.empresa}}
				    </mat-option>
			  	</mat-select>
		  	</mat-form-field>

		  	<button *ngIf="Usuario.invalid || PW.invalid" mat-flat-button color="accent" type="submit"  class="full-width" disabled="true">Crear usuario</button>
 			<button *ngIf="Usuario.valid && PW.valid" mat-flat-button color="accent" type="submit"  class="full-width" disabled="false">Crear usuario</button>

        </div>
        <div class="col-sm-3"></div>
    </div>
	
</div>