<div class="contenido clientes">

	<!-- <h1>Menú principal</h1> -->
	<div class="container inicio">
		<div *ngIf="!Sesion.cliente()" class="row" style="margin-bottom: 40px; margin-top: 5px;">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<mat-form-field class="full-width no-line">
					<input matInput placeholder="Nombre, correo..." style="border: 1px solid #d6d6d6; padding: 7px;"
						   type="text"
						   (keyup)="busqueda($event)"
						   [(ngModel)]="Busqueda">
				</mat-form-field>
				<div class="busqueda" *ngIf="DatosBusqueda.length > 0">
					<a [routerLink]="['/'+Datos.link, Datos.id]" *ngFor="let Datos of DatosBusqueda">
						<div class="row">
							<div class="col-sm-12">
								{{Datos.nombre_completo}}
							</div>
						</div>
						<hr>
					</a>
				</div>

				<!-- <div *ngFor="let Datos of DatosBusqueda" class="row">
					<div class="col-sm-9">
						{{Datos.nombre_completo}}
					</div>
					<div class="col-sm-3">
						<a [routerLink]="['/Asegurados', Datos.id]">Ver</a>
					</div>
				</div> -->
			</div>
			<div class="col-sm-3"></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="row" style="padding-top: 50px;">
					<div class="col-sm-4"></div>
					<div *ngIf="Sesion.cliente()" class="col-sm-4 menu">
						<a [routerLink]="['/Cliente', Sesion.id_datos()]"><div class="cuadro">Cliente</div></a>
					</div>
					<div class="col-sm-4"></div>
				</div>
				<div class="row">
					<div *ngIf="!Sesion.cliente()" class="col-sm-4 menu"><a routerLink="/Cotizacion"><div class="cuadro">Alta</div></a></div>
					<!-- <div *ngIf="!Sesion.cliente()" class="col-sm-3 menu"><a routerLink="/Clientes/Prospectos"><div class="cuadro">Prospectos</div></a></div> -->
					<div *ngIf="!Sesion.cliente()" class="col-sm-4 menu"><a routerLink="/Clientes/Asegurados"><div class="cuadro">Asegurados</div></a></div>
					<div *ngIf="Sesion.admin()" class="col-sm-4 menu"><a routerLink="/Administracion/Pagos"><div class="cuadro">Pagos</div></a></div>
				</div>
				<div class="row">
					<div *ngIf="Sesion.admin()" class="col-sm-3 menu"><a routerLink="/Administracion/Conciliar"><div class="cuadro">Conciliar</div></a></div>
					<div *ngIf="Sesion.admin()" class="col-sm-3 menu"><a routerLink="/Administracion/Comisiones"><div class="cuadro">Comisiones</div></a></div>
					<div *ngIf="Sesion.admin()" class="col-sm-3 menu"><a routerLink="/Incidencias"><div class="cuadro">Reclamos</div></a></div>
					<div *ngIf="Sesion.admin()" class="col-sm-3 menu"><a routerLink="/Administracion/Margen"><div class="cuadro">Reportes</div></a></div>
				</div>
			</div>
			<!-- <div class="col-sm-3 menu">
				<div *ngIf="Sesion.admin()"><a routerLink="/Administracion/Margen"><div class="cuadro" style="height: 400px; padding-top: 170px;">Reportes</div></a>
			</div> -->
		</div>	
	</div>

</div>