h1{
	margin-bottom: 14px;
}

.row div.menu{
	/*padding: 60px;*/
	margin-bottom: 6vh;
}

.cuadro{
	
	min-height: 140px;
	margin-bottom: 20px;
}

.row div.menu a{
	/*margin: 20px;*/
	color: white;
	font-weight: bold;
	font-size: 24pt;
	/*padding: 55px 70px;*/
	text-decoration: none;
	text-align: center;
}

.row div.menu a div{
	padding-top: 40px;

	-webkit-box-shadow: 0px 14px 66px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 14px 66px -13px rgba(0,0,0,0.75);
box-shadow: 0px 14px 66px -13px rgba(0,0,0,0.75);
}

.row div.menu a div:hover{
	text-decoration: none;

	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    0px 0px 18px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         0px 0px 18px 0px rgba(0, 0, 0, 0.8);
}

.busqueda{
	top: 50px;
	left: 0;
	background-color: rgb(236, 236, 236);
	padding: 3px;
	position: absolute;
	width: 100%;
	z-index: 1000;
}
.busqueda a{
	color: black;
	text-decoration: none;
	border-bottom: 1px solid black;
	padding-bottom: 1px;
}
.busqueda a:hover{
	font-weight: bold;
}
.busqueda hr{
	margin: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
	height: 0px !important;
}
::ng-deep .no-line .mat-form-field-underline {
    display: none;
}